.hggs-dropdown {
  position: relative;
  width: 100%;
  border: var(
    --dropdown-border,
    1px solid var(--hggs-color-auxiliary-gray-003-default)
  );
  border-radius: var(--dropdown-border-radius, --hggs-border-radius-default);
  height: var(--dropdown-height, 38px);

  &[open] {
    border: var(
      --dropdown-border-focus,
      1px solid var(--hggs-color-primary-default)
    );
    z-index: 1;
    box-shadow: var(
      --dropdown-box-shadow-focus,
      --hggs-form-box-primary-focus-default
    );

    & .hggs-dropdown-selected-options {
      &:after {
        border-bottom: var(
          --dropdown-open-icon-border-focus,
          3px solid var(--hggs-color-primary-default)
        );
        border-left: var(
          --dropdown-open-icon-border-focus,
          3px solid var(--hggs-color-primary-default)
        );
        transform: rotate(-45deg) translate(0%, 0%);
      }
    }
  }

  & .hggs-dropdown-selected-options {
    @extend .hggs-flex--center-left-row;

    height: 100%;
    list-style: none;
    counter-reset: radios;
    cursor: pointer;
    background-color: var(--dropdown-options-selected-background, transparent);
    padding-left: var(
      --dropdown-options-selected-padding-left,
      --hggs-space-horizontal-medium-default
    );

    &::-webkit-details-marker {
      display: none;
    }

    &:after {
      position: absolute;
      top: 30%;
      content: "";
      display: inline-block;
      width: var(--dropdown-open-icon-size, 10px);
      height: var(--dropdown-open-icon-size, 6px);
      right: var(--hggs-space-vertical-medium);
      border-bottom: var(
        --dropdown-open-icon-border,
        3px solid var(--hggs-color-auxiliary-gray-004-default)
      );
      border-left: var(
        --dropdown-open-icon-border,
        3px solid var(--hggs-color-auxiliary-gray-004-default)
      );
      border-bottom-left-radius: var(
        --dropdown-open-icon-border-bottom-left-radius,
        2px
      );
      transform: rotate(45deg) translate(50%, 0%);
      transform-origin: center center;
      transition: transform ease-in-out 100ms;
    }

    &:focus {
      outline: none;
    }

    & .hggs-dropdown-selected-option {
      counter-increment: radios;
      appearance: none;
      display: none;
      padding: 0;
      margin: 0;
      cursor: pointer;

      &:checked {
        display: inline;
      }

      &:after {
        content: attr(title);
        display: inline;
        font-family: var(
          --dropdown-option-selected-font-family,
          --hggs-font-family-primary-default
        );
        font-size: var(
          --dropdown-option-selected-font-size,
          --hggs-font-size-default
        );
        color: var(--dropdown-option-selected-color, --hggs-app-color-default);
      }
    }
  }

  & .hggs-dropdown-options {
    position: absolute;
    width: 100%;
    top: var(
      --dropdown-options-top,
      calc(100% + var(--hggs-space-vertical-micro))
    );
    left: 0;
    margin: 0;
    padding: 0;
    background-color: var(--dropdown-options-background, transparent);
    box-sizing: border-box;
    border: var(
      --dropdown-options-border,
      1px solid var(--hggs-color-auxiliary-gray-002)
    );
    border-radius: var(
      --dropdown-options-border-radius,
      --hggs-border-radius-default
    );
    max-height: var(--dropdown-options-max-height, 200px);
    overflow-y: auto;
    counter-reset: labels;
    list-style: none;
    box-shadow: var(
      --dropdown-options-box-shadow,
      0 5.1px 3.3px -49px rgba(0, 0, 0, 0.03),
      0 41px 26px -49px rgba(0, 0, 0, 0.06)
    );

    & .hggs-dropdown-option {
      margin: 0;
      padding: 0;

      & .hggs-dropdown-option-label {
        display: block;
        width: 100%;
        cursor: pointer;
        font-family: var(
          --dropdown-option-label-font-family,
          --hggs-font-family-primary-default
        );
        font-size: var(
          --dropdown-option-label-font-size,
          --hggs-font-size-default
        );
        color: var(--dropdown-option-label-color, --hggs-app-color-default);
        padding: var(
          --dropdown-option-label-padding,
          calc(var(--hggs-space-vertical-medium-default) / 2) 0
            calc(var(--hggs-space-vertical-medium-default) / 2)
            var(--hggs-space-horizontal-medium-default)
        );
      }

      &:hover {
        background-color: var(
          --dropdown-option-label-background-hover,
          --hggs-color-auxiliary-gray-002
        );
      }
    }
  }
}
