<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-dropdown</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/styles.js"></script>

    <script type="text/javascript" src="./dropdown.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(d) { %>
        <%
         const articleDropdownStyle = _.reduce(d?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerDropdownStyle = _.reduce(d?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const detailsDropdownClasses = _.reduce(d?.classes?.details, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + '; ' + c;
          }, '');

          const summaryDropdownClasses = _.reduce(d?.classes?.summary, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + '; ' + c;
          }, '');

          const optionsDropdownClasses = _.reduce(d.classes.ul, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + '; ' + c;
          }, '');
        %>
        <article style="<%= articleDropdownStyle %>">
          <h3 class="hggs-h3" style="<%= headerDropdownStyle %>">
            <%= d.title %>
          </h3>
          <details class="<%= detailsDropdownClasses %>">
            <summary class="<%= summaryDropdownClasses %>">
              <% _.each(d.ids.input, function(o, index) { %>
                <%
                  const inputDropdownClasses = _.reduce(d.classes.input, (acc, c) => {
                    if (!acc) {
                      return c;
                    }

                    return acc + '; ' + c;
                  }, '');
                %>

                <% if (index === 0 ) { %>
                  <input class="<%= inputDropdownClasses %>" type="radio" name="<%= d.names.input[index] %>" id="<%= d.ids.input[index] %>" title="<%= d.labels.options[index] %>" checked>
                <% } else { %>
                  <input class="<%= inputDropdownClasses %>" type="radio" name="<%= d.names.input[index] %>" id="<%= d.ids.input[index] %>" title="<%= d.labels.options[index] %>">
                <% } %>
              <% }) %>
            </summary>
            <ul class="<%= optionsDropdownClasses %>">
              <% _.each(d.ids.input, function(o, index) { %>
                <%
                  const optionDropdownClasses = _.reduce(d.classes.li, (acc, c) => {
                    if (!acc) {
                      return c;
                    }

                    return acc + '; ' + c;
                  }, '');

                  const labelDropdownClasses = _.reduce(d.classes.label, (acc, c) => {
                    if (!acc) {
                      return c;
                    }

                    return acc + '; ' + c;
                  }, '');
                %>
                <li class="<%= optionDropdownClasses %>">
                  <label class="<%= labelDropdownClasses %>" for="<%= d.ids.input[index] %>">
                    <%= d.labels.options[index] %>
                  </label>
                </li>
              <% }) %>
            </ul>
          </details>
        </article>
        <% }) %>
    </script>
  </head>

  <body
    id="body"
    class="hggs-app hggs-flex--top-left-column"
    style="width: 100%; height: 100%; padding: 30px"
  ></body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
