<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script
      type="text/javascript">WebFont.load({ google: { families: ["DM Sans:regular,italic,500,500italic,700,700italic"] } });</script>
    <title>hggs-tag</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/captain-america.css" />
  </head>

  <body class="hggs-flex--top-left-column" style="width: 100%; height: 100%; padding: 0 30px 30px 30px;">
    <h3 class="hggs-h3" style="margin-bottom: 10px">.hggs-tag</h3>
    <div class="hggs-tag">default</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--primary</h3>
    <div class="hggs-tag hggs-tag--primary">primary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--secondary</h3>
    <div class="hggs-tag hggs-tag--secondary">secondary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--tertiary</h3>
    <div class="hggs-tag hggs-tag--tertiary">tertiary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quaternary</h3>
    <div class="hggs-tag hggs-tag--quaternary">quaternary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quinary</h3>
    <div  style="background: black; padding: 10px;">
        <div class="hggs-tag hggs-tag--quinary">quinary</div>
    </div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--senary</h3>
    <div class="hggs-tag hggs-tag--senary">senary</div>

    <h3 class="hggs-h3" style="margin-bottom: 10px">.hggs-tag.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--rounded">default</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--primary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--primary hggs-tag--rounded">primary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--secondary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--secondary hggs-tag--rounded">secondary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--tertiary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--tertiary hggs-tag--rounded">tertiary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quaternary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--quaternary hggs-tag--rounded">quaternary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quinary.hggs-tag--rounded</h3>
    <div  style="background: black; padding: 10px;">
        <div class="hggs-tag hggs-tag--quinary hggs-tag--rounded">quinary</div>
    </div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--senary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--senary hggs-tag--rounded">senary</div>

    <h3 class="hggs-h3" style="margin-bottom: 10px">.hggs-tag.hggs-tag--rounded.hggs-tag--outline</h3>
    <div class="hggs-tag hggs-tag--rounded hggs-tag--outline">default</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--primary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--primary hggs-tag--rounded hggs-tag--outline">primary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--secondary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--secondary hggs-tag--rounded hggs-tag--outline">secondary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--tertiary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--tertiary hggs-tag--rounded hggs-tag--outline">tertiary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quaternary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--quaternary hggs-tag--rounded hggs-tag--outline">quaternary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--quinary.hggs-tag--rounded</h3>
    <div  style="background: black; padding: 10px;">
        <div class="hggs-tag hggs-tag--quinary hggs-tag--rounded hggs-tag--outline">quinary</div>
    </div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--senary.hggs-tag--rounded</h3>
    <div class="hggs-tag hggs-tag--senary hggs-tag--rounded hggs-tag--outline">senary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--subtle</h3>
    <div class="hggs-tag hggs-tag--subtle">default</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--subtle.hggs-tag--primary</h3>
    <div class="hggs-tag hggs-tag--subtle hggs-tag--primary">primary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--subtle.hggs-tag--secondary</h3>
    <div class="hggs-tag hggs-tag--subtle hggs-tag--secondary">secondary</div>

    <h3 class="hggs-h3" style="margin-top: 40px; margin-bottom: 10px">.hggs-tag.hggs-tag--subtle.hggs-tag--tertiary</h3>
    <div class="hggs-tag hggs-tag--subtle hggs-tag--tertiary">tertiary</div>
  </body>
</html>

