<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
    <script
      type="text/javascript">WebFont.load({ google: { families: ["DM Sans:regular,italic,500,500italic,700,700italic"] } });</script>
    <title>hggs-tag</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/captain-america.css" />
  </head>

  <body class="hggs-flex--top-left-column" style="width: 100vw; height: 100vh; padding: 30px;">
    <h3 class="hggs-h3" style="margin-bottom: 10px">.hggs-tag</h3>
    <div class="hggs-tag">default</div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--primary</h3>
    <div class="hggs-tag hggs-tag--primary">primary</div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--secondary</h3>
    <div class="hggs-tag hggs-tag--secondary">secondary</div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--tertiary</h3>
    <div class="hggs-tag hggs-tag--tertiary">tertiary</div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--quaternary</h3>
    <div class="hggs-tag hggs-tag--quaternary">quaternary</div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--quinary</h3>
    <div  style="background: black; padding: 10px;">
        <div class="hggs-tag hggs-tag--quinary">quinary</div>
    </div>

    <h3 class="hggs-h3" style="margin-top: 20px; margin-bottom: 10px">.hggs-tag.hggs-tag--senary</h3>
    <div class="hggs-tag hggs-tag--senary">senary</div>
  </body>
</html>
