<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-tag</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/higgsboson.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/styles.js"></script>

    <script type="text/javascript" src="./tag.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(t) { %>

        <%
          const articleTagStyle = _.reduce(t?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerTagStyle = _.reduce(t?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const tagClass = _.reduce(t.classes.tag, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + ' ' + c;
          }, '');

          const tagWrapStyle = _.reduce(t?.styles?.wrap, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleTagStyle %>">
          <h3 class="hggs-h3" style="<%= headerTagStyle %>">
            <%= t.title %>
          </h3>

          <% if (t?.styles?.wrap) { %>
            <div style="<%= tagWrapStyle %>">
              <div class="<%= tagClass %>">
                <%= t.label %>
              </div>
            </div>
          <% } else { %>
            <div class="<%= tagClass %>">
              <%= t.label %>
            </div>
          <% } %>
        </article>
      <% }); %>

      <!-- Outline -->
      <article style="<%= articleStyles %>">
        <%
          const headerOutlineTagStyle = _.reduce(data.outline[0].styles.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>
        <h3 class="hggs-h3" style="<%= headerOutlineTagStyle %>">
          <%= data.outline[0].title %>
        </h3>
        <div class="hggs-flex hggs-flex--top-left-row hggs-flex--row-wrap">
          <% _.each(data.outline, function(ts, ti) { %>
            <%
              let tagOutlineClass = _.reduce(ts.classes.tag, (acc, c) => {
                if (!acc) {
                  return c;
                }

                return acc + ' ' + c;
              }, '');

              const tagWrapStyle = _.reduce(ts?.styles?.wrap, (acc, s) => {
                if (!acc) {
                  return s;
                }

                return acc + '; ' + s;
              }, '');

              const tagStyle = _.reduce(ts?.styles?.tag, (acc, s) => {
                if (!acc) {
                  return s;
                }

                return acc + '; ' + s;
              }, '');
            %>

            <% if (ts?.styles?.wrap) { %>
              <div style="<%= tagWrapStyle %>">
                <div class="<%= tagOutlineClass %>">
                  <%= ts.label %>
                </div>
              </div>
            <% } else { %>
              <div
                class="<%= tagOutlineClass %>"
                style="<%= tagStyle %>"
              >
                <%= ts.label %>
              </div>
            <% } %>
          <% }); %>
        </div>
      </article>

      <!-- Rounded -->
      <article style="<%= articleStyles %>">
        <%
          const headerRoundedTagStyle = _.reduce(data.rounded[0].styles.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>
        <h3 class="hggs-h3" style="<%= headerRoundedTagStyle %>">
          <%= data.rounded[0].title %>
        </h3>
        <div class="hggs-flex hggs-flex--top-left-row hggs-flex--row-wrap">
          <% _.each(data.rounded, function(ts) { %>
          <%
            let tagRoundedClass = _.reduce(ts.classes.tag, (acc, c) => {
              if (!acc) {
                return c;
              }

              return acc + ' ' + c;
            }, '');

            const tagWrapStyle = _.reduce(ts?.styles?.wrap, (acc, s) => {
              if (!acc) {
                return s;
              }

              return acc + '; ' + s;
            }, '');

            const tagStyle = _.reduce(ts?.styles?.tag, (acc, s) => {
              if (!acc) {
                return s;
              }

              return acc + '; ' + s;
            }, '');
          %>

          <% if (ts?.styles?.wrap) { %>
            <div style="<%= tagWrapStyle %>">
              <div class="<%= tagRoundedClass %>">
                <%= ts.label %>
              </div>
            </div>
          <% } else { %>
            <div
              class="<%= tagRoundedClass %>"
              style="<%= tagStyle %>"
            >
              <%= ts.label %>
            </div>
          <% } %>
          <% }); %>
        </div>
      </article>

      <!-- Small -->
      <article style="<%= articleStyles %>">
        <%
          const headerSmallTagStyle = _.reduce(data.small[0].styles.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>
        <h3 class="hggs-h3" style="<%= headerSmallTagStyle %>">
          <%= data.small[0].title %>
        </h3>
        <div class="hggs-flex hggs-flex--top-left-row hggs-flex--row-wrap">
          <% _.each(data.small, function(ts) { %>
          <%
            let tagSmallClass = _.reduce(ts.classes.tag, (acc, c) => {
              if (!acc) {
                return c;
              }

              return acc + ' ' + c;
            }, '');

            const tagWrapStyle = _.reduce(ts?.styles?.wrap, (acc, s) => {
              if (!acc) {
                return s;
              }

              return acc + '; ' + s;
            }, '');

            const tagStyle = _.reduce(ts?.styles?.tag, (acc, s) => {
              if (!acc) {
                return s;
              }

              return acc + '; ' + s;
            }, '');
          %>

          <% if (ts?.styles?.wrap) { %>
            <div style="<%= tagWrapStyle %>">
              <div class="<%= tagSmallClass %>">
                <%= ts.label %>
              </div>
            </div>
          <% } else { %>
            <div
              class="<%= tagSmallClass %>"
              style="<%= tagStyle %>"
            >
              <%= ts.label %>
            </div>
          <% } %>
          <% }); %>
        </div>
      </article>
    </script>
  </head>

  <body>
    <div
      id="body"
      class="hggs-app hggs-flex--top-left-column"
      style="width: 100%; height: 100%; padding: 30px"
    ></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
