%hggs-tag-outline-reset {
  background: unset;
  background-image: unset;
}

.hggs-tag {
  width: fit-content;
  font-family: var(--tag-font-family, --tag-font-family-default);
  font-size: var(--tag-font-size, --tag-font-size-default);
  font-weight: var(--tag-font-weight, --tag-font-weight-default);
  background: var(--tag-background, --tag-background-default);
  color: var(--tag-color, --tag-color-default);
  padding: var(--tag-padding, --tag-padding-default);
  text-align: var(--tag-text-align, --tag-text-align-default);
  text-transform: var(--tag-text-transform, uppercase);
  letter-spacing: var(--tag-letter-spacing, --tag-letter-spacing-default);

  &.hggs-tag--outline {
    @extend %hggs-tag-outline-reset;

    border: var(--tag-border-outline, 1px solid var(--hggs-color-auxiliary-gray-004));
    color: var(--tag-color-outline);
  }

  &.hggs-tag--primary {
    background: var(--tag-background-primary, --tag-background-primary-default);
    color: var(--tag-color-primary, --tag-color-primary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-primary, 1px solid var(--hggs-color-primary-default));
      color: var(--tag-color-outline-primary);
    }
  }

  &.hggs-tag--secondary {
    background: var(--tag-background-secondary, --tag-background-secondary-default);
    color: var(--tag-color-secondary, --tag-color-secondary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-secondary, 1px solid var(--hggs-color-secondary-default));
      color: var(--tag-color-outline-secondary);
    }
  }

  &.hggs-tag--tertiary {
    background: var(--tag-background-tertiary, --tag-background-tertiary-default);
    color: var(--tag-color-tertiary, --tag-color-tertiary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-tertiary, 1px solid var(--hggs-color-tertiary-default));
      color: var(--tag-color-outline-tertiary);
    }
  }

  &.hggs-tag--quaternary {
    background: var(--tag-background-quaternary, --tag-background-quaternary-default);
    color: var(--tag-color-quaternary, --tag-color-quaternary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-quaternary, 1px solid var(--hggs-color-quaternary-default));
      color: var(--tag-color-outline-quaternary);
    }
  }

  &.hggs-tag--quinary {
    background: var(--tag-background-quinary, --tag-background-quinary-default);
    color: var(--tag-color-quinary, --tag-color-quinary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-quinary, 1px solid var(--hggs-color-quinary-default));
      color: var(--tag-color-outline-quinary);
    }
  }

  &.hggs-tag--senary {
    background: var(--tag-background-senary, --tag-background-senary-default);
    color: var(--tag-color-senary, --tag-color-senary-default);

    &.hggs-tag--outline {
      @extend %hggs-tag-outline-reset;

      border: var(--tag-border-outline-senary, 1px solid var(--hggs-color-senary-default));
      color: var(--tag-color-outline-senary);
    }
  }

  &.hggs-tag--rounded {
    border-radius: var(--tag-border-radius, --hggs-boder-radius-default);
  }
}
