.hggs-list {
  --list-item-font-family: var(--hggs-font-family-primary);
  --list-item-font-weight: var(--hggs-font-weight-normal);
  --list-item-color: var(--hggs-color);
  --list-item-font-size: var(--hggs-font-size);
  --list-item-margin-bottom: var(--hggs-space-vertical-micro);
  --list-padding-left: var(--hggs-space-horizontal-macro);
  --list-item-content-marker: counter(list-item) " -   ";
  --list-item-color-marker: var(--hggs-color);
  --list-item-font-size-marker: var(--hggs-font-size-medium);
  --list-item-font-weight-marker: var(--hggs-font-weight-medium-plus);
}

