.hggs-tag {
  --tag-font-family: var(--hggs-font-family-primary);
  --tag-font-size: var(--hggs-font-size-small);
  --tag-font-size-small: var(--hggs-font-size-nano);
  --tag-font-weight: var(--hggs-font-weight-bold);
  --tag-text-transform: uppercase;
  --tag-letter-spacing: var(--hggs-font-letter-spacing-small);
  --tag-text-align: center;
  --tag-background: var(--hggs-color-auxiliary-gray-002);
  --tag-color: var(--hggs-color-auxiliary-gray-008);
  --tag-padding: var(--hggs-space-horizontal-small)
    var(--hggs-space-vertical-medium);
  --tag-padding-small: var(--hggs-space-horizontal-micro)
    var(--hggs-space-vertical-small);
  --tag-border-radius: calc(var(--hggs-border-radius) * 2);
  --tag-border-outline: 1px solid var(--hggs-color-auxiliary-gray-004);
  --tag-color-outline: var(--hggs-color-auxiliary-gray-004);
  --tag-background-subtle: var(--hggs-color-auxiliary-gray-001);
  --tag-color-subtle: var(--hggs-color-auxiliary-gray-004);
  --tag-border-outline-subtle: 1px solid var(--hggs-color-auxiliary-gray-001);
  --tag-color-outline-subtle: var(--hggs-color-auxiliary-gray-005);
  --tag-background-primary: var(--hggs-color-primary);
  --tag-color-primary: var(--hggs-color-auxiliary-primary-000);
  --tag-border-outline-primary: var(--hggs-border-primary);
  --tag-color-outline-primary: var(--hggs-color-primary);
  --tag-background-subtle-primary: var(--hggs-color-auxiliary-primary-001);
  --tag-color-subtle-primary: var(--hggs-color-auxiliary-primary-005);
  --tag-border-outline-primary-subtle: 1px solid
    var(--hggs-color-auxiliary-primary-001);
  --tag-color-outline-primary-subtle: var(--hggs-color-auxiliary-primary-005);
  --tag-background-secondary: var(--hggs-color-secondary);
  --tag-color-secondary: var(--hggs-color-auxiliary-secondary-000);
  --tag-border-outline-secondary: var(--hggs-border-secondary);
  --tag-color-outline-secondary: var(--hggs-color-secondary);
  --tag-background-subtle-secondary: var(--hggs-color-auxiliary-secondary-001);
  --tag-color-subtle-secondary: var(--hggs-color-auxiliary-secondary-005);
  --tag-border-outline-secondary-subtle: 1px solid
    var(--hggs-color-auxiliary-secondary-001);
  --tag-color-outline-secondary-subtle: var(
    --hggs-color-auxiliary-secondary-005
  );
  --tag-background-tertiary: var(--hggs-color-tertiary);
  --tag-color-tertiary: var(--hggs-color-septenary);
  --tag-border-outline-tertiary: var(--hggs-border-tertiary);
  --tag-color-outline-tertiary: var(--hggs-color-tertiary);
  --tag-background-subtle-tertiary: var(--hggs-color-auxiliary-tertiary-001);
  --tag-color-subtle-tertiary: var(--hggs-color-auxiliary-tertiary-005);
  --tag-border-outline-tertiary-subtle: 1px solid
    var(--hggs-color-auxiliary-tertiary-001);
  --tag-color-outline-tertiary-subtle: var(--hggs-color-auxiliary-tertiary-005);
  --tag-background-quaternary: var(--hggs-color-quaternary);
  --tag-color-quaternary: var(--hggs-color-quinary);
  --tag-border-outline-quaternary: var(--hggs-border-quaternary);
  --tag-color-outline-quaternary: var(--hggs-color-quaternary);
  --tag-background-subtle-quaternary: var(--hggs-color-auxiliary-gray-001);
  --tag-color-subtle-quaternary: var(--hggs-color-auxiliary-gray-005);
  --tag-border-outline-quaternary-subtle: 1px solid
    var(--hggs-color-auxiliary-gray-001);
  --tag-color-outline-quaternary-subtle: var(--hggs-color-auxiliary-gray-005);
  --tag-background-quinary: var(--hggs-color-quinary);
  --tag-color-quinary: var(--hggs-color-quaternary);
  --tag-border-outline-quinary: var(--hggs-border-quinary);
  --tag-color-outline-quinary: var(--hggs-color-quinary);
  --tag-background-subtle-quinary: var(--hggs-color-auxiliary-gray-005);
  --tag-color-subtle-quinary: var(--hggs-color-auxiliary-gray-001);
  --tag-border-outline-quinary-subtle: 1px solid
    var(--hggs-color-auxiliary-gray-005);
  --tag-color-outline-quinary-subtle: var(--hggs-color-auxiliary-gray-003);
  --tag-background-senary: var(--hggs-color-senary);
  --tag-color-senary: var(--hggs-color-auxiliary-senary-000);
  --tag-border-outline-senary: var(--hggs-border-senary);
  --tag-color-outline-senary: var(--hggs-color-senary);
  --tag-background-subtle-senary: var(--hggs-color-auxiliary-senary-001);
  --tag-color-subtle-senary: var(--hggs-color-auxiliary-senary-005);
  --tag-border-outline-senary-subtle: 1px solid
    var(--hggs-color-auxiliary-senary-001);
  --tag-color-outline-senary-subtle: var(--hggs-color-auxiliary-senary-005);
}
