:root {
  --hggs-color-primary: #3753c4;
  --hggs-color-primary-001: #2f46a6;
  --hggs-color-auxiliary-primary-000: #f0f2fb;
  --hggs-color-auxiliary-primary-001: #dfe3f7;
  --hggs-color-auxiliary-primary-002: #b9c2ee;
  --hggs-filter-primary: invert(28%) sepia(40%) saturate(2699%)
    hue-rotate(212deg) brightness(93%) contrast(94%);
  --hggs-filter-primary-001: invert(27%) sepia(11%) saturate(6768%) hue-rotate(204deg) brightness(99%) contrast(100%);
  --hggs-color-secondary: #ce4136;
  --hggs-color-secondary-001: #af362c;
  --hggs-color-auxiliary-secondary-000: #f9e6e3;
  --hggs-color-auxiliary-secondary-001: #edbeba;
  --hggs-color-auxiliary-secondary-002: #de827a;
  --hggs-filter-secondary: invert(32%) sepia(24%) saturate(3291%)
    hue-rotate(331deg) brightness(99%) contrast(95%);
  --hggs-filter-secondary-001: invert(24%) sepia(62%) saturate(2295%) hue-rotate(348deg) brightness(91%) contrast(78%);
  --hggs-color-tertiary: #FAD02C;
  --hggs-color-tertiary-001: #f3c821;
  --hggs-color-auxiliary-tertiary-000: #fef9e2;
  --hggs-color-auxiliary-tertiary-001: #fdeeb0;
  --hggs-color-auxiliary-tertiary-002: #fae067;
  --hggs-filter-tertiary: invert(90%) sepia(48%) saturate(3381%) hue-rotate(329deg) brightness(100%) contrast(97%);
  --hggs-filter-tertiary-001: invert(88%) sepia(33%) saturate(2272%) hue-rotate(343deg) brightness(104%) contrast(91%);
  --hggs-color-quaternary: #000;
  --hggs-filter-quaternary: invert(0%) sepia(54%) saturate(2989%) hue-rotate(174deg) brightness(108%) contrast(108%);
  --hggs-color-quinary: #fff;
  --hggs-filter-quinary: invert(100%) sepia(100%) saturate(0%) hue-rotate(157deg) brightness(102%) contrast(102%);
  --hggs-color-senary: #39bfff;
  --hggs-color-senary-001: #28b3f5;
  --hggs-color-auxiliary-senary-000: #f0faff;
  --hggs-color-auxiliary-senary-001: #e1f5ff;
  --hggs-color-auxiliary-senary-002: #c1ebff;
  --hggs-color-auxiliary-senary-003: #a4e1ff;
  --hggs-filter-senary:  invert(58%) sepia(82%) saturate(1159%) hue-rotate(173deg) brightness(103%) contrast(101%);
  --hggs-filter-senary-001: invert(53%) sepia(95%) saturate(387%) hue-rotate(155deg) brightness(96%) contrast(100%);
  --hggs-color-error: #ff0b0b;
  --hggs-color-auxiliary-gray-000: #f6f7f9;
  --hggs-color-auxiliary-gray-001: #eee;
  --hggs-color-auxiliary-gray-002: #e0e0e0;
  --hggs-color-auxiliary-gray-003: #c9c9c9;
  --hggs-color-auxiliary-gray-004: #727272;
  --hggs-color-auxiliary-gray-005: #5f5f61;
  --hggs-color-auxiliary-gray-006: #4e4b4b;
  --hggs-color-auxiliary-gray-007: #353535;
  --hggs-color-auxiliary-gray-008: #1b1d2a;
  --hggs-color-auxiliary-gray-009: #101119;
  --hggs-filter-auxiliary-gray-002: invert(84%) sepia(0%) saturate(7497%) hue-rotate(107deg) brightness(105%) contrast(101%);
  --hggs-filter-auxiliary-gray-004: invert(49%) sepia(0%) saturate(1%) hue-rotate(119deg) brightness(90%) contrast(89%);
  --hggs-color-auxiliary-gray-alpha-002: rgba(0, 0, 0, 0.1);
  --hggs-color-auxiliary-gray-alpha-004: rgba(0, 0, 0, 0.25);
  --hggs-color-auxiliary-gray-alpha-007: rgba(58, 58, 58, 0.6);
  --hggs-color-auxiliary-gray-alpha-008: rgba(8, 8, 8, 0.6);
  --hggs-font-family-primary: "DM Sans", sans-serif;
  --hggs-font-size-colossal: 38px;
  --hggs-font-size-enormous: 32px;
  --hggs-font-size-extra-big: 28px;
  --hggs-font-size-big: 24px;
  --hggs-font-size-medium: 18px;
  --hggs-font-size-text-normal-plus: 16px;
  --hggs-font-size-text: 14px;
  --hggs-font-size-text-small: 12px;
  --hggs-font-size-text-micro: 10px;
  --hggs-font-weight-normal: 400;
  --hggs-font-weight-medium: 500;
  --hggs-font-weight-medium-plus: 600;
  --hggs-font-weight-bold: 700;
  --hggs-font-weight-extra-bold: 900;
  --hggs-line-height: 20px;
  --hggs-line-height-small: 10px;
  --hggs-line-height-micro: 5px;
  --hggs-boder-radius-big: 20px;
  --hggs-boder-radius: 8px;
  --hggs-boder: 1px solid var(--hggs-color-auxiliary-gray-001);
  --hggs-space-vertical-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-vertical-small: calc(var(--hggs-space-vertical-medium) / 2);
  --hggs-space-vertical-micro: calc(var(--hggs-space-vertical-medium) / 4);
  --hggs-space-vertical-big: calc(var(--hggs-space-vertical-medium) * 2);
  --hggs-space-horizontal-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-horizontal-big: calc(var(--hggs-space-horizontal-medium) * 2);
  --hggs-space-horizontal-small: calc(var(--hggs-space-horizontal-medium) / 2);
  --hggs-space-horizontal-micro: calc(var(--hggs-space-horizontal-medium) / 4);
  --hggs-layer-10: 10;
  --hggs-layer-0: 1;
  --hggs-app-background: var(--hggs-color-quinary);
  --hggs-app-color: var(--hggs-color-auxiliary-gray-005);
}

.hggs-h1,
.hggs-h2,
.hggs-h3,
.hggs-h4,
.hggs-h5,
.hggs-h6 {
  --title-font-famiy: var(--hggs-font-family-primary);
  --title-color: var(--hggs-color-auxiliary-gray-008);
  --title-h1-font-size: var(--hggs-font-size-colossal);
  --title-h1-font-weight: var(--hggs-font-weight-medium);
  --title-h1-margin: var(--hggs-space-vertical-big) 0
    var(--hggs-space-vertical-medium) 0;
  --title-h2-font-size: var(--hggs-font-size-enormous);
  --title-h2-font-weight: var(--hggs-font-weight-medium);
  --title-h2-margin: var(--hggs-space-vertical-big) 0
    var(--hggs-space-vertical-medium) 0;
  --title-h3-font-size: var(--hggs-font-size-extra-big);
  --title-h3-font-weight: var(--hggs-font-weight-bold);
  --title-h3-margin: var(--hggs-space-vertical-medium) 0
    var(--hggs-space-vertical-small) 0;
  --title-h4-font-size: var(--hggs-font-size-big);
  --title-h4-font-weight: var(--hggs-font-weight-bold);
  --title-h4-margin: var(--hggs-space-vertical-medium) 0
    var(--hggs-space-vertical-small) 0;
  --title-h5-font-size: var(--hggs-font-size-medium);
  --title-h5-font-weight: var(--hggs-font-weight-bold);
  --title-h5-margin: var(--hggs-space-vertical-small) 0
    var(--hggs-space-vertical-small) 0;
  --title-h6-font-size: var(--hggs-font-size-text);
  --title-h6-font-weight: var(--hggs-font-weight-bold);
  --title-h6-margin: var(--hggs-space-vertical-small) 0
    var(--hggs-space-vertical-small) 0;
}

.hggs-text {
  --text-color: var(--hggs-color-auxiliary-gray-005);
  --text-font-famiy: var(--hggs-font-family-primary);
  --text-font-size: var(--hggs-font-size-text);
  --text-font-weight: var(--hggs-font-weight-normal);
  --text-font-weight-bold: var(--hggs-font-weight-bold);
  --text-font-size-small: var(--hggs-font-size-text-small);
  --text-margin: var(--hggs-space-vertical-medium) 0;
  --text-line-height: var(--hggs-line-height);
}

.hggs-list {
  --list-item-font-family: var(--hggs-font-family-primary);
  --list-item-font-weight: var(--hggs-font-weight-normal);
  --list-item-color: var(--hggs-app-color);
  --list-item-font-size: var(--hggs-font-size-text);
  --list-item-margin-bottom: var(--hggs-space-vertical-micro);
  --list-item-content-marker: counter(list-item) " -   ";
  --list-item-color-marker: var(--hggs-app-color);
  --list-item-font-size-marker: var(--hggs-font-size-text-big);
  --list-item-font-weight-marker: var(--hggs-font-weight-medium-plus);
}

.hggs-form {
  --form-input-space-vertical: var(--hggs-space-vertical-medium);
}

.hggs-label {
  --label-font-family: var(--hggs-font-family-primary);
  --label-font-weight: var(--hggs-font-weight-medium);
  --label-font-size: var(--hggs-font-size-text);
  --label-color: var(--hggs-color-auxiliary-gray-005);
  --label-color-focus: var(--hggs-color-auxiliary-gray-007);
  --label-color-disabled: var(--hggs-color-auxiliary-gray-001);
}

.hggs-input {
  --input-border: 1px solid var(--hggs-color-auxiliary-gray-003);
  --input-border-radius: var(--hggs-boder-radius);
  --input-border-focus: 1px solid var(--hggs-color-primary);
  --input-border-disabled: 1px solid var(--hggs-color-auxiliary-gray-001);
  --input-border-invalid: 1px solid var(--hggs-color-error);
  --input-height: 38px;
  --input-padding: 8px 12px;
  --input-height-big: 64px;
  --input-padding-big: 8px 15px;
  --input-color-placeholder: var(--hggs-color-auxiliary-gray-003);
}

.hggs-field {
  --field-margin-bottom: var(--hggs-space-vertical-small);
  --field-label-after-color-required: var(--hggs-color-senary);
  --field-label-after-margin-left-required: var(--hggs-space-horizontal-micro);
}

.hggs-icon-wrapper,
.hggs-icon,
.hggs-button {
  --icon-size: 20px;
  --icon-size-small: 12px;
  --icon-size-micro: 10px;
  --icon-user: url("./assets/icons/user.svg");
  --icon-question: url("./assets/icons/question.svg");
  --icon-log-out: url("./assets/icons/log-out.svg");
  --icon-hamburger-menu: url("./assets/icons/hamburger-menu.svg");
  --icon-edit: url("./assets/icons/pencil.svg");
  --icon-close: url("./assets/icons/close.svg");
  --icon-plus: url("./assets/icons/plus.svg");
  --icon-filter: var(--hggs-filter-auxiliary-gray-004);
  --icon-filter-primary: var(--hggs-filter-primary);
  --icon-filter-secondary: var(--hggs-filter-secondary);
  --icon-filter-tertiary: var(--hggs-filter-tertiary);
  --icon-filter-quaternary: var( --hggs-filter-quaternary);
  --icon-filter-quinary: var( --hggs-filter-quinary);
  --icon-filter-senary: var( --hggs-filter-senary);
  --icon-box-padding: var(--hggs-space-horizontal-small);
  --icon-box-padding-micro: var(--hggs-space-horizontal-micro);
  --icon-box-background: var(--hggs-color-auxiliary-gray-001);
  --icon-box-background-primary: var(--hggs-color-primary);
  --icon-box-background-secondary: var(--hggs-color-secondary);
  --icon-box-background-tertiary: var(--hggs-color-tertiary);
  --icon-box-background-quaternary: var(--hggs-color-quaternary);
  --icon-box-background-quinary: var(--hggs-color-quinary);
  --icon-box-background-senary: var(--hggs-color-senary);
  --icon-outline-border: 1px solid var(--hggs-color-auxiliary-gray-004);
  --icon-outline-border-primary: 1px solid var(--hggs-color-primary);
  --icon-outline-border-secondary: 1px solid var(--hggs-color-secondary);
  --icon-outline-border-tertiary: 1px solid var(--hggs-color-tertiary);
  --icon-outline-border-quinary: 1px solid var(--hggs-color-quinary);
  --icon-outline-border-senary: 1px solid var(--hggs-color-senary);
  --icon-outline-border-quaternary:1px solid var(--hggs-color-quaternary);
  --icon-label-font-family: var(--hggs-font-family-primary);
  --icon-label-font-weigth: var(--hggs-font-weight-medium);
  --icon-label-font-size: var(--hggs-font-size-text);
  --icon-label-color: var(--hggs-color-auxiliary-gray-007);
  --icon-label-quinary-color: var(--hggs-color-quinary);
  --icon-label-margin-left: var(--hggs-space-horizontal-small);
}

.hggs-button {
  --button-height: 65px;
  --button-padding: 0 40px;
  --button-width-big: 250px;
  --button-width-medium: 180px;
  --button-height-medium: 48px;
  --button-padding-medium: 0 10px;
  --button-width-small: 70px;
  --button-height-small: 30px;
  --button-padding-small: 0 5px;
  --button-font-family: var(--hggs-font-family-primary);
  --button-font-size: var(--hggs-font-size-text-normal-plus);
  --button-font-size-medium: var(--hggs-font-size-text);
  --button-font-size-small: var(--hggs-font-size-text-small);
  --button-font-weight: var(--hggs-font-weight-medium);
  --button-font-letter-spacing: 1px;
  --button-color: var(--hggs-color-auxiliary-gray-008);
  --button-border-radius: 3px;
  --button-margin-vertical: var(--hggs-space-vertical-small);
  --button-background: var(--hggs-color-auxiliary-gray-001);
  --button-background-hover: var(--hggs-color-auxiliary-gray-002);
  --button-color-hover: var(--hggs-color-auxiliary-gray-009);
  --button-box-shadow-hover:  0px 0px 0px 2px var(--hggs-color-auxiliary-gray-002);
  --button-transition-hover: all 200ms ease;
  --button-background-primary: var(--hggs-color-primary);
  --button-color-primary: var(--hggs-color-quinary);
  --button-background-primary-hover: var(--hggs-color-primary-001);
  --button-box-shadow-primary-hover: 0px 0px 0px 2px var(--hggs-color-primary-001);
  --button-transition-primary-hover: all 200ms ease;
  --button-background-secondary: var(--hggs-color-secondary);
  --button-color-secondary: var(--hggs-color-quinary);
  --button-background-secondary-hover: var(--hggs-color-secondary-001);
  --button-box-shadow-secondary-hover: 0px 0px 0px 2px var(--hggs-color-secondary-001);
  --button-transition-secondary-hover: all 200ms ease;
  --button-background-tertiary: var(--hggs-color-tertiary);
  --button-color-tertiary: var(--hggs-color-quaternary);
  --button-background-tertiary-hover: var(--hggs-color-tertiary-001);
  --button-box-shadow-tertiary-hover: 0px 0px 0px 2px var(--hggs-color-tertiary-001);
  --button-transition-tertiary-hover: all 200ms ease;
  --button-background-quaternary: var(--hggs-color-quaternary);
  --button-color-quaternary: var(--hggs-color-quinary);
  --button-background-quaternary-hover: var(--hggs-color-quaternary);
  --button-box-shadow-quaternary-hover: 0px 0px 0px 2px var(--hggs-color-quaternary);
  --button-transition-quaternary-hover: all 200ms ease;
  --button-background-quinary: var(--hggs-color-quinary);
  --button-color-quinary: var(--hggs-color-quaternary);
  --button-background-quinary-hover: var(--hggs-color-quinary);
  --button-box-shadow-quinary-hover: 0px 0px 0px 2px var(--hggs-color--quinary);
  --button-transition-quinary-hover: all 200ms ease;
  --button-background-senary: var(--hggs-color-senary);
  --button-color-senary: var(--hggs-color-quinary);
  --button-background-senary-hover: var(--hggs-color-senary-001);
  --button-box-shadow-senary-hover: 0px 0px 0px 2px var(--hggs-color-senary-001);
  --button-transition-senary-hover: all 200ms ease;
  --button-border-outline: 1px solid var(--hggs-color-auxiliary-gray-004);
  --button-color-outline: var(--hggs-color-auxiliary-gray-004);
  --button-box-shadow-outline-hover: 0px 0px 0px 2px var(--hggs-color-auxiliary-gray-005);
  --button-border-outline-hover: 1px solid transparent;
  --button-border-outline-primary: 1px solid var(--hggs-color-primary);
  --button-color-outline-primary: var(--hggs-color-primary);
  --button-box-shadow-outline-primary-hover: 0px 0px 0px 2px var(--hggs-color-primary-001);
  --button-border-outline-primary-hover: 1px solid transparent;
  --button-color-outline-primary-hover: var(--hggs-color-primary-001);
  --button-border-outline-secondary: 1px solid var(--hggs-color-secondary);
  --button-color-outline-secondary: var(--hggs-color-secondary);
  --button-border-outline-secondary-hover: 1px solid transparent;
  --button-box-shadow-outline-secondary-hover: 0px 0px 0px 2px var(--hggs-color-secondary-001);
  --button-color-outline-secondary-hover: var(--hggs-color-secondary-001);
  --button-border-outline-tertiary: 1px solid var(--hggs-color-tertiary);
  --button-color-outline-tertiary: var(--hggs-color-tertiary);
  --button-border-outline-tertiary-hover: 1px solid transparent;
  --button-box-shadow-outline-tertiary-hover: 0px 0px 0px 2px  var(--hggs-color-tertiary-001);
  --button-color-outline-tertiary-hover: var(--hggs-color-tertiary-001);
  --button-border-outline-quaternary: 1px solid var(--hggs-color-quaternary);
  --button-color-outline-quaternary: var(--hggs-color-quaternary);
  --button-border-outline-quaternary-hover: 1px solid transparent;
  --button-box-shadow-outline-quaternary-hover: 0px 0px 0px 2px var(--hggs-color-quaternary);
  --button-color-outline-quaternary-hover: var(--hggs-color-quaternary);
  --button-border-outline-quinary: 1px solid var(--hggs-color-quinary);;
  --button-color-outline-quinary: var(--hggs-color-quinary);
  --button-border-outline-quinary-hover: 1px solid transparent;
  --button-box-shadow-outline-quinary-hover: 0px 0px 0px 2px var(--hggs-color-quinary);
  --button-color-outline-quinary-hover: var(--hggs-color-quinary);
  --button-border-outline-senary: 1px solid var(--hggs-color-senary);;
  --button-color-outline-senary: var(--hggs-color-senary);
  --button-border-outline-senary-hover: 1px solid transparent;
  --button-box-shadow-outline-senary-hover: 0px 0px 0px 2px var(--hggs-color-senary-001);
  --button-color-outline-senary-hover: var(--hggs-color-senary-001);
  --button-icon-padding: 0;
  --button-icon-width: calc(var(--icon-size) + var(--button-icon-padding));
  --button-icon-filter-hover: var(--hggs-color-auxiliary-gray-005);
  --button-icon-filter-primary-hover: var(--hggs-filter-primary-001);
  --button-icon-filter-secondary-hover: var(--hggs-filter-secondary-001);
  --button-icon-filter-tertiary-hover: var(--hggs-filter-tertiary-001);
  --button-icon-filter-quaternary-hover: var(--hggs-filter-quaternary-001);
  --button-icon-filter-quinary-hover: var(--hggs-filter-quinary);
  --button-icon-filter-senary-hover: var(--hggs-filter-senary-001);
  --button-icon-label-color-quinary: var(--hggs-color-quinary);
  --button-icon-label-color-hover: var(--hggs-color-auxiliary-gray-008);
  --button-icon-label-color-primary-hover: var(--hggs-color-auxiliary-gray-008);
  --button-icon-label-color-secondary-hover: var(--hggs-color-auxiliary-gray-008);
  --button-icon-label-color-tertiary-hover: var(--hggs-color-auxiliary-gray-008);
  --button-icon-label-color-quaternary-hover: var(--hggs-color-auxiliary-gray-008);
  --button-icon-label-color-quinary-hover: var(--hggs-color-quinary);
  --button-icon-label-color-senary-hover: var(--hggs-color-auxiliary-gray-008);
}

.hggs-link {
  --link-font-family: var(--hggs-font-family-primary);
  --link-font-weight: var(--hggs-font-weight-medium);
  --link-color: var(--hggs-color-primary);
  --link-color-hover: var(--hggs-color-primary-001);
}

.hggs-logo {
  --logo-url: url("./assets/svg/logo.svg");
  --logo-width: 300px;
  --logo-height: 300px;
  --logo-url-white: url("./assets/svg/logo-white.svg");
  --logo-url-black: url("./assets/svg/logo-black.svg");
}

.hggs-table-wrapper {
  --table-wrapper-border-radius: 0;
  --table-wrapper-box-shadow: unset;
}

.hggs-table {
  --table-min-width: 650px;
  --table-tbody-first-row-padding-top: 40px;
  --table-tbody-first-column-padding-left: unset;
  --table-cell-font-family: var(--hggs-font-family-primary);
  --table-cell-font-weight: var(--hggs-font-weight-normal);
  --table-cell-font-size: var(--hggs-font-size-text-small);
  --table-cell-font-color: var(--hggs-color-auxiliary-gray-004);
  --table-cell-padding: 16px;
  --table-cell-text-align: left;
  --table-cell-border-bottom: var(--hggs-boder);
  --table-cell-border-bottom-last-child: var(--hggs-boder);
  --table-cell-font-weight-bold: var(--hggs-font-weight-bold);
  --table-cell-head-font-weight: var(--hggs-font-weight-medium);
  --table-cell-head-font-size: var(--hggs-font-size-text);
  --table-cell-head-color: var(--hggs-app-color);
  --table-cell-head-background: var(--hggs-color-auxiliary-gray-000);
  --table-cell-head-padding: 30px 20px;
  --table-cell-head-border-bottom: unset;
}

.hggs-tag {
  --tag-font-family: var(--hggs-font-family-primary);
  --tag-font-size: var(--hggs-font-size-text-micro);
  --tag-font-weight: var(--hggs-font-weight-bold);
  --tag-text-transform: uppercase;
  --tag-letter-spacing: 0.2px;
  --tag-text-align: center;
  --tag-background: var(--hggs-color-auxiliary-gray-002);
  --tag-color: var(--hggs-color-auxiliary-gray-008);
  --tag-padding: 5px 10px;
  --tag-border-radius: calc(var(--hggs-boder-radius)*2);
  --tag-border-outline: 1px solid var(--hggs-color-auxiliary-gray-004);
  --tag-color-outline: var(--hggs-color-auxiliary-gray-004);
  --tag-background-primary: var(--hggs-color-primary);
  --tag-color-primary: var(--hggs-color-auxiliary-primary-000);
  --tag-border-outline-primary: 1px solid var(--hggs-color-primary);
  --tag-color-outline-primary: var(--hggs-color-primary);
  --tag-background-secondary: var(--hggs-color-secondary);
  --tag-color-secondary: var(--hggs-color-auxiliary-secondary-000);
  --tag-border-outline-secondary: 1px solid var(--hggs-color-secondary);
  --tag-color-outline-secondary: var(--hggs-color-secondary);
  --tag-background-tertiary: var(--hggs-color-tertiary);
  --tag-color-tertiary: var(--hggs-color-septenary);
  --tag-border-outline-tertiary: 1px solid var(--hggs-color-tertiary);
  --tag-color-outline-tertiary: var(--hggs-color-tertiary);
  --tag-background-quaternary: var(--hggs-color-quaternary);
  --tag-color-quaternary: var(--hggs-color-quinary);
  --tag-border-outline-quaternary: 1px solid var(--hggs-color-quaternary);
  --tag-color-outline-quaternary: var(--hggs-color-quaternary);
  --tag-background-quinary: var(--hggs-color-quinary);
  --tag-color-quinary: var(--hggs-color-quaternary);
  --tag-border-outline-quinary: 1px solid var(--hggs-color-quinary);
  --tag-color-outline-quinary: var(--hggs-color-quinary);
  --tag-background-senary: var(--hggs-color-senary);
  --tag-color-senary: var(--hggs-color-auxiliary-senary-000);
  --tag-border-outline-senary: 1px solid var(--hggs-color-senary);
  --tag-color-outline-senary: var(--hggs-color-senary);
}

.hggs-box {
  --box-min-height: 100px;
  --box-background: var(--hggs-color-quinary);
  --box-box-shadow: 0 1px 5px 0 var(--hggs-color-auxiliary-gray-001);
  --box-padding: var(--hggs-space-vertical-big)
    var(--hggs-space-horizontal-medium);
  --box-header-border-bottom: 1px solid var(--hggs-color-auxiliary-gray-002);
  --box-header-padding: 0 0 0 0;
  --box-title-font-size: var(--hggs-font-size-text-normal-plus);
  --box-title-margin-top: 0;
  --box-body-padding: var(--hggs-space-vertical-medium) 0 0 0;
  --box-border-radius-with-radius: var(--hggs-boder-radius-big);
  --box-background-primary: var(--hggs-color-auxiliary-senary-000);
  --box-border-primary: 1px solid var(--hggs-color-senary);
  --box-title-color-primary: var(--hggs-color-senary);
  --box-header-border-bottom-primary: 1px solid
    var(--hggs-color-auxiliary-senary-002);
}

.hggs-hamburger-menu {
  --hamburger-menu-background: var(--hggs-color-auxiliary-gray-002);
  --hamburger-menu-font-family: var(--hggs-font-family-primary);
  --hamburger-menu-font-size: var(--hggs-font-size-text);
  --hamburger-menu-item-color: var(--hggs-color-auxiliary-gray-005);
  --hamburger-menu-item-hover-background: var(--hggs-color-auxiliary-gray-001);
  --hamburger-menu-item-padding-horizontal: 20px;
  --hamburger-menu-item-padding-vertical: calc(
    var(--hamburger-menu-item-padding-horizontal) / 2
  );
  --hamburger-menu-icon-hover-background: var(--hggs-color-auxiliary-gray-003);
}

@keyframes hggs-dialog-appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hggs-dialog {
  --dialog-background-color: var(--hggs-app-background);
  --dialog-color: var(--hggs-app-color);
  --dialog-text-align: center;
  --dialog-padding: 50px 30px 50px 30px;
  --dialog-border-radius: 6px;
  --dialog-max-width: 90vw;
  --dialog-anmimation-open: hggs-dialog-appear 0.15s
    cubic-bezier(0, 1.8, 1, 1.8);
  --dialog-background-box-shadow: 0 0 40px
      var(--hggs-color-auxiliary-gray-alpha-002),
    0 0 10px var(--hggs-color-auxiliary-gray-alpha-004);
  --dialog-width-big: 80vw;
  --dialog-width-medium: 65vw;
  --dialog-width-small: 40vw;
}
