:root {
  --hggs-color-primary: #3753c4;
  --hggs-color-primary-001: #2f46a6;
  --hggs-color-secondary: #ce4136;
  --hggs-color-tertiary: #fbf300;
  --hggs-color-quaternary: #000;
  --hggs-color-quinary: #fff;
  --hggs-color-senary: #39bfff;
  --hggs-color-auxiliary-senary-000: #f0faff;
  --hggs-color-auxiliary-senary-001: #e1f5ff;
  --hggs-color-auxiliary-senary-002: #c1ebff;
  --hggs-color-auxiliary-senary-003: #a4e1ff;
  --hggs-color-error: #ff0b0b;
  --hggs-color-auxiliary-gray-000: #f6f7f9;
  --hggs-color-auxiliary-gray-001: #eee;
  --hggs-color-auxiliary-gray-002: #e0e0e0;
  --hggs-color-auxiliary-gray-003: #c9c9c9;
  --hggs-color-auxiliary-gray-004: #727272;
  --hggs-color-auxiliary-gray-005: #5f5f61;
  --hggs-color-auxiliary-gray-006: #4e4b4b;
  --hggs-color-auxiliary-gray-007: #353535;
  --hggs-color-auxiliary-gray-008: #1b1d2a;
  --hggs-color-auxiliary-gray-alpha-002: rgba(0, 0, 0, 0.1);
  --hggs-color-auxiliary-gray-alpha-004: rgba(0, 0, 0, 0.25);
  --hggs-color-auxiliary-gray-alpha-007: rgba(58, 58, 58, 0.6);
  --hggs-color-auxiliary-gray-alpha-008: rgba(8, 8, 8, 0.6);
  --hggs-font-family-primary: "DM Sans", sans-serif;
  --hggs-font-size-colossal: 38px;
  --hggs-font-size-enormous: 32px;
  --hggs-font-size-extra-big: 28px;
  --hggs-font-size-big: 24px;
  --hggs-font-size-medium: 18px;
  --hggs-font-size-text-normal-plus: 16px;
  --hggs-font-size-text: 14px;
  --hggs-font-size-text-small: 12px;
  --hggs-font-weight-normal: 400;
  --hggs-font-weight-medium: 500;
  --hggs-font-weight-medium-plus: 600;
  --hggs-font-weight-bold: 700;
  --hggs-font-weight-extra-bold: 900;
  --hggs-line-height: 20px;
  --hggs-line-height-small: 10px;
  --hggs-line-height-micro: 5px;
  --hggs-boder-radius-big: 20px;
  --hggs-boder-radius: 8px;
  --hggs-boder: 1px solid var(--hggs-color-auxiliary-gray-001);
  --hggs-space-vertical-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-vertical-small: calc(var(--hggs-space-vertical-medium) / 2);
  --hggs-space-vertical-micro: calc(var(--hggs-space-vertical-medium) / 4);
  --hggs-space-vertical-big: calc(var(--hggs-space-vertical-medium) * 2);
  --hggs-space-horizontal-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-horizontal-big: calc(var(--hggs-space-horizontal-medium) * 2);
  --hggs-space-horizontal-small: calc(var(--hggs-space-horizontal-medium) / 2);
  --hggs-space-horizontal-micro: calc(var(--hggs-space-horizontal-medium) / 4);
  --hggs-layer-10: 10;
  --hggs-layer-0: 1;
  --hggs-app-background: var(--hggs-color-quinary);
  --hggs-app-color: var(--hggs-color-auxiliary-gray-005);
}

.hggs-h1,
.hggs-h2,
.hggs-h3,
.hggs-h4,
.hggs-h5,
.hggs-h6 {
  --title-font-famiy: var(--hggs-font-family-primary);
  --title-color: var(--hggs-color-auxiliary-gray-008);
  --title-h1-font-size: var(--hggs-font-size-colossal);
  --title-h1-font-weight: var(--hggs-font-weight-medium);
  --title-h1-margin: var(--hggs-space-vertical-big) 0
    var(--hggs-space-vertical-medium) 0;
  --title-h2-font-size: var(--hggs-font-size-enormous);
  --title-h2-font-weight: var(--hggs-font-weight-medium);
  --title-h2-margin: var(--hggs-space-vertical-big) 0
    var(--hggs-space-vertical-medium) 0;
  --title-h3-font-size: var(--hggs-font-size-extra-big);
  --title-h3-font-weight: var(--hggs-font-weight-bold);
  --title-h3-margin: var(--hggs-space-vertical-medium) 0
    var(--hggs-space-vertical-small) 0;
  --title-h4-font-size: var(--hggs-font-size-big);
  --title-h4-font-weight: var(--hggs-font-weight-bold);
  --title-h4-margin: var(--hggs-space-vertical-medium) 0
    var(--hggs-space-vertical-small) 0;
  --title-h5-font-size: var(--hggs-font-size-medium);
  --title-h5-font-weight: var(--hggs-font-weight-bold);
  --title-h5-margin: var(--hggs-space-vertical-small) 0
    var(--hggs-space-vertical-small) 0;
  --title-h6-font-size: var(--hggs-font-size-text);
  --title-h6-font-weight: var(--hggs-font-weight-bold);
  --title-h6-margin: var(--hggs-space-vertical-small) 0
    var(--hggs-space-vertical-small) 0;
}

.hggs-text {
  --text-color: var(--hggs-color-auxiliary-gray-005);
  --text-font-famiy: var(--hggs-font-family-primary);
  --text-font-size: var(--hggs-font-size-text);
  --text-font-weight: var(--hggs-font-weight-normal);
  --text-font-weight-bold: var(--hggs-font-weight-bold);
  --text-font-size-small: var(--hggs-font-size-text-small);
  --text-margin: var(--hggs-space-vertical-medium) 0;
  --text-line-height: var(--hggs-line-height);
}

.hggs-list {
  --list-item-font-family: var(--hggs-font-family-primary);
  --list-item-font-weight: var(--hggs-font-weight-normal);
  --list-item-color: var(--hggs-app-color);
  --list-item-font-size: var(--hggs-font-size-text);
  --list-item-margin-bottom: var(--hggs-space-vertical-micro);
  --list-item-content-marker: counter(list-item) " -   ";
  --list-item-color-marker: var(--hggs-app-color);
  --list-item-font-size-marker: var(--hggs-font-size-text-big);
  --list-item-font-weight-marker: var(--hggs-font-weight-medium-plus);
}

.hggs-form {
  --form-input-space-vertical: var(--hggs-space-vertical-medium);
}

.hggs-label {
  --label-font-family: var(--hggs-font-family-primary);
  --label-font-weight: var(--hggs-font-weight-medium);
  --label-font-size: var(--hggs-font-size-text);
  --label-color: var(--hggs-color-auxiliary-005);
  --label-color-focus: var(--hggs-color-auxiliary-007);
  --label-color-disabled: var(--hggs-color-auxiliary-gray-000);
}

.hggs-input {
  --input-border: 1px solid var(--hggs-color-auxiliary-gray-003);
  --input-border-radius: var(--hggs-boder-radius);
  --input-border-focus: 1px solid var(--hggs-color-primary);
  --input-border-disabled: 1px solid var(--hggs-color-auxiliary-gray-000);
  --input-border-invalid: 1px solid var(--hggs-color-error);
  --input-height: 38px;
  --input-padding: 8px 12px;
  --input-height-big: 64px;
  --input-padding-big: 8px 15px;
  --input-color-placeholder: var(--hggs-color-auxiliary-gray-003);
}

.hggs-field {
  --field-margin-bottom: var(--hggs-space-vertical-small);
  --field-label-after-color-required: var(--hggs-color-senary);
  --field-label-after-margin-left-required: var(--hggs-space-horizontal-micro);
}

.hggs-icon {
  --icon-size: 20px;
  --icon-background-user: url("./assets/icons/user.svg");
  --icon-background-question: url("./assets/icons/question.svg");
  --icon-background-log-out: url("./assets/icons/log-out.svg");
  --icon-background-hamburger-menu: url("./assets/icons/hamburger-menu.svg");
  --icon-background-edit: url("./assets/icons/pencil.svg");
  --icon-background-close: url("./assets/icons/close.svg");
  --icon-background-plus: url("./assets/icons/plus.svg");
  --icon-filter-color-primary: invert(28%) sepia(40%) saturate(2699%)
    hue-rotate(212deg) brightness(93%) contrast(94%);
  --icon-filter-color-secondary: invert(32%) sepia(24%) saturate(3291%)
    hue-rotate(331deg) brightness(99%) contrast(95%);
  --icon-filter-color-tertiary: invert(78%) sepia(78%) saturate(612%)
    hue-rotate(3deg) brightness(105%) contrast(107%);

  & + .hggs-icon-label {
    --icon-label-font-family: var(--hggs-font-family-primary);
    --icon-label-font-weigth: var(--hggs-font-weight-medium);
    --icon-label-font-size: var(--hggs-font-size-text);
    --icon-label-color: var(--hggs-color-auxiliary-007);
    --icon-label-margin-left: var(--hggs-space-horizontal-small);
  }
}

.hggs-button {
  --buttton-height: 44px;
  --buttton-padding: 0 40px;
  --button-font-family: var(--hggs-font-family-primary);
  --button-font-size: var(--hggs-font-size-text);
  --button-font-weight: var(--hggs-font-weight-medium);
  --button-font-letter-spacing: 1px;
  --button-border-radius: 3px;
  --button-margin-vertical: var(--hggs-space-vertical-small);
  --buttton-background-primary: var(--hggs-color-primary);
  --buttton-color-primary: var(--hggs-color-quinary);
  --buttton-background-primary-hover: var(--hggs-color-primary-001);
  --button-width-big: 250px;
  --button-width-medium: 180px;
  --button-height-medium: 40px;
  --button-padding-medium: 0 10px;
  --button-width-small: 70px;
  --button-height-small: 30px;
  --button-padding-small: 0 5px;
  --button-font-size-small: var(--hggs-font-size-text-small);
  --button-icon-padding: 10px;
  --button-icon-width: calc(var(--icon-size) + var(--button-icon-padding));
  --button-icon-background-icon-labeled: transparent;
  --button-icon-padding-icon-labeled: 8px;
  --button-icon-size-icon-labeled: 18px;
  --button-icon-border-icon-labeled: 1px solid var(--hggs-color-auxiliary-001);
  --button-icon-box-shadow-icon-labeled: inset 0 -6px 12px 0 var(--hggs-color-auxiliary-gray-000);
  --button-icon-border-icon-labeled-hover: 1px solid
    var(--hggs-color-auxiliary-002);
  --button-icon-background-icon-labeled-hover: var(--hggs-color-auxiliary-000);
  --button-icon-transition-icon-labeled-hover: box-shadow 200ms ease,
    background-color 200ms ease;
  --button-circle-padding: var(--button-icon-padding-icon-labeled);
  --button-circle-background: var(--hggs-color-auxiliary-gray-000);
  --button-circle-transition-hover: background-color 200ms ease;
}

.hggs-link {
  --link-font-family: var(--hggs-font-family-primary);
  --link-font-weight: var(--hggs-font-weight-medium);
  --link-color: var(--hggs-color-primary);
  --link-color-hover: var(--hggs-color-primary-001);
}

.hggs-logo {
  --logo-url: url("./assets/svg/logo.svg");
  --logo-width: 300px;
  --logo-height: 300px;
  --logo-url-white: url("./assets/svg/logo-white.svg");
  --logo-url-black: url("./assets/svg/logo-black.svg");
}

.hggs-table-wrapper {
  --table-wrapper-border-radius: 0;
  --table-wrapper-box-shadow: unset;
}

.hggs-table {
  --table-min-width: 650px;
  --table-tbody-first-row-padding-top: 40px;
  --table-tbody-first-column-padding-left: unset;
  --table-cell-font-family: var(--hggs-font-family-primary);
  --table-cell-font-weight: var(--hggs-font-weight-normal);
  --table-cell-font-size: var(--hggs-font-size-text-small);
  --table-cell-font-color: var(--hggs-color-auxiliary-gray-004);
  --table-cell-padding: 16px;
  --table-cell-text-align: left;
  --table-cell-border-bottom: var(--hggs-boder);
  --table-cell-border-bottom-last-child: var(--hggs-boder);
  --table-cell-font-weight-bold: var(--hggs-font-weight-bold);
  --table-cell-head-font-weight: var(--hggs-font-weight-medium);
  --table-cell-head-font-size: var(--hggs-font-size-text);
  --table-cell-head-color: var(--hggs-app-color);
  --table-cell-head-background: var(--hggs-color-auxiliary-gray-000);
  --table-cell-head-padding: 30px 20px;
  --table-cell-head-border-bottom: unset;
}

.hggs-box {
  --box-min-height: 100px;
  --box-background: var(--hggs-color-quinary);
  --box-box-shadow: 0 1px 5px 0 var(--hggs-color-auxiliary-gray-001);
  --box-padding: var(--hggs-space-vertical-big)
    var(--hggs-space-horizontal-medium);
  --box-header-border-bottom: 1px solid var(--hggs-color-auxiliary-gray-002);
  --box-header-padding: 0 0 0 0;
  --box-title-font-size: var(--hggs-font-size-text-normal-plus);
  --box-title-margin-top: 0;
  --box-body-padding: var(--hggs-space-vertical-medium) 0 0 0;
  --box-border-radius-with-radius: var(--hggs-boder-radius-big);
  --box-background-primary: var(--hggs-color-auxiliary-senary-000);
  --box-border-primary: 1px solid var(--hggs-color-senary);
  --box-title-color-primary: var(--hggs-color-senary);
  --box-header-border-bottom-primary: 1px solid
    var(--hggs-color-auxiliary-senary-002);
}

.hggs-hamburger-menu {
  --hamburger-menu-background: var(--hggs-color-auxiliary-gray-002);
  --hamburger-menu-font-family: var(--hggs-font-family-primary);
  --hamburger-menu-font-size: var(--hggs-font-size-text);
  --hamburger-menu-item-color: var(--hggs-color-auxiliary-gray-005);
  --hamburger-menu-item-hover-background: var(--hggs-color-auxiliary-gray-001);
  --hamburger-menu-item-padding-horizontal: 20px;
  --hamburger-menu-item-padding-vertical: calc(
    var(--hamburger-menu-item-padding-horizontal) / 2
  );
  --hamburger-menu-icon-hover-background: var(--hggs-color-auxiliary-gray-003);
}

@keyframes hggs-dialog-appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hggs-dialog {
  --dialog-background-color: var(--hggs-app-background);
  --dialog-color: var(--hggs-app-color);
  --dialog-text-align: center;
  --dialog-padding: 50px 30px 50px 30px;
  --dialog-border-radius: 6px;
  --dialog-max-width: 90vw;
  --dialog-anmimation-open: hggs-dialog-appear 0.15s
    cubic-bezier(0, 1.8, 1, 1.8);
  --dialog-background-box-shadow: 0 0 40px
      var(--hggs-color-auxiliary-gray-alpha-002),
    0 0 10px var(--hggs-color-auxiliary-gray-alpha-004);
  --dialog-width-big: 80vw;
  --dialog-width-medium: 65vw;
  --dialog-width-small: 40vw;
}
