:root {
  --hggs-color-primary: #3753c4;
  --hggs-color-auxiliary-primary-000: #f0f2fb;
  --hggs-color-auxiliary-primary-001: #d8ddf3;
  --hggs-color-auxiliary-primary-002: #a3afe4;
  --hggs-color-auxiliary-primary-003: #6b81d6;
  --hggs-color-auxiliary-primary-004: #3e59c8;
  --hggs-color-auxiliary-primary-005: #3048a9;
  --hggs-filter-primary: invert(28%) sepia(40%) saturate(2699%)
    hue-rotate(212deg) brightness(93%) contrast(94%);
  --hggs-filter-primary-001: invert(27%) sepia(11%) saturate(6768%)
    hue-rotate(204deg) brightness(99%) contrast(100%);
  --hggs-color-secondary: #ce4136;
  --hggs-color-auxiliary-secondary-000: #f9e6e3;
  --hggs-color-auxiliary-secondary-001: #edbeba;
  --hggs-color-auxiliary-secondary-002: #db756c;
  --hggs-color-auxiliary-secondary-003: #d15247;
  --hggs-color-auxiliary-secondary-004: #af362c;
  --hggs-color-auxiliary-secondary-005: #983e36;
  --hggs-filter-secondary: invert(32%) sepia(24%) saturate(3291%)
    hue-rotate(331deg) brightness(99%) contrast(95%);
  --hggs-filter-secondary-001: invert(24%) sepia(62%) saturate(2295%)
    hue-rotate(348deg) brightness(91%) contrast(78%);
  --hggs-color-tertiary: #fad02c;
  --hggs-color-auxiliary-tertiary-000: #fef9e2;
  --hggs-color-auxiliary-tertiary-001: #fdeeb0;
  --hggs-color-auxiliary-tertiary-002: #f8dd74;
  --hggs-color-auxiliary-tertiary-003: #f4d040;
  --hggs-color-auxiliary-tertiary-004: #f2c50f;
  --hggs-color-auxiliary-tertiary-005: #bf9b0b;
  --hggs-filter-tertiary: invert(90%) sepia(48%) saturate(3381%)
    hue-rotate(329deg) brightness(100%) contrast(97%);
  --hggs-filter-tertiary-001: invert(88%) sepia(33%) saturate(2272%)
    hue-rotate(343deg) brightness(104%) contrast(91%);
  --hggs-color-quaternary: #000;
  --hggs-filter-quaternary: invert(0%) sepia(54%) saturate(2989%)
    hue-rotate(174deg) brightness(108%) contrast(108%);
  --hggs-color-quinary: #fff;
  --hggs-filter-quinary: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(157deg) brightness(102%) contrast(102%);
  --hggs-color-senary: #39bfff;
  --hggs-color-auxiliary-senary-000: #f0faff;
  --hggs-color-auxiliary-senary-001: #e1f5ff;
  --hggs-color-auxiliary-senary-002: #c1ebff;
  --hggs-color-auxiliary-senary-003: #a4e1ff;
  --hggs-color-auxiliary-senary-004: #77d2ff;
  --hggs-color-auxiliary-senary-005: #28b3f5;
  --hggs-filter-senary: invert(58%) sepia(82%) saturate(1159%)
    hue-rotate(173deg) brightness(103%) contrast(101%);
  --hggs-filter-senary-001: invert(53%) sepia(95%) saturate(387%)
    hue-rotate(155deg) brightness(96%) contrast(100%);
  --hggs-color-auxiliary-gray-000: #f6f7f9;
  --hggs-color-auxiliary-gray-001: #eee;
  --hggs-color-auxiliary-gray-002: #e0e0e0;
  --hggs-color-auxiliary-gray-003: #c9c9c9;
  --hggs-color-auxiliary-gray-004: #727272;
  --hggs-color-auxiliary-gray-005: #5f5f61;
  --hggs-color-auxiliary-gray-006: #4e4b4b;
  --hggs-color-auxiliary-gray-007: #353535;
  --hggs-color-auxiliary-gray-008: #1b1d2a;
  --hggs-color-auxiliary-gray-009: #101119;
  --hggs-color-auxiliary-gray-alpha-002: rgba(0, 0, 0, 0.1);
  --hggs-color-auxiliary-gray-alpha-004: rgba(0, 0, 0, 0.25);
  --hggs-color-auxiliary-gray-alpha-007: rgba(58, 58, 58, 0.6);
  --hggs-color-auxiliary-gray-alpha-008: rgba(8, 8, 8, 0.6);
  --hggs-color: var(--hggs-color-quaternary);
  --hggs-color-error: #ff0b0b;
  --hggs-color-disabled: var(--hggs-color-auxiliary-gray-001);
  --hggs-background: var(--hggs-color-quinary);
  --hggs-shadow: 0px 0px 0px 2px var(--hggs-color-auxiliary-gray-002);
  --hggs-shadow-primary: 0 1px 5px 0 var(--hggs-color-auxiliary-gray-001);
  --hggs-filter-auxiliary-gray-002: invert(84%) sepia(0%) saturate(7497%)
    hue-rotate(107deg) brightness(105%) contrast(101%);
  --hggs-filter-auxiliary-gray-004: invert(49%) sepia(0%) saturate(1%)
    hue-rotate(119deg) brightness(90%) contrast(89%);
  --hggs-space-horizontal-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-horizontal-macro: calc(var(--hggs-space-horizontal-medium) * 4);
  --hggs-space-horizontal-big: calc(var(--hggs-space-horizontal-medium) * 2);
  --hggs-space-horizontal-small: calc(var(--hggs-space-horizontal-medium) / 2);
  --hggs-space-horizontal-micro: calc(var(--hggs-space-horizontal-medium) / 4);
  --hggs-space-horizontal-nano: calc(var(--hggs-space-horizontal-medium) / 6);
  --hggs-space-vertical-medium: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-vertical-macro: calc(var(--hggs-space-vertical-medium) * 4);
  --hggs-space-vertical-big: calc(var(--hggs-space-vertical-medium) * 2);
  --hggs-space-vertical-small: calc(var(--hggs-space-vertical-medium) / 2);
  --hggs-space-vertical-micro: calc(var(--hggs-space-vertical-medium) / 4);
  --hggs-space-vertical-nano: calc(var(--hggs-space-vertical-medium) / 6);
  --hggs-border-radius-big: 20px;
  --hggs-border-radius: 8px;
  --hggs-border-size: 1px;
  --hggs-border-type: solid;
  --hggs-border-color: var(--hggs-color-auxiliary-gray-003);
  --hggs-border-color-primary: var(--hggs-color-primary);
  --hggs-border-color-secondary: var(--hggs-color-secondary);
  --hggs-border-color-tertiary: var(--hggs-color-tertiary);
  --hggs-border-color-quaternary: var(--hggs-color-quaternary);
  --hggs-border-color-quinary: var(--hggs-color-quinary);
  --hggs-border-color-senary: var(--hggs-color-senary);
  --hggs-border: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color);
  --hggs-border-dark: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-auxiliary-gray-002);
  --hggs-border-primary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-primary);
  --hggs-border-secondary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-secondary);
  --hggs-border-tertiary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-tertiary);
  --hggs-border-quaternary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-quaternary);
  --hggs-border-quinary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-quinary);
  --hggs-border-senary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-border-color-senary);
  --hggs-border-focus: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-primary);
  --hggs-border-disabled: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-auxiliary-gray-001);
  --hggs-border-invalid: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-error);
  --hggs-form-outline-focus: none;
  --hggs-form-box-focus: 0 0 7px 1px var(--hggs-color-auxiliary-gray-003);
  --hggs-form-box-primary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-senary-001);
  --hggs-form-box-shadow-secondary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-secondary-000);
  --hggs-form-box-shadow-tertiary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-tertiary-001);
  --hggs-form-box-shadow-quaternary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-gray-002);
  --hggs-form-box-shadow-quinary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-gray-006);
  --hggs-form-box-shadow-senary-focus: 0 0 0 4px
    var(--hggs-color-auxiliary-senary-001);
  --hggs-form-input-height-big: 3.5rem;
  --hggs-form-input-height: 2.5rem;
  --hggs-form-input-height-small: 1.5rem;
  --hggs-form-input-border-radius: 8px;
  --hggs-form-input-padding: var(--hggs-space-vertical-micro)
    var(--hggs-space-horizontal-medium);
  --hggs-form-input-padding-big: var(--hggs-space-vertical-nano)
    var(--hggs-space-horizontal-medium);
  --hggs-form-input-padding-small: var(--hggs-space-vertical-small)
    var(--hggs-space-horizontal-medium);
  --hggs-form-input-border: var(--hggs-border);
  --hggs-form-input-border-focus: var(--hggs-border-focus);
  --hggs-form-input-border-disabled: var(--hggs-border-disabled);
  --hggs-form-input-border-invalid: var(--hggs-border-invalid);
  --hggs-font-family: "DM Sans", sans-serif;
  --hggs-font-size-colossal: 1.9rem;
  --hggs-font-size-enormous: 1.7rem;
  --hggs-font-size-tera: 1.5rem;
  --hggs-font-size-mega: 1.4rem;
  --hggs-font-size-pico: 1.3rem;
  --hggs-font-size-big: 1.1rem;
  --hggs-font-size-medium: 1rem;
  --hggs-font-size: 0.9rem;
  --hggs-font-size-small: 0.7rem;
  --hggs-font-size-micro: 0.6rem;
  --hggs-font-size-nano: 0.5rem;
  --hggs-font-weight-very-bold: 900;
  --hggs-font-weight-bold: 700;
  --hggs-font-weight-low-bold: 600;
  --hggs-font-weight-medium: 500;
  --hggs-font-weight: 400;
  --hggs-font-letter-spacing: 1px;
  --hggs-font-letter-spacing-small: 0.6px;
  --hggs-font-letter-spacing-micro: 0.3px;
  --hggs-line-height: 1.3;
  --hggs-line-height-small: 1.2;
  --hggs-line-height-micro: 1.1;
  --hggs-layer-0: 1;
  --hggs-layer-10: 10;
  --hggs-animation-ease: all 200ms ease;
}
