.hggs-radio {
  @extend .hggs-flex--center-left-row;

  width: 100%;
  position: relative;

  & input[type="radio"] {
    position: absolute;
    width: var(--radio-size, --hggs-form-input-height-small-default);
    height: var(--radio-size, --hggs-form-input-height-small-default);
    border: var(--radio-border, --hggs-form-input-border-default);
    cursor: pointer;
    opacity: 0;
    order: 1;

    &:checked ~ span:before {
      border: var(
        --radio-border-checked,
        5px solid var(--hggs-color-primary-default)
      );
    }

    &:hover ~ span:before {
      border-color: var(
        --radio-border-color-hover,
        --hggs-color-primary-default
      );
    }

    &:focus ~ span:before {
      outline: var(--radio-outline-focus, --hggs-form-outline-focus-default);
      box-shadow: var(
        --radio-box-shadow-focus,
        --hggs-form-box-primary-focus-default
      );
    }
  }

  & .hggs-label {
    margin-left: var(--radio-label-margin-left, 10px);
    cursor: pointer;
    order: 2;
  }

  & span:before {
    display: inline-block;
    width: var(--radio-size, --hggs-form-input-height-small-default);
    height: var(--radio-size, --hggs-form-input-height-small-default);
    content: "";
    background-color: var(--radio-inside-background-color, transparent);
    border: var(
      --radio-inside-border-bold,
      2px solid var(--hggs-border-color-primary-default)
    );
    border-radius: 100%;
    box-sizing: border-box;
    transition: var(--radio-inside-transition, box-shadow 0.3s ease);
  }
}
