.hggs-app {
  --app-font-size: var(--hggs-font-size);
  --app-color: var(--hggs-color);
  --app-background: var(--hggs-color-background);
  --app-padding: var(--hggs-space-lg) var(--hggs-space-xs);
  --app-footer-padding-top: var(--hggs-space);
}
