.hggs-box {
  --box-min-height: var(--hggs-space-lg);
  --box-color: var(--hggs-color);
  --box-background: var(--hggs-color-background);
  --box-box-shadow: none;
  --box-border: var(--hggs-border);
  --box-margin: var(--hggs-space-lg) 0;
  --box-padding: var(--hggs-space-xxl) var(--hggs-space);
  --box-header-border-bottom: var(--hggs-border);
  --box-header-padding: 0 0 0 0;
  --box-title-font-size: var(--hggs-font-size-md);
  --box-title-margin-top: 0;
  --box-body-padding: var(--hggs-space-lg) 0 0 0;
  --box-border-radius-with-radius: var(--hggs-border-radius-md);
  --box-color-primary: var(--hggs-color);
  --box-background-primary: var(--hggs-color-background-primary);
  --box-border-primary: var(--hggs-border-tertiary);
  --box-title-color-primary: var(--hggs-font-color);
  --box-header-border-bottom-primary: var(--hggs-border-tertiary-alpha);
  --box-box-shadow-primary: var(--hggs-shadow);
}
