.hggs-button {
  --button-cursor: default;
  --button-outline-focus: var(--hggs-form-outline-focus);
  --button-box-shadow-focus: var(--hggs-form-box-shadow-focus);
  --button-background-hover: var(--hggs-color-senary-006);
  --button-background-primary-hover: var(--hggs-color-primary-006);
  --button-background-primary: var(--hggs-color-primary);
  --button-background-quaternary-hover: var(--hggs-color-quaternary);
  --button-background-quaternary: var(--hggs-color-quaternary);
  --button-background-quinary-hover: var(--hggs-color-secondary-006);
  --button-background-quinary: var(--hggs-color-secondary);
  --button-background-secondary-hover: var(--hggs-color-senary-005);
  --button-background-secondary: var(--hggs-color-secondary-010);
  --button-background-senary-hover: var(--hggs-color-senary-006);
  --button-background-senary: var(--hggs-color-senary);
  --button-background-tertiary-hover: var(--hggs-color-tertiary-006);
  --button-background-tertiary: var(--hggs-color-tertiary);
  --button-background: var(--hggs-color-senary);
  --button-border-outline-hover: var(--hggs-border-senary);
  --button-border-outline-primary-hover: var(--hggs-border-primary);
  --button-border-outline-primary: var(--hggs-border-primary);
  --button-border-outline-quaternary-hover: var(--hggs-border-quaternary);
  --button-border-outline-quaternary: var(--hggs-border-quaternary);
  --button-border-outline-quinary-hover: var(--hggs-border-background);
  --button-border-outline-quinary: var(--hggs-border-background);
  --button-border-outline-secondary-hover: var(--hggs-border-secondary);
  --button-border-outline-secondary: var(--hggs-border-secondary);
  --button-border-outline-senary-hover: var(--hggs-border-senary);
  --button-border-outline-senary: var(--hggs-border-senary);
  --button-border-outline-tertiary-hover: var(--hggs-border-tertiary);
  --button-border-outline-tertiary: var(--hggs-border-tertiary);
  --button-border-outline: var(--hggs-border-senary);
  --button-border-radius: var(--hggs-border-radius);
  --button-box-shadow-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-outline-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-outline-primary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-outline-quaternary-hover: var(
    --hggs-form-box-shadow-focus
  );
  --button-box-shadow-outline-quinary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-outline-secondary-hover: var(
    --hggs-form-box-shadow-focus
  );
  --button-box-shadow-outline-senary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-outline-tertiary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-primary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-primary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-quaternary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-quaternary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-quinary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-quinary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-secondary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-secondary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-tertiary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-senary-focus: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-senary-hover: var(--hggs-form-box-shadow-focus);
  --button-box-shadow-tertiary-hover: var(--hggs-form-box-shadow-focus);
  --button-color-hover: var(--hggs-color-secondary);
  --button-color-outline-primary-hover: var(--hggs-color-primary-005);
  --button-color-outline-primary: var(--hggs-color-primary);
  --button-color-outline-quaternary-hover: var(--hggs-color-quaternary);
  --button-color-outline-quaternary: var(--hggs-color-quaternary);
  --button-color-outline-quinary-hover: var(--hggs-color-background);
  --button-color-outline-quinary: var(--hggs-color-background);
  --button-color-outline-secondary-hover: var(--hggs-color-secondary-010);
  --button-color-outline-secondary: var(--hggs-color-secondary-010);
  --button-color-outline-senary-hover: var(--hggs-color-senary);
  --button-color-outline-senary: var(--hggs-color-senary);
  --button-color-outline-tertiary-hover: var(--hggs-color-tertiary);
  --button-color-outline-tertiary: var(--hggs-color-tertiary);
  --button-color-outline: var(--hggs-color-senary);
  --button-color-primary: var(--hggs-color-background);
  --button-color-quaternary: var(--hggs-color-background);
  --button-color-quinary: var(--hggs-color-quaternary);
  --button-color-secondary: var(--hggs-color-background);
  --button-color-senary: var(--hggs-color-background);
  --button-color-tertiary: var(--hggs-color-background);
  --button-color: var(--hggs-color-background);
  --button-font-family: var(--hggs-font-family);
  --button-font-letter-spacing: var(--hggs-font-letter-spacing);
  --button-font-size-big: var(--hggs-font-size-pico);
  --button-font-size-medium: var(--hggs-font-size);
  --button-font-size-small: var(--hggs-font-size-small);
  --button-font-size: var(--hggs-font-size-big);
  --button-font-weight: var(--hggs-font-weight-md);
  --button-icon-filter-hover: var(--hggs-filter-senary-006);
  --button-icon-filter-primary-hover: var(--hggs-filter-primary-006);
  --button-icon-filter-quaternary-hover: var(--hggs-filter-quaternary);
  --button-icon-filter-quinary-hover: var(--hggs-filter-secondary-006);
  --button-icon-filter-secondary-hover: var(--hggs-filter-senary-005);
  --button-icon-filter-senary-hover: var(--hggs-filter-senary-006);
  --button-icon-filter-tertiary-hover: var(--hggs-filter-tertiary-006);
  --button-icon-label-color-hover: var(--hggs-color-senary);
  --button-icon-label-color-primary-hover: var(--hggs-color-senary);
  --button-icon-label-color-quaternary-hover: var(--hggs-color-quaternary);
  --button-icon-label-color-quinary-hover: var(--hggs-color-background);
  --button-icon-label-color-secondary-hover: var(--hggs-color-senary);
  --button-icon-label-color-senary-hover: var(--hggs-color-senary);
  --button-icon-label-color-tertiary-hover: var(--hggs-color-senary);
  --button-icon-padding: 0;
  --button-icon-width: calc(var(--icon-size) + var(--button-icon-padding));
  --button-margin-vertical: var(--hggs-space);
  --button-padding-big: var(--hggs-space) var(--hggs-space-xxxxl);
  --button-padding-medium: var(--hggs-space-sm) var(--hggs-space-xxl);
  --button-padding-small: var(--hggs-space-xxs) var(--hggs-space-sm);
  --button-transition-hover: var(--hggs-animation-ease);
  --button-transition-primary-hover: var(--button-transition-hover);
  --button-transition-quaternary-hover: var(--button-transition-hover);
  --button-transition-quinary-hover: var(--button-transition-hover);
  --button-transition-secondary-hover: var(--button-transition-hover);
  --button-transition-senary-hover: var(--button-transition-hover);
  --button-transition-tertiary-hover: var(--button-transition-hover);
  --button-transform-hover: scale(1.05);
  --button-icon-transition-hover: var(--hggs-animation-ease);
  --button-icon-transform-hover: unset;
  --button-icon-shadow-hover: unset;
}
