@keyframes hggs-dialog-appear {
  from {
    opacity: 0;
    transform: scale(0.7);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.hggs-dialog {
  --dialog-background-color: var(--hggs-color-background);
  --dialog-color: var(--hggs-color);
  --dialog-text-align: center;
  --dialog-padding: var(--hggs-space) var(--hggs-space-sm);
  --dialog-border-radius: var(--hggs-border-radius-sm);
  --dialog-max-width: 90vw;
  --dialog-anmimation-open: hggs-dialog-appear 0.15s;
  --dialog-background-box-shadow:
    0 0 40px var(--hggs-color-gray-alpha-002),
    0 0 10px var(--hggs-color-gray-alpha-004);
  --dialog-width-big: 80vw;
  --dialog-width-medium: 65vw;
  --dialog-width-small: 40vw;
  --dialog-close-position: absolute;
  --dialog-close-top: 10px;
  --dialog-close-right: 10px;
}
