.hggs-field {
  --field-label-after-color-required: var(--hggs-color-required);
  --field-label-after-margin-left-required: var(--hggs-space-3xs);
  --field-label-margin-bottom: var(--hggs-form-space-base);
}
