.hggs-field {
  --field-label-after-color-required: var(--hggs-color-senary);
  --field-label-after-margin-left-required: var(--hggs-space-xxxs);
  --field-label-margin-bottom: var(--hggs-form-space-base);
}
