.hggs-select-wrapper,
.hggs-select {
  --select-border-focus: var(--hggs-form-input-border-focus);
  --select-box-shadow-focus: var(--hggs-form-box-primary-focus);
  --select-outline-focus: var(--hggs-form-outline-focus);
  --select-border-radius: var(--hggs-form-input-border-radius);
  --select-border: var(--hggs-form-input-border);
  --select-color: var(--hggs-color);
  --select-font-family: var(--hggs-font-family);
  --select-font-size: var(--hggs-font-size);
  --select-height: var(--hggs-form-input-height);
  --select-open-icon-top: 25%;
  --select-open-icon-right: var(--hggs-space-horizontal);
  --select-padding: var(--hggs-form-input-padding);
}
