:root {
  /* COLORS */
  /* Generics colors */
  --hggs-color-black: #000;
  --hggs-color-white: #fff;

  /* Gray Colors */
  --hggs-color-gray: #444444;
  --hggs-color-gray-000: #e8e8e8;
  --hggs-color-gray-001: #d1d1d1;
  --hggs-color-gray-002: #b9b9b9;
  --hggs-color-gray-003: #c9c9c9;
  --hggs-color-gray-004: #a2a2a2;
  --hggs-color-gray-005: #8b8b8b;
  --hggs-color-gray-006: #747474;
  --hggs-color-gray-007: #5d5d5d;
  --hggs-color-gray-008: #464646;
  --hggs-color-gray-009: #2e2e2e;
  --hggs-color-gray-010: #171717;
  --hggs-color-gray-hover: var(--hggs-color-gray-008);
  --hggs-color-gray-subtle: var(--hggs-color-gray-004);
  --hggs-color-background-gray-subtle: var(--hggs-color-gray-001);
  --hggs-color-border-gray: var(--hggs-color-gray);
  --hggs-color-border-gray-subtle: var(--hggs-color-gray-001));
  --hggs-color-border-gray-001: var(--hggs-color-gray-001);

  --hggs-color-gray-alpha-002: rgba(0, 0, 0, 0.1);
  --hggs-color-gray-alpha-004: rgba(0, 0, 0, 0.25);
  --hggs-color-gray-alpha-007: rgba(58, 58, 58, 0.6);
  --hggs-color-gray-alpha-008: rgba(8, 8, 8, 0.6);

  /* Main colors */
  /* Primary colors */
  --hggs-color-primary: #5c3d2e;
  --hggs-color-primary-000: #ae9e97;
  --hggs-color-primary-001: #9d8b82;
  --hggs-color-primary-002: #8d776d;
  --hggs-color-primary-003: #7d6458;
  --hggs-color-primary-004: #6c5043;
  --hggs-color-primary-005: #533729;
  --hggs-color-primary-006: #4a3125;
  --hggs-color-primary-007: #402b20;
  --hggs-color-primary-008: #37251c;
  --hggs-color-primary-009: #2e1f17;
  --hggs-color-primary-010: #251812;
  --hggs-color-primary-hover: var(--hggs-color-primary-007);
  --hggs-color-primary-subtle: var(--hggs-color-primary-005);
  --hggs-color-background-primary-subtle: var(--hggs-color-primary-001);
  --hggs-color-border-primary: var(--hggs-color-primary);
  --hggs-color-border-primary-hover: var(--hggs-color-primary-hover);
  --hggs-color-border-primary-subtle: var(--hggs-color-primary-001);

  /* Secondary colors */
  --hggs-color-secondary: #b85c38;
  --hggs-color-secondary-000: #dcae9c;
  --hggs-color-secondary-001: #d49d88;
  --hggs-color-secondary-002: #cd8d74;
  --hggs-color-secondary-003: #c67d60;
  --hggs-color-secondary-004: #bf6c4c;
  --hggs-color-secondary-005: #a65332;
  --hggs-color-secondary-006: #934a2d;
  --hggs-color-secondary-007: #814027;
  --hggs-color-secondary-008: #6e3722;
  --hggs-color-secondary-009: #5c2e1c;
  --hggs-color-secondary-010: #4a2516;
  --hggs-color-secondary-hover: var(--hggs-color-secondary-006);
  --hggs-color-secondary-subtle: var(--hggs-color-secondary-005);
  --hggs-color-background-secondary-subtle: var(--hggs-color-secondary-001);
  --hggs-color-border-secondary: var(--hggs-color-secondary);
  --hggs-color-border-secondary-hover: var(--hggs-color-secondary-hover);
  --hggs-color-border-secondary-subtle: var(--hggs-color-secondary-001);

  /* Tertiary colors */
  --hggs-color-tertiary: #e0c097;
  --hggs-color-tertiary-000: #f3e6d5;
  --hggs-color-tertiary-001: #f0e0cb;
  --hggs-color-tertiary-002: #ecd9c1;
  --hggs-color-tertiary-003: #e9d3b6;
  --hggs-color-tertiary-004: #e6cdac;
  --hggs-color-tertiary-005: #e3c6a1;
  --hggs-color-tertiary-006: #caad88;
  --hggs-color-tertiary-007: #b39a79;
  --hggs-color-tertiary-008: #9d866a;
  --hggs-color-tertiary-009: #86735b;
  --hggs-color-tertiary-010: #70604c;
  --hggs-color-tertiary-hover: var(--hggs-color-tertiary-004);
  --hggs-color-tertiary-subtle: var(--hggs-color-tertiary-005);
  --hggs-color-background-tertiary-subtle: var(--hggs-color-tertiary-001);
  --hggs-color-border-tertiary: var(--hggs-color-tertiary);
  --hggs-color-border-tertiary-hover: var(--hggs-color-tertiary-hover);
  --hggs-color-border-tertiary-subtle: var(--hggs-color-tertiary-001);

  /* Quaternary colors */
  --hggs-color-quaternary: var(--hggs-color-black);
  --hggs-color-quaternary-hover: var(--hggs-color-quaternary);
  --hggs-color-quaternary-subtle: var(--hggs-color-gray-006);
  --hggs-color-background-quaternary-subtle: var(--hggs-color-gray-001);
  --hggs-color-border-quaternary: var(--hggs-color-quaternary);
  --hggs-color-border-quaternary-hover: var(--hggs-color-quaternary-hover);
  --hggs-color-border-quaternary-subtle: var(--hggs-color-gray-008);

  /* Quinary colors */
  --hggs-color-quinary: var(--hggs-color-white);
  --hggs-color-quinary-hover: var(--hggs-color-quinary);
  --hggs-color-quinary-subtle: var(--hggs-color-gray-003);
  --hggs-color-quinary-subtle-001: var(--hggs-color-gray-005);
  --hggs-color-background-quinary-subtle: var(--hggs-color-gray-006);
  --hggs-color-border-quinary: var(--hggs-color-quinary);
  --hggs-color-border-quinary-hover: var(--hggs-color-quinary-hover);
  --hggs-color-border-quinary-subtle: var(--hggs-color-gray-005);

  /* Senary colors */
  --hggs-color-senary: #2D2424;
  --hggs-color-senary-000: #aba7a7;
  --hggs-color-senary-001: #969292;
  --hggs-color-senary-002: #817c7c;
  --hggs-color-senary-003: #6c6666;
  --hggs-color-senary-004: #575050;
  --hggs-color-senary-005: #423a3a;
  --hggs-color-senary-006: #292020;
  --hggs-color-senary-007: #241d1d;
  --hggs-color-senary-008: #1f1919;
  --hggs-color-senary-009: #1b1616;
  --hggs-color-senary-010: #171212;
  --hggs-color-senary-hover: var(--hggs-color-senary-007);
  --hggs-color-senary-subtle: var(--hggs-color-senary-005);
  --hggs-color-background-senary-subtle: var(--hggs-color-senary-003);
  --hggs-color-border-senary: var(--hggs-color-senary);
  --hggs-color-border-senary-hover: var(--hggs-color-senary-hover);
  --hggs-color-border-senary-001: var(--hggs-color-senary-003);
  --hggs-color-border-senary-subtle: var(--hggs-color-senary-001);

  /* Filters colors */
  --hggs-filter-gray-006:invert(51%) sepia(0%) saturate(2002%) hue-rotate(160deg) brightness(88%) contrast(87%);

  --hggs-filter-primary: invert(22%) sepia(27%) saturate(826%) hue-rotate(335deg) brightness(95%) contrast(87%);
  --hggs-filter-primary-000: invert(71%) sepia(2%) saturate(2111%) hue-rotate(343deg) brightness(91%) contrast(85%);
  --hggs-filter-primary-001: invert(61%) sepia(9%) saturate(547%) hue-rotate(335deg) brightness(91%) contrast(90%);
  --hggs-filter-primary-002: invert(48%) sepia(11%) saturate(651%) hue-rotate(334deg) brightness(97%) contrast(86%);
  --hggs-filter-primary-003: invert(40%) sepia(29%) saturate(339%) hue-rotate(335deg) brightness(95%) contrast(91%);
  --hggs-filter-primary-004: invert(31%) sepia(13%) saturate(1229%) hue-rotate(334deg) brightness(92%) contrast(82%);
  --hggs-filter-primary-005: invert(20%) sepia(10%) saturate(2318%) hue-rotate(335deg) brightness(95%) contrast(88%);
  --hggs-filter-primary-006: invert(15%) sepia(7%) saturate(4047%) hue-rotate(334deg) brightness(97%) contrast(83%);
  --hggs-filter-primary-007: invert(14%) sepia(6%) saturate(4092%) hue-rotate(335deg) brightness(97%) contrast(88%);
  --hggs-filter-primary-008: invert(14%) sepia(39%) saturate(498%) hue-rotate(336deg) brightness(92%) contrast(96%);
  --hggs-filter-primary-009: invert(9%) sepia(20%) saturate(1306%) hue-rotate(337deg) brightness(97%) contrast(90%);
  --hggs-filter-primary-010: invert(6%) sepia(5%) saturate(6486%) hue-rotate(334deg) brightness(97%) contrast(90%);

  --hggs-filter-secondary: invert(45%) sepia(21%) saturate(1495%) hue-rotate(331deg) brightness(89%) contrast(93%);
  --hggs-filter-secondary-000: invert(79%) sepia(21%) saturate(454%) hue-rotate(330deg) brightness(89%) contrast(92%);
  --hggs-filter-secondary-001: invert(92%) sepia(87%) saturate(5188%) hue-rotate(296deg) brightness(92%) contrast(78%);
  --hggs-filter-secondary-002: invert(71%) sepia(7%) saturate(2637%) hue-rotate(328deg) brightness(89%) contrast(77%);
  --hggs-filter-secondary-003: invert(55%) sepia(97%) saturate(258%) hue-rotate(331deg) brightness(83%) contrast(84%);
  --hggs-filter-secondary-004: invert(57%) sepia(6%) saturate(5320%) hue-rotate(328deg) brightness(84%) contrast(73%);
  --hggs-filter-secondary-005: invert(35%) sepia(41%) saturate(800%) hue-rotate(331deg) brightness(99%) contrast(92%);
  --hggs-filter-secondary-006: invert(34%) sepia(8%) saturate(4340%) hue-rotate(331deg) brightness(92%) contrast(87%);
  --hggs-filter-secondary-007: invert(24%) sepia(49%) saturate(951%) hue-rotate(334deg) brightness(96%) contrast(85%);
  --hggs-filter-secondary-008: invert(23%) sepia(57%) saturate(565%) hue-rotate(332deg) brightness(95%) contrast(96%);
  --hggs-filter-secondary-009: invert(20%) sepia(21%) saturate(1432%) hue-rotate(331deg) brightness(96%) contrast(97%);
  --hggs-filter-secondary-010: invert(16%) sepia(12%) saturate(2881%) hue-rotate(331deg) brightness(95%) contrast(95%);

  --hggs-filter-tertiary: invert(87%) sepia(15%) saturate(864%) hue-rotate(339deg) brightness(93%) contrast(88%);
  --hggs-filter-tertiary-000: invert(100%) sepia(3%) saturate(4727%) hue-rotate(315deg) brightness(90%) contrast(110%);
  --hggs-filter-tertiary-001: invert(97%) sepia(7%) saturate(2014%) hue-rotate(308deg) brightness(106%) contrast(88%);
  --hggs-filter-tertiary-002: invert(87%) sepia(3%) saturate(3530%) hue-rotate(330deg) brightness(107%) contrast(83%);
  --hggs-filter-tertiary-003: invert(94%) sepia(9%) saturate(1119%) hue-rotate(325deg) brightness(94%) contrast(94%);
  --hggs-filter-tertiary-004: invert(87%) sepia(25%) saturate(362%) hue-rotate(343deg) brightness(95%) contrast(88%);
  --hggs-filter-tertiary-005: invert(87%) sepia(13%) saturate(721%) hue-rotate(345deg) brightness(91%) contrast(94%);
  --hggs-filter-tertiary-006: invert(83%) sepia(19%) saturate(552%) hue-rotate(351deg) brightness(84%) contrast(87%);
  --hggs-filter-tertiary-007: invert(66%) sepia(3%) saturate(3153%) hue-rotate(354deg) brightness(96%) contrast(82%);
  --hggs-filter-tertiary-008: invert(56%) sepia(8%) saturate(1158%) hue-rotate(353deg) brightness(95%) contrast(93%);
  --hggs-filter-tertiary-009: invert(51%) sepia(8%) saturate(1229%) hue-rotate(353deg) brightness(87%) contrast(86%);
  --hggs-filter-tertiary-010: invert(36%) sepia(42%) saturate(284%) hue-rotate(353deg) brightness(92%) contrast(84%);

  --hggs-filter-quaternary: invert(0%) sepia(54%) saturate(2989%)
    hue-rotate(174deg) brightness(108%) contrast(108%);

  --hggs-filter-quinary: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(157deg) brightness(102%) contrast(102%);

  --hggs-filter-senary: invert(15%) sepia(14%) saturate(479%) hue-rotate(315deg) brightness(92%) contrast(97%);
  --hggs-filter-senary-000: invert(77%) sepia(8%) saturate(82%) hue-rotate(314deg) brightness(89%) contrast(79%);
  --hggs-filter-senary-001: invert(70%) sepia(2%) saturate(437%) hue-rotate(326deg) brightness(84%) contrast(84%);
  --hggs-filter-senary-002: invert(46%) sepia(1%) saturate(1386%) hue-rotate(351deg) brightness(106%) contrast(88%);
  --hggs-filter-senary-003: invert(39%) sepia(6%) saturate(342%) hue-rotate(315deg) brightness(98%) contrast(85%);
  --hggs-filter-senary-004: invert(31%) sepia(2%) saturate(1418%) hue-rotate(356deg) brightness(95%) contrast(86%);
  --hggs-filter-senary-005: invert(19%) sepia(6%) saturate(1269%) hue-rotate(314deg) brightness(74%) contrast(74%);
  --hggs-filter-senary-006: invert(10%) sepia(4%) saturate(2347%) hue-rotate(314deg) brightness(99%) contrast(91%);
  --hggs-filter-senary-007: invert(5%) sepia(99%) saturate(31%) hue-rotate(314deg) brightness(97%) contrast(86%);
  --hggs-filter-senary-008: invert(4%) sepia(17%) saturate(1002%) hue-rotate(314deg) brightness(94%) contrast(86%);
  --hggs-filter-senary-009: invert(4%) sepia(3%) saturate(4813%) hue-rotate(314deg) brightness(96%) contrast(88%);
  --hggs-filter-senary-010: invert(6%) sepia(6%) saturate(1339%) hue-rotate(316deg) brightness(100%) contrast(97%);

  --hggs-filter-background: var(--hggs-filter-tertiary);
  --hggs-filter: var(--hggs-filter-gray);
  --hggs-filter-hover: var(--hggs-filter-gray-007);
  --hggs-filter-primary-hover: var(--hggs-filter-primary-001);
  --hggs-filter-secondary-hover: var(--hggs-filter-secondary-001);
  --hggs-filter-tertiary-hover: var(--hggs-filter-tertiary-001);
  --hggs-filter-quaternary-hover: var(--hggs-filter-quaternary);
  --hggs-filter-quinary-hover: var(--hggs-filter-quinary);
  --hggs-filter-senary-hover: var(--hggs-filter-senary-001);

  /* General colors */
  --hggs-color: var(--hggs-color-senary);
  --hggs-color-subtle: var(--hggs-color-gray-subtle);
  --hggs-color-hover: var(--hggs-color-quaternary);
  --hggs-color-error: #ff0b0b;
  --hggs-color-disabled: var(--hggs-color-senary-001);
  --hggs-color-focus: var( --hggs-color);
  --hggs-color-shadow: var(--hgss-color-auxiliary-secondary-007);
  --hggs-color-background: var(--hggs-color-tertiary);
  --hggs-color-background-primary: var(--hggs-color-tertiary-005);
  --hggs-color-background-hover: var(--hggs-color-tertiary-006);
  --hggs-color-background-filter: var(--hggs-filter-tertiary);
  --hggs-color-background-subtle: var(--hggs-color-background-tertiary-subtle);
  --hggs-color-border: var(--hggs-color-tertiary);
  --hggs-color-border-subtle: var(--hggs-color-border-tertiary-subtle);

  /* SHADOWS */
  --hggs-shadow: 0 0 6px 2px var(--hggs-color-tertiary-006);

  /* FONT */
  /* Font familes */
  --hggs-font-family-primary: "Poppins-Regular", sans-serif;
  --hggs-font-family-secondary: "Poppins-Medium", sans-serif;
  --hggs-font-family-tertiary: "Poppins-SemiBold", sans-serif;
  --hggs-font-family-quaternary: "Poppins-Bold", sans-serif;
  --hggs-font-family-quinary: "Poppins-ExtraBold", sans-serif;
  --hggs-font-family-senary: "Poppins-Light", sans-serif;
  --hggs-font-family-septenary: "Poppins-Thin", sans-serif;
  --hggs-font-family: var(--hggs-font-family-primary);

  /* Font colors */
  --hggs-font-color: var(--hggs-color);

  /* Font sizes */
  --hggs-font-size-2xs: calc(var(--hggs-font-size-sm) / 1.6);
  --hggs-font-size-xs: calc(var(--hggs-font-size-sm) / 1.3);
  --hggs-font-size-sm: clamp(0.8rem, 0.08vw + 0.78rem, 0.84rem);
  --hggs-font-size-base: clamp(1rem, 0.23vw + 0.94rem, 1.13rem);
  --hggs-font-size-md: clamp(1.25rem, 0.45vw + 1.14rem, 1.5rem);
  --hggs-font-size-lg: clamp(1.56rem, 0.79vw + 1.36rem, 2rem);
  --hggs-font-size-xl: clamp(1.95rem, 1.29vw + 1.63rem, 2.66rem);
  --hggs-font-size-2xl: clamp(2.44rem, 2.02vw + 1.94rem, 3.55rem);
  --hggs-font-size-3xl: clamp(3.05rem, 3.06vw + 2.29rem, 4.73rem);
  --hggs-font-size: var(--hggs-font-size-base);

  /* Font weights */
  --hggs-font-weight-2xl: 900;
  --hggs-font-weight-xl: 700;
  --hggs-font-weight-lg: 600;
  --hggs-font-weight-md: 500;
  --hggs-font-weight-base: 400;
  --hggs-font-weight: var(--hggs-font-weight-base);

  /* Font letter spacings */
  --hggs-font-letter-spacing: 1px;
  --hggs-font-letter-spacing-sm: 0.6px;
  --hggs-font-letter-spacing-xs: 0.3px;

  /* Font line heights */
  --hggs-line-height: 1.5;
  --hggs-line-height-sm: 1.3;
  --hggs-line-height-xs: 1.1;

  /* BORDERS */
  --hggs-border-radius-md: 40px;
  --hggs-border-radius-base: 30px;
  --hggs-border-radius: var(--hggs-border-radius-base);
  --hggs-border-radius-sm: 10px;
  --hggs-border-size: 1px;
  --hggs-border-type: solid;
  --hggs-color-border: var(--hggs-color-senary);
  --hggs-color-border-gray-alpha: var(--hggs-color-gray-006);
  --hggs-color-border-primary: var(--hggs-color-primary);
  --hggs-color-border-primary-alpha: var(--hggs-color-primary-009);
  --hggs-color-border-secondary: var(--hggs-color-secondary-009);
  --hggs-color-border-secondary-alpha: var(--hggs-color-secondary-010);
  --hggs-color-border-secondary-beta: var(--hggs-color-secondary-007);
  --hggs-color-border-tertiary: var(--hggs-color-tertiary-009);
  --hggs-color-border-tertiary-alpha: var(--hggs-color-tertiary-010);
  --hggs-color-border-quaternary: var(--hggs-color-quaternary);
  --hggs-color-border-quinary: var(--hggs-color-quinary);
  --hggs-color-border-senary: var(--hggs-color-senary);
  --hggs-color-border-senary-alpha: var(--hggs-color-senary-009);
  --hggs-color-border-senary-beta: var(--hggs-color-gray-006);
  --hggs-color-border-senary-ganma: var(--hggs-color-gray-007);
  --hggs-color-border-senary-delta: var(--hggs-color-gray-004);
  --hggs-border: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border);
  --hggs-border-gray-alpha: var(--hggs-border-size) var(--hggs-border-type) var( --hggs-color-border-gray-alpha);
  --hggs-border-primary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-primary);
  --hggs-border-primary-alpha: var(--hggs-border-size) var(--hggs-border-type) var( --hggs-color-border-primary-alpha);
  --hggs-border-secondary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-secondary);
  --hggs-border-secondary-alpha: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-secondary-alpha);
  --hggs-border-secondary-beta: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-secondary-beta);
  --hggs-border-tertiary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-tertiary);
  --hggs-border-tertiary-alpha: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-tertiary-alpha);
  --hggs-border-quaternary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-quaternary);
  --hggs-border-quinary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-quinary);
  --hggs-border-senary: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-senary);
  --hggs-border-senary-alpha: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-senary-alpha);
  --hggs-border-senary-beta: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-senary-beta);
  --hggs-border-senary-ganma: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-senary-ganma);
  --hggs-border-senary-delta: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-senary-delta);
  --hggs-border-focus: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-primary);
  --hggs-border-disabled: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-disabled);
  --hggs-border-error: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-error);
  --hggs-border-background: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-secondary);

  /* SPACES */
  --hggs-space-3xs: calc(var(--hggs-space-xs) / 3);
  --hggs-space-2xs: calc(var(--hggs-space-xs) / 2);
  --hggs-space-xs: clamp(0.91rem, calc(0.89rem + 0.1vw), 0.96rem);
  --hggs-space-sm: clamp(1.09rem, calc(1.05rem + 0.21vw), 1.2rem);
  --hggs-space-base: clamp(1.31rem, calc(1.24rem + 0.37vw), 1.5rem);
  --hggs-space-md: clamp(1.58rem, calc(1.46rem + 0.59vw), 1.88rem);
  --hggs-space-lg: clamp(1.89rem, calc(1.71rem + 0.89vw), 2.34rem);
  --hggs-space-xl: clamp(2.27rem, calc(2.01rem + 1.29vw), 2.93rem);
  --hggs-space-2xl: clamp(2.72rem, calc(2.36rem + 1.83vw), 3.66rem);
  --hggs-space-3xl: clamp(3.27rem, calc(2.75rem + 2.56vw), 4.58rem);
  --hggs-space-4xl: calc(var(--hggs-space-xxxl) * 2);
  --hggs-space: var(--hggs-space-base);

  /* FORM */
  --hggs-form-outline-focus: none;
  --hggs-form-space-base: var(--hggs-space-xs);
  --hggs-form-space-sm: var(--hggs-space-xxs);
  --hggs-form-box-shadow-focus: var(--hggs-shadow);
  --hggs-form-input-height-md: var(--hggs-space-xxl);
  --hggs-form-input-height: var(--hggs-space-md);
  --hggs-form-input-height-sm: var(--hggs-space-sm);
  --hggs-form-input-border-radius: var(--hggs-border-radius);
  --hggs-form-input-placeholder-color: var(--hggs-color-senary-004);
  --hggs-form-input-placeholder-font-style: italic;
  --hggs-form-input-padding: var(--hggs-space-sm) var(--hggs-space-sm);
  --hggs-form-input-padding-md: var(--hggs-space-xs) var(--hggs-space-sm);
  --hggs-form-input-padding-sm: var(--hggs-space-xs) var(--hggs-space-sm);
  --hggs-form-input-border: var(--hggs-border);
  --hggs-form-input-border-focus: var(--hggs-border-focus);
  --hggs-form-input-border-hover: var(--hggs-border);
  --hggs-form-input-border-checked: var(--hggs-form-input-border-focus);
  --hggs-form-input-border-disabled: var(--hggs-border-disabled);
  --hggs-form-input-border-error: var(--hggs-border-error);

  /* LAYERS */
  --hggs-layer-0: 1;
  --hggs-layer-10: 10;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    /* Gray Colors */
    --hggs-color-gray: #cfcfcf;
    --hggs-color-gray-010: #e8e8e8;
    --hggs-color-gray-009: #d1d1d1;
    --hggs-color-gray-008: #b9b9b9;
    --hggs-color-gray-007: #c9c9c9;
    --hggs-color-gray-006: #a2a2a2;
    --hggs-color-gray-005: #8b8b8b;
    --hggs-color-gray-004: #747474;
    --hggs-color-gray-003: #5d5d5d;
    --hggs-color-gray-002: #464646;
    --hggs-color-gray-001: #2e2e2e;
    --hggs-color-gray-000: #171717;

    /* Primary colors */
    --hggs-color-primary-010: #ae9e97;
    --hggs-color-primary-009: #9d8b82;
    --hggs-color-primary-008: #8d776d;
    --hggs-color-primary-007: #7d6458;
    --hggs-color-primary-006: #6c5043;
    --hggs-color-primary-005: #533729;
    --hggs-color-primary-004: #4a3125;
    --hggs-color-primary-003: #402b20;
    --hggs-color-primary-002: #37251c;
    --hggs-color-primary-001: #2e1f17;
    --hggs-color-primary-000: #251812;
    --hggs-color-primary-hover: var(--hggs-color-primary-006);

    /* Secondary colors */
    --hggs-color-secondary-010: #dcae9c;
    --hggs-color-secondary-009: #d49d88;
    --hggs-color-secondary-008: #cd8d74;
    --hggs-color-secondary-007: #c67d60;
    --hggs-color-secondary-006: #bf6c4c;
    --hggs-color-secondary-005: #a65332;
    --hggs-color-secondary-004: #934a2d;
    --hggs-color-secondary-003: #814027;
    --hggs-color-secondary-002: #6e3722;
    --hggs-color-secondary-001: #5c2e1c;
    --hggs-color-secondary-000: #4a2516;

    /* Tertiary colors */
    --hggs-color-tertiary: #e0c097;
    --hggs-color-tertiary-010: #f3e6d5;
    --hggs-color-tertiary-009: #f0e0cb;
    --hggs-color-tertiary-008: #ecd9c1;
    --hggs-color-tertiary-007: #e9d3b6;
    --hggs-color-tertiary-006: #e6cdac;
    --hggs-color-tertiary-005: #e3c6a1;
    --hggs-color-tertiary-004: #caad88;
    --hggs-color-tertiary-003: #b39a79;
    --hggs-color-tertiary-002: #9d866a;
    --hggs-color-tertiary-001: #86735b;
    --hggs-color-tertiary-000: #70604c;

    /* Quaternry Colors */
    --hggs-color-quaternary: var(--hggs-color-white);

    /* Quinary Colors */
    --hggs-color-quinary: var(--hggs-color-black);

    /* Senary Colors */
    --hggs-color-senary-010: #aba7a7;
    --hggs-color-senary-009: #969292;
    --hggs-color-senary-008: #817c7c;
    --hggs-color-senary-007: #6c6666;
    --hggs-color-senary-006: #575050;
    --hggs-color-senary-005: #423a3a;
    --hggs-color-senary-004: #292020;
    --hggs-color-senary-003: #241d1d;
    --hggs-color-senary-002: #1f1919;
    --hggs-color-senary-001: #1b1616;
    --hggs-color-senary-000: #171212;

    /* General colors */
    --hggs-color-gray-hover: var(--hggs-color-gray-007);
    --hggs-color: var(--hggs-color-tertiary);
    --hggs-color-background: var(--hggs-color-primary-001);
    --hggs-color-background-primary: var(--hggs-color-primary-002);
    --hggs-color-background-hover: var(--hggs-color-primary-000);

    /* BORDERS */
    --hggs-color-border: var(--hggs-color-secondary);

    /* FILTERS */
    --hggs-filter-primary-001: invert(9%) sepia(20%) saturate(1306%) hue-rotate(337deg) brightness(97%) contrast(90%);
    --hggs-filter-primary-009: invert(61%) sepia(9%) saturate(547%) hue-rotate(335deg) brightness(91%) contrast(90%);
    --hggs-filter-secondary-007: invert(55%) sepia(97%) saturate(258%) hue-rotate(331deg) brightness(83%) contrast(84%);
    --hggs-filter-tertiary-009: invert(97%) sepia(7%) saturate(2014%) hue-rotate(308deg) brightness(106%) contrast(88%);
    --hggs-filter-senary-007: invert(39%) sepia(6%) saturate(342%) hue-rotate(315deg) brightness(98%) contrast(85%);

    --hggs-filter-background: var(--hggs-filter-primary-001);

    /* SHADOWS */
    --hggs-shadow: 0px 0px 1px 6px var(--hggs-color-primary-003);

    /* LOGO */
    --hggs-logo-default: url("./assets/svg/logo-dark.svg");
  }
}
