.hggs-text {
  color: var(--text-color, var(--hggs-font-color-default));
  font-family: var(--text-font-famiy, var(--hggs-font-famiy-default));
  font-size: var(--text-font-size, var(--hggs-font-size-default));
  font-weight: var(--text-font-weight, var(--text-font-weight-default));
  margin: var(--text-margin, var(--hggs-space-default) 0);
  line-height: var(--text-line-height, var(--hggs-line-height-default));

  &.hggs-text--bold {
    font-weight: var(
      --text-font-weight-bold,
      var(--hggs-font-weight-lg-default)
    );
  }

  &.hggs-text--italic {
    font-style: italic;
  }

  &.hggs-text--small {
    font-size: var(--text-font-size-small, var(--hggs-font-size-sm-default));
    line-height: var(
      --text-line-height-small,
      var(--hggs-line-height-sm-default)
    );
  }
}
