.hggs-text {
  color: var(--text-color, --color-auxiliary-gray-005-default);
  font-family: var(--text-font-famiy, --font-family-primary-default);
  font-size:
    var(
      --text-font-size,
      --font-size-text-default
    );
  font-weight: var(--text-font-weight, --font-weight-normal-default);
}

.hggs-text--bold {
  font-weight: var(--text-font-weight-bold, --font-weight-bold-default);
}

.hggs-text--italic {
  font-style: italic;
}

.hggs-text--small {
  font-size: var(--text-font-size-small, --font-size-text-small-default);
}
