:root {
  /* COLORS */
  /* Generic colors */
  --hggs-color-white: #ffffff;
  --hggs-color-black: #000000;

  /* Gray Colors */
  --hggs-color-gray: #444444;
  --hggs-color-gray-000: #e8e8e8;
  --hggs-color-gray-001: #d1d1d1;
  --hggs-color-gray-002: #b9b9b9;
  --hggs-color-gray-003: #a2a2a2;
  --hggs-color-gray-004: #8b8b8b;
  --hggs-color-gray-005: #747474;
  --hggs-color-gray-006: #5d5d5d;
  --hggs-color-gray-007: #464646;
  --hggs-color-gray-008: #2e2e2e;
  --hggs-color-gray-009: #171717;
  --hggs-color-gray-hover: var(--hggs-color-gray-008);
  --hggs-color-gray-subtle: var(--hggs-color-gray-004);
  --hggs-color-background-gray-subtle: var(--hggs-color-gray-001);
  --hggs-color-border-gray: var(--hggs-color-gray);
  --hggs-color-border-gray-subtle: var(--hggs-color-gray-001));
  --hggs-color-border-gray-001: var(--hggs-color-gray-001);

  --hggs-color-gray-alpha-002: rgba(0, 0, 0, 0.1);
  --hggs-color-gray-alpha-004: rgba(0, 0, 0, 0.25);
  --hggs-color-gray-alpha-007: rgba(58, 58, 58, 0.6);
  --hggs-color-gray-alpha-008: rgba(8, 8, 8, 0.6);

  /* Main colors */
  /* Primary colors */
  --hggs-color-primary: #3753c4;
  --hggs-color-primary-000: #f0f2fb;
  --hggs-color-primary-001: #d8ddf3;
  --hggs-color-primary-002: #a3afe4;
  --hggs-color-primary-003: #6b81d6;
  --hggs-color-primary-004: #3e59c8;
  --hggs-color-primary-005: #3048a9;
  --hggs-color-primary-hover: var(--hggs-color-primary-005);
  --hggs-color-primary-subtle: var(--hggs-color-primary-005);
  --hggs-color-background-primary-subtle: var(--hggs-color-primary-001);
  --hggs-color-border-primary: var(--hggs-color-primary);
  --hggs-color-border-primary-hover: var(--hggs-color-primary-hover);
  --hggs-color-border-primary-subtle: var(--hggs-color-primary-001);


  /* Secondary colors */
  --hggs-color-secondary: #ce4136;
  --hggs-color-secondary-000: #f9e6e3;
  --hggs-color-secondary-001: #edbeba;
  --hggs-color-secondary-002: #db756c;
  --hggs-color-secondary-003: #d15247;
  --hggs-color-secondary-004: #af362c;
  --hggs-color-secondary-005: #983e36;
  --hggs-color-secondary-hover: var(--hggs-color-secondary-004);
  --hggs-color-secondary-subtle: var(--hggs-color-secondary-005);
  --hggs-color-background-secondary-subtle: var(--hggs-color-secondary-001);
  --hggs-color-border-secondary: var(--hggs-color-secondary);
  --hggs-color-border-secondary-hover: var(--hggs-color-secondary-hover);
  --hggs-color-border-secondary-subtle: var(--hggs-color-secondary-001);

  /* Tertiary Colors */
  --hggs-color-tertiary: #fad02c;
  --hggs-color-tertiary-000: #fef9e2;
  --hggs-color-tertiary-001: #fdeeb0;
  --hggs-color-tertiary-002: #f8dd74;
  --hggs-color-tertiary-003: #f4d040;
  --hggs-color-tertiary-004: #f2c50f;
  --hggs-color-tertiary-005: #bf9b0b;
  --hggs-color-tertiary-hover: var(--hggs-color-tertiary-004);
  --hggs-color-tertiary-subtle: var(--hggs-color-tertiary-005);
  --hggs-color-background-tertiary-subtle: var(--hggs-color-tertiary-001);
  --hggs-color-border-tertiary: var(--hggs-color-tertiary);
  --hggs-color-border-tertiary-hover: var(--hggs-color-tertiary-hover);
  --hggs-color-border-tertiary-subtle: var(--hggs-color-tertiary-001);

  /* Quaternary colors */
  --hggs-color-quaternary: var(--hggs-color-black);
  --hggs-color-quaternary-hover: var(--hggs-color-quaternary);
  --hggs-color-quaternary-subtle: var(--hggs-color-gray-006);
  --hggs-color-background-quaternary-subtle: var(--hggs-color-gray-001);
  --hggs-color-border-quaternary: var(--hggs-color-quaternary);
  --hggs-color-border-quaternary-hover: var(--hggs-color-quaternary-hover);
  --hggs-color-border-quaternary-subtle: var(--hggs-color-gray-008);

  /* Quinary colors */
  --hggs-color-quinary: var(--hggs-color-white);
  --hggs-color-quinary-hover: var(--hggs-color-quinary);
  --hggs-color-quinary-subtle: var(--hggs-color-gray-003);
  --hggs-color-quinary-subtle-001: var(--hggs-color-gray-005);
  --hggs-color-background-quinary-subtle: var(--hggs-color-gray-006);
  --hggs-color-border-quinary: var(--hggs-color-quinary);
  --hggs-color-border-quinary-hover: var(--hggs-color-quinary-hover);
  --hggs-color-border-quinary-subtle: var(--hggs-color-gray-005);

  /* Senary colors */
  --hggs-color-senary: #39bfff;
  --hggs-color-senary-000: #f0faff;
  --hggs-color-senary-001: #e1f5ff;
  --hggs-color-senary-002: #c1ebff;
  --hggs-color-senary-003: #a4e1ff;
  --hggs-color-senary-004: #77d2ff;
  --hggs-color-senary-005: #28b3f5;
  --hggs-color-senary-hover: var(--hggs-color-senary-005);
  --hggs-color-senary-subtle: var(--hggs-color-senary-005);
  --hggs-color-background-senary-subtle: var(--hggs-color-senary-001);
  --hggs-color-border-senary: var(--hggs-color-senary);
  --hggs-color-border-senary-hover: var(--hggs-color-senary-hover);
  --hggs-color-border-senary-001: var(--hggs-color-senary-003);
  --hggs-color-border-senary-subtle: var(--hggs-color-senary-001);

  /* Filters colors */
  --hggs-filter-gray: brightness(0) saturate(100%) invert(22%) sepia(0%)
    saturate(359%) hue-rotate(226deg) brightness(94%) contrast(81%);
  --hggs-filter-gray-002: brightness(0) saturate(100%) invert(89%) sepia(0%)
    saturate(160%) hue-rotate(245deg) brightness(85%) contrast(88%);
  --hggs-filter-gray-004: brightness(0) saturate(100%) invert(57%) sepia(1%)
    saturate(0%) hue-rotate(49deg) brightness(96%) contrast(93%);
  --hggs-filter-gray-007: brightness(0) saturate(100%) invert(28%) sepia(0%)
    saturate(0%) hue-rotate(99deg) brightness(94%) contrast(96%);

  --hggs-filter-primary: invert(28%) sepia(40%) saturate(2699%)
    hue-rotate(212deg) brightness(93%) contrast(94%);
  --hggs-filter-primary-001: invert(27%) sepia(11%) saturate(6768%)
    hue-rotate(204deg) brightness(99%) contrast(100%);

  --hggs-filter-secondary: invert(32%) sepia(24%) saturate(3291%)
    hue-rotate(331deg) brightness(99%) contrast(95%);
  --hggs-filter-secondary-001: invert(24%) sepia(62%) saturate(2295%)
    hue-rotate(348deg) brightness(91%) contrast(78%);

  --hggs-filter-tertiary: invert(90%) sepia(48%) saturate(3381%)
    hue-rotate(329deg) brightness(100%) contrast(97%);
  --hggs-filter-tertiary-001: invert(88%) sepia(33%) saturate(2272%)
    hue-rotate(343deg) brightness(104%) contrast(91%);

  --hggs-filter-quaternary: invert(0%) sepia(54%) saturate(2989%)
    hue-rotate(174deg) brightness(108%) contrast(108%);

  --hggs-filter-quinary: invert(100%) sepia(100%) saturate(0%)
    hue-rotate(157deg) brightness(102%) contrast(102%);

  --hggs-filter-senary: invert(58%) sepia(82%) saturate(1159%)
    hue-rotate(173deg) brightness(103%) contrast(101%);
  --hggs-filter-senary-001: invert(53%) sepia(95%) saturate(387%)
    hue-rotate(155deg) brightness(96%) contrast(100%);

  --hggs-filter-background: var(--hggs-filter-quaternary);
  --hggs-filter: var(--hggs-filter-gray);
  --hggs-filter-hover: var(--hggs-filter-gray-007);
  --hggs-filter-primary-hover: var(--hggs-filter-primary-001);
  --hggs-filter-secondary-hover: var(--hggs-filter-secondary-001);
  --hggs-filter-tertiary-hover: var(--hggs-filter-tertiary-001);
  --hggs-filter-quaternary-hover: var(--hggs-filter-quaternary);
  --hggs-filter-quinary-hover: var(--hggs-filter-quinary);
  --hggs-filter-senary-hover: var(--hggs-filter-senary-001);

  /* General colors */
  --hggs-color: var(--hggs-color-quaternary);
  --hggs-color-subtle: var(--hggs-color-gray-subtle);
  --hggs-color-hover: var(--hggs-color-quaternary);
  --hggs-color-error: #ff0b0b;
  --hggs-color-disabled: var(--hggs-color-gray-001);
  --hggs-color-background: var(--hggs-color-quinary);
  --hggs-color-background-hover: var(--hggs-color-gray-000);
  --hggs-color-background-subtle: var(--hggs-color-background-gray-subtle);
  --hggs-color-border: var(--hggs-color-border-gray);
  --hggs-color-border-subtle: var(--hggs-color-border-gray-subtle);

  /* SHADOWS */
  --hggs-shadow: 0px 0px 10px -2px var(--hggs-color-gray-003);

  /* FONT */
  /* Font familes */
  --hggs-font-family: "DM Sans", sans-serif;

  /* Font colors */
  --hggs-font-color: var(--hggs-color-gray-005);
  --hggs-font-color-light: var(--hggs-color-gray-001);
  --hggs-font-color-primary-light: var(--hggs-color-primary-000);

  /* Font sizes */
  --hggs-font-size-5xl: 1.9rem;
  --hggs-font-size-4xl: 1.7rem;
  --hggs-font-size-3xl: 1.5rem;
  --hggs-font-size-2xl: 1.4rem;
  --hggs-font-size-xl: 1.3rem;
  --hggs-font-size-lg: 1.2rem;
  --hggs-font-size-md: 1.1rem;
  --hggs-font-size: 1rem;
  --hggs-font-size-sm: 0.7rem;
  --hggs-font-size-xs: 0.6rem;
  --hggs-font-size-2xs: 0.5rem;

  /* Font weights */
  --hggs-font-weight-2xl: 900;
  --hggs-font-weight-xl: 700;
  --hggs-font-weight-lg: 600;
  --hggs-font-weight-md: 500;
  --hggs-font-weight: 400;

  /* Font letter spacings */
  --hggs-font-letter-spacing: 1px;
  --hggs-font-letter-spacing-sm: 0.6px;
  --hggs-font-letter-spacing-xs: 0.3px;

  /* Font line heights */
  --hggs-line-height: 1.4;
  --hggs-line-height-sm: 1.3;
  --hggs-line-height-xs: 1.1;

  /* BORDERS */
  --hggs-border-radius-md: 20px;
  --hggs-border-radius: 8px;
  --hggs-border-radius-sm: 2px;
  --hggs-border-size-xl: 5px;
  --hggs-border-size-lg: 3px;
  --hggs-border-size-md: 2px;
  --hggs-border-size: 1px;
  --hggs-border-type: solid;
  --hggs-border: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border);
  --hggs-border-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-subtle);
  --hggs-border-gray-001: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-gray-001);
  --hggs-border-focus: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-primary);
  --hggs-border-disabled: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-gray-001);
  --hggs-border-invalid: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-error);
  --hggs-border-primary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-primary);
  --hggs-border-primary-hover: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-primary-hover);
  --hggs-border-primary-subtle: var(--hggs-border-size) var(--hggs-border-type) var(--hggs-color-border-primary-subtle);
  --hggs-border-secondary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-secondary);
  --hggs-border-secondary-hover: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-secondary-hover);
  --hggs-border-secondary-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-secondary-subtle);
  --hggs-border-tertiary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-tertiary);
  --hggs-border-tertiary-hover: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-tertiary-hover);
  --hggs-border-tertiary-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-tertiary-subtle);
  --hggs-border-quaternary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-quaternary);
  --hggs-border-quaternary-hover: var(--hggs-border-size)
    var(--hggs-border-type) var(--hggs-color-border-quaternary-hover);
  --hggs-border-quaternary-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-quaternary-subtle);
  --hggs-border-quinary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-quinary);
  --hggs-border-quinary-hover: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-quinary-hover);
  --hggs-border-quinary-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-quinary-subtle);
  --hggs-border-senary: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-senary);
  --hggs-border-senary-hover: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-senary-hover);
  --hggs-border-senary-001: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-senary-001);
  --hggs-border-senary-subtle: var(--hggs-border-size) var(--hggs-border-type)
    var(--hggs-color-border-senary-subtle);

  /* SPACES */
  --hggs-space-horizontal: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-horizontal-lg: calc(var(--hggs-space-horizontal) * 4);
  --hggs-space-horizontal-md: calc(var(--hggs-space-horizontal) * 2);
  --hggs-space-horizontal-sm: calc(var(--hggs-space-horizontal) / 2);
  --hggs-space-horizontal-xs: calc(var(--hggs-space-horizontal) / 4);
  --hggs-space-horizontal-2xs: calc(var(--hggs-space-horizontal) / 6);
  --hggs-space-vertical: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --hggs-space-vertical-lg: calc(var(--hggs-space-vertical) * 4);
  --hggs-space-vertical-md: calc(var(--hggs-space-vertical) * 2);
  --hggs-space-vertical-sm: calc(var(--hggs-space-vertical) / 2);
  --hggs-space-vertical-xs: calc(var(--hggs-space-vertical) / 4);
  --hggs-space-vertical-2xs: calc(var(--hggs-space-vertical) / 6);

  /* FORM */
  --hggs-form-outline-focus: none;
  --hggs-form-box-shadow: var(--hggs-shadow);
  --hggs-form-box-shadow-hover: var(--hggs-shadow);
  --hggs-form-box-shadow-focus: var(--hggs-shadow);
  --hggs-form-input-height-md: 4.5rem;
  --hggs-form-input-height: 3.5rem;
  --hggs-form-input-height-sm: 2.5rem;
  --hggs-form-input-height-xs: 1.5rem;
  --hggs-form-input-border-radius: var(--hggs-border-radius);
  --hggs-form-input-placeholder-color: var(--hggs-color-gray-003);
  --hggs-form-input-placeholder-font-style: italic;
  --hggs-form-input-padding: var(--hggs-space-vertical-xs)
    calc(var(--hggs-space-horizontal) / 1.5);
  --hggs-form-input-padding-md: var(--hggs-space-vertical-xs)
    calc(var(--hggs-space-horizontal) / 1.5);
  --hggs-form-input-padding-sm: var(--hggs-space-vertical-sm)
    calc(var(--hggs-space-horizontal) / 1.5);
  --hggs-form-input-border: var(--hggs-border);
  --hggs-form-input-border-focus: var(--hggs-border-focus);
  --hggs-form-input-border-hover: var(--hggs-border);
  --hggs-form-input-border-checked: var(--hggs-form-input-border-focus);
  --hggs-form-input-border-disabled: var(--hggs-border-disabled);
  --hggs-form-input-border-invalid: var(--hggs-border-invalid);
  --hggs-form-input-box-shadow: var(--hggs-form-box-shadow);
  --hggs-form-input-box-shadow-hover: var(--hggs-form-box-shadow-hover);
  --hggs-form-input-box-shadow-focus: var(--hggs-form-box-shadow-focus);
  --hggs-form-input-control-background: var(--hggs-color-gray-001);
  --hggs-form-input-control-background-checked: var(--hggs-color-gray-003);
  --hggs-form-input-control-button-background: var(--hggs-color-quinary);
  --hggs-form-input-control-button-background-checked: var(--hggs-color-primary);

  /* LAYERS */
  --hggs-layer-0: 1;
  --hggs-layer-10: 10;

  /* ANIMATIONS */
  --hggs-animation-ease: all 200ms ease;

  /* TRANSITIONS */
  --hggs-transition-ease: 0.3s ease;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    /* COLORS */
    /* Gray Colors */
    --hggs-color-gray: #cfcfcf;
    --hggs-color-gray-009: #e8e8e8;
    --hggs-color-gray-008: #d1d1d1;
    --hggs-color-gray-007: #b9b9b9;
    --hggs-color-gray-006: #a2a2a2;
    --hggs-color-gray-005: #8b8b8b;
    --hggs-color-gray-004: #747474;
    --hggs-color-gray-003: #5d5d5d;
    --hggs-color-gray-002: #464646;
    --hggs-color-gray-001: #2e2e2e;
    --hggs-color-gray-000: #171717;

    /* Quaternry Colors */
    --hggs-color-quaternary: var(--hggs-color-white);

    /* Quinary Colors */
    --hggs-color-quinary: var(--hggs-color-black);

    /* Senary colors */
    --hggs-color-senary-005: #0085c5;
    --hggs-color-senary-004: #006899;
    --hggs-color-senary-003: #005983;
    --hggs-color-senary-002: #003b58;
    --hggs-color-senary-001: #001e2c;
    --hggs-color-senary-000: #000f16;

    /* General colors */
    --hggs-color-gray-hover: var(--hggs-color-gray-007);
    --hggs-color-background-hover: var(--hggs-color-gray-001);

    /* FONT */
    --hggs-font-color: var(--hggs-color-gray-008);
    --hggs-font-color-light: var(--hggs-color-gray-002);

    /* FILTERS */
    --hggs-filter-gray: brightness(0) saturate(100%) invert(100%) sepia(0%)
      saturate(7061%) hue-rotate(49deg) brightness(118%) contrast(62%);
    --hggs-filter-gray-002: brightness(0) saturate(100%) invert(25%) sepia(0%)
      saturate(731%) hue-rotate(159deg) brightness(98%) contrast(87%);
    --hggs-filter-gray-004: brightness(0) saturate(100%) invert(48%) sepia(3%)
      saturate(3%) hue-rotate(314deg) brightness(93%) contrast(97%);
    --hggs-filter-gray-007: brightness(0) saturate(100%) invert(87%) sepia(1%)
      saturate(0%) hue-rotate(206deg) brightness(88%) contrast(85%);
    --hggs-filter-quaternary: invert(100%) sepia(100%) saturate(0%)
      hue-rotate(157deg) brightness(102%) contrast(102%);
    --hggs-filter-quinary: invert(0%) sepia(54%) saturate(2989%)
      hue-rotate(174deg) brightness(108%) contrast(108%);

    /* SHADOWS */
    --hggs-shadow: 0px 0px 1px 6px var(--hggs-color-gray-001);

    /* LOGO */
    --hggs-logo-default: url("./assets/svg/logo-dark.svg");
  }
}
