<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-menu-hamburger</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />
  </head>

  <body>
    <div
      class="hggs-flex--top-left-column"
      style="height: 100vh; padding: 30px"
    >
      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-hamburger-menu</h3>
        <nav class="hggs-hamburger-menu">
          <div class="hggs-hamburger-menu-icon">
            <button class="hggs-button hggs-button--icon">
              <span class="hggs-icon hggs-icon--hamburger-menu"></span>
            </button>
          </div>
          <div class="hggs-hamburger-menu-items">
            <a class="hggs-hamburger-menu-item" href="">Home</a>
            <a class="hggs-hamburger-menu-item" href="">Returns</a>
            <a class="hggs-hamburger-menu-item" href="">Reports</a>
            <a class="hggs-hamburger-menu-item" href="">Companies</a>
            <a class="hggs-hamburger-menu-item" href="">Users</a>
            <a class="hggs-hamburger-menu-item" href="">EOIR</a>
          </div>
        </nav>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">
          .hggs-hamburger-menu
          .hggs-hamburger-menu-items.hggs-hamburger-menu-items--opened
        </h3>
        <div style="width: 140px">
          <nav class="hggs-hamburger-menu">
            <div class="hggs-hamburger-menu-icon">
              <button class="hggs-button hggs-button--icon">
                <span class="hggs-icon hggs-icon--hamburger-menu"></span>
              </button>
            </div>
            <div
              class="
                hggs-hamburger-menu-items hggs-hamburger-menu-items--opened
              "
            >
              <a class="hggs-hamburger-menu-item" href="">Home</a>
              <a class="hggs-hamburger-menu-item" href="">Returns</a>
              <a class="hggs-hamburger-menu-item" href="">Reports</a>
              <a class="hggs-hamburger-menu-item" href="">Companies</a>
              <a class="hggs-hamburger-menu-item" href="">Users</a>
              <a class="hggs-hamburger-menu-item" href="">EOIR</a>
            </div>
          </nav>
        </div>
      </article>
    </div>
  </body>
</html>
