<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-form</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">input + input</h3>
      <form class="hggs-form">
        <input type="test" class="hggs-input hggs-input" />
        <input type="test" class="hggs-input hggs-input" />
      </form>
    </article>

    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">field + field</h3>
      <form class="hggs-form">
        <div class="hggs-field">
          <label for="id-test" class="hggs-label">Label</label>
          <input type="text" class="hggs-input" />
        </div>
        <div class="hggs-field">
          <label for="id-test" class="hggs-label">Label</label>
          <input type="text" class="hggs-input" />
        </div>
      </form>
    </article>
  </body>
</html>
