.hggs-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hggs-form .hggs-input + .hggs-input {
  margin-top: var(--form-input-space-vertical);
}
