.hggs-list .hggs-list-item,
.hggs-list .hggs-list-item a {
  font-family: var(--list-item-font-family, --hggs-font-family-primary-default);
  font-weight: var(--list-item-font-weight, --hggs-font-weight-medium-default);
  font-size: var(--list-item-font-size, var(--hggs-font-size-text-default));
  color: var(--list-item-color, var(--hggs-color-auxiliar-gray-008-default));
  margin-bottom: var(
    --list-item-margin-bottom,
    --hggs-space-vertical-medium-default
  );
}

.hggs-list .hggs-list-item::marker {
  content: var(--list-item-content-marker, counter(list-item) ".   ");
  color: var(--list-item-color-marker, --hggs-color-auxiliar-gray-008-default);
  font-size: var(
    --list-item-font-size-marker,
    --hggs-font-size-text-small-default
  );
  font-weight: var(
    --list-item-font-weight-marker,
    --hggs-font-weight-medium-default
  );
}

.hggs-list .hggs-list-item a {
  text-decoration: none;
}

.hggs-list .hggs-list-item a:hover {
  color: var(
    --hggs-color-auxiliary-gray-008,
    --hggs-color-auxiliar-gray-008-default
  );
  text-decoration: underline;
}
