<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-list</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/higgsboson.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/dom.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>

    <script type="text/javascript" src="./list.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(l) { %>
        <%
          const articleTitleStyle = _.reduce(l?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerTitleStyle = _.reduce(l?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          headerSubtitleH4Style = _.reduce(l?.styles?.subHeaderH4, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const listClass = _.reduce(l?.classes?.list, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + ' ' + c;
          }, '');

          const listItemClass = _.reduce(l?.classes?.item, (acc, c) => {
            if (!acc) {
              return c;
            }

            return acc + ' ' + c;
          }, '');
        %>

        <article style="<%= articleTitleStyle %>">
          <h3 class="hggs-h3" style="<%= headerTitleStyle %>">
            <%= l.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= headerSubtitleH4Style %>">
            <%= l.subtitle %>
          </h4>
          <ul class="<%= listClass %>">
            <% _.each(l.labels.items, function(i) { %>
              <li class="<%= listItemClass %>">
                <%= i %>
              </li>
            <% }); %>
            <li class="<%= listItemClass %>">
              Item with link <a href="../" class="hggs-link">back to menu</a>
            </li>
          </ul>
        </article>
      <% }); %>
    </script>
  </head>

  <body>
    <div
      id="body"
      class="hggs-app hggs-flex--top-left-column"
      style="width: 100%; height: 100%; padding: 30px"
    ></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
