<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-input</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">
        .hggs-input.hggs-input--big
      </h3>
      <input type="test" class="hggs-input hggs-input--big" />
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-input</h3>
      <input type="test" class="hggs-input" />
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">
        .hggs-input [disabled]
      </h3>
      <input type="text" class="hggs-input" disabled />
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-input [error]</h3>
      <input type="text" class="hggs-input" error />
    </article>
  </body>
</html>
