.hggs-input {
  width: 100%;
  height: var(--input-height, --hggs-form-input-height-default);
  border: var(--input-border, --hggs-form-input-border);
  border-radius: var(
    --input-border-radius,
    --hggs-form-input-border-radius-default
  );
  padding: var(--input-padding, --hggs-form-input-padding-default);
  font-family: var(--input-font-family, --hggs-font-family-primary-default);
  font-size: var(--input-font-size, --hggs-font-size-default);
  box-sizing: border-box;
  background: transparent;

  &.hggs-input--big {
    height: var(--input-height-big, --hggs-form-input-height-big);
    padding: var(--input-padding-big, --hggs-form-input-padding-big);
    font-size: var(--input-font-size-big, --hggs-font-size-medium);
  }

  &.hggs-input--small {
    height: var(--input-height-small, --hggs-form-input-height-small);
    padding: var(--input-padding-small, --hggs-form-input-padding-small);
    font-size: var(--input-font-size-small, --hggs-font-size-small);
  }

  &::placeholder {
    color: var(
      --input-color-placeholder,
      --hggs-color-auxiliary-gray-003-default
    );
  }

  &:focus,
  &.hggs-input--focus {
    outline: var(--input-outline-focus, --hggs-form-outline-focus-default);
    border: var(--input-border-focus, --hggs-form-input-border-focus-default);
    box-shadow: var(
      --input-box-shadow-focus,
      --hggs-form-box-primary-focus-default
    );
  }

  &:disabled,
  &[disabled],
  &.hggs-input--disabled {
    border: var(
      --input-border-disabled,
      --hggs-form-input-border-disabled-default
    );
    cursor: not-allowed;
  }

  &:invalid,
  &[error],
  &.hggs-input--error {
    border: var(
      --input-border-invalid,
      --hggs-form-input-border-invalid-default
    );
  }
}
