<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-grid</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/higgsboson.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/dom.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>
    <script type="text/javascript" src="../../helpers/dom.js"></script>

    <script type="text/javascript" src="./grid.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(g) { %>
        <%
          const articleGridStyle = getStyles(g?.styles?.article);
          const headerGridStyle = getStyles(g?.styles?.header);
          const subHeaderGridStyle = getStyles(g?.styles?.subHeaderH4);
          const sectionGridStyle = getStyles(g?.styles?.section);
          const gridClass = getClasses(g?.classes?.grid);
        %>

        <article style="<%= articleGridStyle %>">
          <h3 class="hggs-h3" style="<%= headerGridStyle %>">
            <%= g.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderGridStyle %>">
            <%= g.subtitle %>
          </h4>

          <section style="<%= sectionGridStyle %>">
             <div class="<%= gridClass %>">
              <% if(!g?.classes?.cells) { %>
                  <%
                    const gridCellClass = getClasses(g?.classes?.cell);
                    const gridCellStyles = getStyles(smallLightGrayBoxWithHeightStyles);
                  %>

                  <div class="<%= gridCellClass %>" style="<%= gridCellStyles %>"></div>
              <% } else if (g?.classes?.cells) { %>
                  <% _.each(g.classes.cells, function(c, i) { %>
                    <%
                      const gridCellClass = getClasses(c);
                      let gridCellStyles = getStyles(smallLightGrayBoxWithHeightStyles);
                    %>

                    <%
                      if (i === 1 || i === 3) {
                        gridCellStyles = getStyles(smallDarkGrayBoxWithHeightStyles);
                      } else if (i === 2 || i === 4) {
                        gridCellStyles = getStyles(smallDarkerGrayBoxWithHeightStyles);
                      }
                    %>

                    <div class="<%= gridCellClass %>" style="<%= gridCellStyles %>"></div>
                  <% }); %>
              <% } %>
            </div>
          </section>
        </article>
      <% }); %>
    </script>
  </head>

  <body>
    <div
      id="body"
      class="hggs-app hggs-flex--column-top-left"
      style="width: 100%; height: 100%; padding: 30px"
    ></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
