<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vzr-grid</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <div
      class="hggs-flex--top-left-column"
      style="width: 100%; padding: 30px; background: #f6f7f9"
    >
      <!-- .vzr-grid -->
      <h3 class="hggs-h3" style="margin-bottom: 20px">.vzr-grid</h3>
      <!-- .vzr-cell.vzr-cell--4of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px">
        .vzr-cell.vzr-cell--4of12
      </h6>
      <div class="hggs-grid">
        <div
          class="hggs-cell vzr-cell--4of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
      </div>

      <!-- .vzr-grid.vzr-grid--center -->
      <h3 class="hggs-h3" style="margin-bottom: 20px; margin-top: 20px">
        .vzr-grid.vzr-grid--center
      </h3>

      <!-- .vzr-cell.vzr-cell--4of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px">
        .vzr-cell.vzr-cell--6of12
      </h6>
      <div class="hggs-grid vzr-grid--center">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
      </div>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12
      </h6>
      <div class="hggs-grid vzr-grid--center">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
      </div>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 + vzr-cell--4of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 + vzr-cell--4of12
      </h6>
      <div class="hggs-grid vzr-grid--center">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--4of12"
          style="background: #afafaf; height: 60px"
        ></div>
      </div>

      <!-- .vzr-grid.vzr-grid--right-->
      <h3 class="hggs-h3" style="margin-bottom: 20px; margin-top: 20px">
        .vzr-grid.vzr-grid--right
      </h3>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12
      </h6>
      <div class="hggs-grid vzr-grid--right">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
      </div>

      <!-- .vzr-grid.vzr-grid--left-->
      <h3 class="hggs-h3" style="margin-bottom: 20px; margin-top: 20px">
        .vzr-grid.vzr-grid--left
      </h3>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12
      </h6>
      <div class="hggs-grid vzr-grid--left">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
      </div>

      <!-- .vzr-grid.vzr-grid--between-->
      <h3 class="hggs-h3" style="margin-bottom: 20px; margin-top: 20px">
        .vzr-grid.vzr-grid--between
      </h3>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 15px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12
      </h6>
      <div class="hggs-grid vzr-grid--between">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
      </div>

      <!-- .vzr-grid.vzr-grid--between-->
      <h3 class="hggs-h3" style="margin-bottom: 20px; margin-top: 20px">
        .vzr-grid
      </h3>

      <!-- .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 -->
      <h6 class="hggs-h6" style="margin-bottom: 5px; margin-top: 20px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--2of12 + vzr-cell--4of12
      </h6>
      <h6 class="hggs-h6" style="margin-bottom: 15px">
        .vzr-cell.vzr-cell--4of12 + .vzr-cell.vzr-cell--3of12 + vzr-cell--5of12
      </h6>
      <div class="hggs-grid">
        <div
          class="hggs-cell vzr-cell--6of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--2of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--4of12"
          style="background: #afafaf; height: 60px"
        ></div>

        <div
          class="hggs-cell vzr-cell--4of12"
          style="background: #c3c3c3; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--3of12"
          style="background: #afafaf; height: 60px"
        ></div>
        <div
          class="hggs-cell vzr-cell--5of12"
          style="background: #e4e4e4; height: 60px"
        ></div>
      </div>
    </div>
  </body>
</html>
