.hggs-h1,
.hggs-h2,
.hggs-h3,
.hggs-h4,
.hggs-h5,
.hggs-h6 {
  color: var(--title-color, --hggs-app-color-default);
  font-family: var(--title-font-famiy, --hggs-font-family-primary-default);
}

.hggs-h1 {
  font-size: var(--title-h1-font-size, --hggs-font-size-colossal-default);
  font-weight: var(--title-h1-font-weight, --hggs-font-weight-medium-default);
  margin: var(--title-h1-margin, 20px 0 10px 0);
}

.hggs-h2 {
  font-size: var(--title-h2-font-size, --hggs-font-size-enormous-default);
  font-weight: var(--title-h2-font-weight, --hggs-font-weight-medium-default);
  margin: var(--title-h2-margin, 20px 0 10px 0);
}

.hggs-h3 {
  font-size: var(--title-h3-font-size, --hggs-font-size-extra-big-default);
  font-weight: var(--title-h3-font-weight, --hggs-font-weight-bold-default);
  margin: var(--title-h3-margin, 10px 0 5px 0);
}

.hggs-h4 {
  font-size: var(--title-h4-font-size, --hggs-font-size-big-default);
  font-weight: var(--title-h4-font-weight, --hggs-font-weight-bold-default);
  margin: var(--title-h4-margin, 10px 0 5px 0);
}

.hggs-h5 {
  font-size: var(--title-h5-font-size, --hggs-font-size-medium-default);
  font-weight: var(--title-h5-font-weight, --hggs-font-weight-bold-default);
  margin: var(--title-h5-margin, 5px 0 5px 0);
}

.hggs-h6 {
  font-size: var(--title-h6-font-size, --hggs-font-size-text-default);
  font-weight: var(--title-h6-font-weight, --hggs-font-weight-bold-default);
  margin: var(--title-h6-margin, 5px 0 5px 0);
}
