.hggs-switch {
  @extend .hggs-flex--row-left-center;

  & input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;

    &:checked + label {
      background: var(--hggs-switch-background-checked, var(--hggs-color-gray-005-default));

      &:after {
        left: var(--hggs-switch-circle-left-checked, calc(100% - 0px));
        transform: var(--hggs-switch-circle-transform-checked, translateX(-100%));
      }
    }
  }

  & > input + label {
    cursor: pointer;
    text-indent: -9999px;
    width: var(--hggs-switch-width, 40px);
    height: var(--hggs-switch-height,20px);
    background: var(--hggs-switch-background, transparent);
    display: block;
    border-radius: var(--hggs-switch-border-radius, 100px);
    position: relative;
    border: var(--hggs-switch-border, 1px solid white);

    &:after {
      content: '';
      position: absolute;
      top: -1px;
      left: 0;
      width: var(--hggs-switch-circle-width, 20px);
      height: var(--hggs-switch-circle-height, 20px);
      background:var(--hggs-switch-circle-background,  #fff);
      border-radius: var(--hggs-switch-circle-border-radius, 90px);
      transition: var(--hggs-switch-circle-transition, 0.3s);
    }

    &:active:after {
      width: var(--hggs-switch-circle-width-active, 40px);
    }
  }

  & > input + label + label {
    font-family: var(
      --switch-label-font-family,
      var(--hggs-font-family-default)
    );
    font-size: var(--switch-label-font-size, var(--hggs-font-size-default));
    font-weight: var(
      --switch-label-font-weight,
      var(--hggs-font-weight-default)
    );
    font-style: var(--switch-label-font-style, normal);
    color: var(--switch-label-color, var(--hggs-color-default));
    margin-left: var(--switch-margin-left, var(--hggs-space-sm-default));
    cursor: pointer;
    order: 2;
  }
}
