<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-switch</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/higgsboson.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/dom.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>
    <script type="text/javascript" src="../../helpers/dom.js"></script>

    <script type="text/javascript" src="./switch.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(d) { %>
        <%
          const articleStyle = getStyles(d?.styles?.article);
          const headerStyle = getStyles(d?.styles?.header);
          const switchClass = getClasses(d?.classes?.switch);
          const switchInputId = d?.ids.input;
          const switchLabelFor = d?.fors.label;
          const hasSubtitle = !!d?.subtitle;

          if (hasSubtitle) {
            subtitleStyle = getStyles(d?.styles?.subHeader);
          }
        %>

        <article style="<%= articleStyle %>">
          <h3 class="hggs-h3" style="<%= headerStyle %>">
            <%= d.title %>
          </h3>

          <% if(hasSubtitle) { %>
            <h4 class="hggs-h4" style="<%= subtitleStyle %>">
              <%= d.subtitle %>
            </h4>
          <% } %>

          <div class="<%= switchClass %>">
            <input type="checkbox" id="<%= switchInputId %>">
            <label for="<%= switchLabelFor %>">Switch</label>
            <label class="hggs-label" for="<%= switchLabelFor %>">Active Superpowers</label>
          </div>
        </article>
      <% }); %>
    </script>
  </head>

  <body>
    <div
      id="body"
      class="hggs-app hggs-flex--column-top-left"
      style="width: 100%; height: 100%; padding: 30px"
    ></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
