.hggs-button {
  width: 100%;
  border: unset;
  text-align: center;
  padding: var(--buttton-padding);
  height: var(--buttton-height);
  font-family: var(--button-font-family);
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  letter-spacing: var(--button-font-letter-spacing);
  border-radius: var(--button-border-radius);
  cursor: pointer;
  margin: var(--button-margin-vertical) 0;
}

.hggs-button.hggs-button--primary {
  color: var(--buttton-color-primary);
  background-color: var(--buttton-background-primary);
}

.hggs-button.hggs-button--primary:hover {
  background-color: var(--buttton-background-primary-hover);
}

.hggs-button.hggs-button--big {
  width: var(--button-width-big);
}

.hggs-button.hggs-button--medium {
  width: var(--button-width-medium);
  height: var(--button-height-medium);
  padding: var(--button-padding-medium);
}

.hggs-button.hggs-button--small {
  width: var(--button-width-small);
  height: var(--button-height-small);
  padding: var(--button-padding-small);
  font-size: var(--button-font-size-small);
}

.hggs-button.hggs-button--icon {
  width: var(--button-icon-width, --button-icon-width-default);
  background: unset;
  padding: var(--button-icon-padding, --button-icon-padding-default);
  margin: 0;
}

.hggs-button.hggs-button--icon .hggs-icon {
  display: block;
}
