%hggs-button-primary {
  color: var(--button-color-primary, var(--hggs-color-quinary-default));
  background-color: var(
    --button-background-primary,
    var(--hggs-color-primary-default)
  );
}

%hggs-button-secondary {
  color: var(--button-color-secondary, var(--hggs-color-quinary-default));
  background-color: var(
    --button-background-secondary,
    var(--hggs-color-secondary-default)
  );
}

%hggs-button-tertiary {
  color: var(--button-color-tertiary, var(--hggs-color-quinary-default));
  background-color: var(
    --button-background-tertiary,
    var(--hggs-color-tertiary-default)
  );
}

%hggs-button-quaternary {
  color: var(--button-color-quaternary, var(--hggs-color-quinary-default));
  background-color: var(
    --button-background-quaternary,
    var(--hggs-color-quaternary-default)
  );
}

%hggs-button-quinary {
  color: var(--button-color-quinary, var(--hggs-color-quaternary-default));
  background-color: var(
    --button-background-quinary,
    var(--hggs-color-quinary-default)
  );
}

%hggs-button-senary {
  color: var(--button-color-senary, var(--hggs-color-quinary-default));
  background-color: var(
    --button-background-senary,
    var(--hggs-color-senary-default)
  );
}

%hggs-button-icon-hover {
  filter: var(
    --button-icon-filter-hover,
    var(--hggs-filter-quaternary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-primary {
  filter: var(
    --button-icon-filter-primary-hover,
    var(--hggs-filter-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-secondary {
  filter: var(
    --button-icon-filter-secondary-hover,
    var(--hggs-filter-primary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-tertiary {
  filter: var(
    --button-icon-filter-tertiary-hover,
    var(--hggs-filter-secondary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-quaternary {
  filter: var(
    --button-icon-filter-quaternary-hover,
    var(--hggs-filter-quaternary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-quinary {
  filter: var(
    --button-icon-filter-quinary-hover,
    var(--hggs-filter-quinary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-icon-hover-senary {
  filter: var(
    --button-icon-filter-senary-hover,
    var(--hggs-filter-tertiary-default)
  );
  transition: var(
    --button-transition-hover,
    filter var(--hggs-animation-ease-default)
  );
}

%hggs-button-hover {
  background-color: var(
    --button-background-hover,
    var(--hggs-color-default)
  );
  box-shadow: var(
    --button-box-shadow-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  transform: var(
    --button-transform-hover,
    var(--hggs-transform-escale-default)
  );
  color: var(--button-color-hover, var(--hggs-color-quinary-default));
}

%hggs-button-focus {
  outline: var(--button-outline-focus, none);
  box-shadow: var(--button-box-shadow-focus, var(--hggs-shadow-primary-default));
}

%hggs-button-hover-primary {
  background-color: var(
    --button-background-primary-hover,
    var(--hggs-color-default)
  );
  box-shadow: var(
   --button-box-shadow-primary-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-primary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  transform: var(
    --button-transform-primary-hover,
    var(--hggs-transform-escale-default)
  );
  color: var(--button-color-primary, var(--hggs-color-quinary-default));
}

%hggs-button-focus-primary {
  box-shadow: var(
    --button-box-shadow-primary-focus,
    --hggs-form-box-primary-focus-default
  );
}

%hggs-button-hover-secondary {
  background-color: var(
    --button-background-secondary-hover,
    var(--hggs-color-primary-default)
  );
  box-shadow: var(
    --button-box-shadow-secondary-hover,
     var(--hggs-shadow-default)
  );
   transition: var(
    --button-transition-secondary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  transform: var(
    --button-transform-secondary-hover,
    var(--hggs-transform-escale-default)
  );
  color: var(--button-color-secondary, var(--hggs-color-quinary-default));
}

%hggs-button-focus-secondary {
  box-shadow: var(
    --button-box-shadow-secondary-focus,
    --hggs-form-box-shadow-secondary-focus-default
  );
}

%hggs-button-hover-tertiary {
  background-color: var(
    --button-background-tertiary-hover,
    var(--hggs-color-secondary-default)
  );
  box-shadow: var(
    --button-box-shadow-tertiary-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-tertiary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  color: var(--button-color-tertiary, var(--hggs-color-quinary-default));
}

%hggs-button-focus-tertiary {
  box-shadow: var(
    --button-box-shadow-tertiary-focus,
    --hggs-form-box-shadow-tertiary-focus-default
  );
}

%hggs-button-hover-quaternary {
  background-color: var(
    --button-background-quaternary-hover,
    var(--hggs-color-quaternary-default)
  );
  box-shadow: var(
    --button-box-shadow-quaternary-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-quaternary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  color: var(--button-color-quaternary, var(--hggs-color-quinary-default));
}

%hggs-button-focus-quaternary {
  box-shadow: var(
    --button-box-shadow-quaternary-focus,
    --hggs-form-box-shadow-quaternary-focus-default
  );
}

%hggs-button-hover-quinary {
  background-color: var(
    --button-background-quinary-hover,
    var(--hggs-color-quinary-default)
  );
  box-shadow: var(
    --button-box-shadow-quinary-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-quinary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  color: var(
    --button-color-quinary,
    var(--hggs-color-quaternary-default)
  );
}

%hggs-button-focus-quinary {
  box-shadow: var(
    --button-box-shadow-quinary-focus,
    --hggs-form-box-shadow-quinary-focus-default
  );
}

%hggs-button-hover-senary {
  background-color: var(
    --button-background-senary-hover,
    var(--hggs-color-tertiary-default)
  );
  box-shadow: var(
    --button-box-shadow-senary-hover,
    var(--hggs-shadow-default)
  );
  transition: var(
    --button-transition-senary-hover,
    width var(--hggs-animation-ease-default),
    height var(--hggs-animation-ease-default)
  );
  color: var(
    --button-color-senary,
    var(--hggs-color-quinary-default)
  );
}

%hggs-button-focus-senary {
  box-shadow: var(
    --button-box-shadow-senary-focus,
    --hggs-form-box-shadow-senary-focus-default
  );
}

%hggs-button-outline {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline,
    var(--hggs-color-default)
  );
  border: var(
    --button-border-outline,
    var(--hggs-border-default)
  );
}


%hggs-button-outline-hover {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-hover,
    unset
  );
  color: var(
    --button-color-outline-hover,
    var(--hggs-color-default)
  );
  border: var(
    --button-border-outline-hover,
    var(--hggs-border-default)
  );
}

%hggs-button-outline-primary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-primary,
    var(--hggs-color-primary-default)
  );
  border: var(
    --button-border-outline-primary,
    var(--hggs-border-primary-default)
  );
}

%hggs-button-outline-hover-primary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-primary-hover,
    unset
  );
  color: var(
    --button-color-outline-primary-hover,
    var(--hggs-color-default))
  );
  border: var(
    --button-border-outline-primary-hover,
    var(--hggs-border-default)
  );
}

%hggs-button-outline-secondary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-secondary,
    var(--hggs-color-quaternary-default));
  border: var(
    --button-border-outline-secondary,
    var(--hggs-border-secondary-default)
  );
}

%hggs-button-outline-hover-secondary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-secondary-hover,
    unset
  );
  color: var(
    --button-color-outline-secondary-hover,
    var(--hggs-color-primary-default))
  );
  border: var(
    --button-border-outline-secondary-hover,
    var(--hggs-border-primary-default)
  );
}

%hggs-button-outline-tertiary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-tertiary,
    var(--hggs-color-tertiary-default)
  );
  border: var(
    --button-border-outline-tertiary,
    var(--hggs-border-tertiary-default)
  );
}

%hggs-button-outline-hover-tertiary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-tertiary-hover,
    unset
  );
  color: var(
    --button-color-outline-tertiary-hover,
    var(--hggs-color-secondary-default)
  );
  border: var(
    --button-border-outline-tertiary-hover,
    var(--hggs-border-secondary-default)
  );
}

%hggs-button-outline-quaternary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-quaternary,
    var(--hggs-color-quaternary-default)
  );
  border: var(
    --button-border-outline-quaternary,
    var(--hggs-border-quaternary-default)
  );
}

%hggs-button-outline-hover-quaternary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-quaternary-hover,
    unset
  );
  color: var(
    --button-color-outline-quaternary-hover,
    var(--hggs-color-quaternary-default)
  );
  border: var(
    --button-border-outline-quaternary-hover,
    var(--hggs-border-quaternary-default)
  );
}

%hggs-button-outline-quinary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-quinary,
    var(--hggs-color-quinary-default)
  );
  border: var(
    --button-border-outline-quinary,
    var(--hggs-border-quinary-default)
  );
}

%hggs-button-outline-hover-quinary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-quinary-hover,
    unset
  );
  color: var(
    --button-color-outline-quinary-hover,
    var(--hggs-color-quinary-default)
  );
  border: var(
    --button-border-outline-quinary-hover,
    var(--hggs-border-quinary-default)
  );
}

%hggs-button-outline-senary {
  background-color: transparent;
  background: transparent;
  color: var(
    --button-color-outline-senary,
    var(--hggs-color-senary-default)
  );
  border: var(
    --button-border-outline-senary,
    var(--hggs-border-senary-default)
  );
}

%hggs-button-outline-hover-senary {
  background-color: transparent;
  background: transparent;
  outline: unset;
  outline-offset: 0;
  box-shadow: var(
    --button-box-shadow-outline-senary-hover,
   unset
  );
  color: var(
    --button-color-outline-senary-hover,
    var(--hggs-color-tertiary-default)
  );
  border: var(
    --button-border-outline-senary-hover,
    var(--hggs-border-tertiary-default)
  );
}

%hggs-button-icon-reset {
  background: unset;
  background-color: unset;
}

%hggs-button-icon-hover-reset {
  background-color: unset;
  box-shadow: unset;
  box-shadow: var(
    --button-icon-shadow-hover,
    unset
  );
  transform: var(
    --button-icon-transform-hover,
    var(--hggs-transform-escale-default)
  );
}

%hggs-button-box {
  &:hover .hggs-icon {
    @extend %hggs-icon-box-default;
  }

  &.hggs-button--primary {
    & .hggs-icon {
      @extend %hggs-icon-box-primary;
    }

    &:hover .hggs-icon {
      @extend %hggs-icon-box-quaternary
    }
  }

  &.hggs-button--secondary {
    & .hggs-icon {
      @extend %hggs-icon-box-secondary;
    }

    &:hover .hggs-icon {
      @extend %hggs-icon-box-tertiary;
    }
  }

  &.hggs-button--tertiary {
    & .hggs-icon {
      @extend %hggs-icon-box-tertiary;
    }

    &:hover .hggs-icon {
      @extend %hggs-icon-box-quaternary;
    }
  }

  &.hggs-button--quaternary {
    & .hggs-icon {
      @extend %hggs-icon-box-quaternary;
    }
  }

  &.hggs-button--quinary {
    & .hggs-icon {
      @extend %hggs-icon-box-quinary;
    }
  }

  &.hggs-button--senary {
    & .hggs-icon {
      @extend %hggs-icon-box-senary;
    }
  }
}

.hggs-button {
  border: unset;
  text-align: center;
  padding: var(
    --button-padding-medium,
    calc(var(--hggs-space-vertical-medium-default) / 1.2)
      var(--hggs-space-horizontal-big-default)
  );
  font-size: var(
    --button-font-size-medium,
    var(--hggs-font-size-mega-default)
  );
  font-family: var(--button-font-family, var(--hggs-font-family));
  font-weight: var(
    --button-font-weight,
    var(--hggs-font-weight-default)
  );
  color: var(--button-color, var(--hggs-color-quinary-default));
  letter-spacing: var(--button-font-letter-spacing);
  border-radius: var(--button-border-radius);
  cursor: var(--button-cursor, default);
  margin: var(--button-margin-vertical) 0;
  background: var(--button-background, var(--hggs-color-default));

  &:hover {
    @extend %hggs-button-hover;

    & .hggs-icon {
      @extend %hggs-button-icon-hover;
    }
  }

  &:focus {
    @extend %hggs-button-focus;
  }

  &.hggs-button--square {
    @extend %hggs-icon-box;
    @extend %hggs-icon-box-square;
    @extend %hggs-button-box;

    &.hggs-button--small {
      @extend %hggs-icon-box-small;
    }

    &.hggs-button--micro {
      @extend %hggs-icon-box-micro;
    }
  }

  &.hggs-button--circle {
    @extend %hggs-icon-box;
    @extend %hggs-icon-box-circle;
    @extend %hggs-button-box;

    &.hggs-button--small {
      @extend %hggs-icon-box-small;
    }

    &.hggs-button--micro {
      @extend %hggs-icon-box-micro;
    }

  }

  &.hggs-button--icon {
    &:not(.hggs-icon-wrapper) {
      @extend .hggs-flex--center-row;
    }

    &:not( > .hggs-icon-wrapper) {
      width: var(
        --button-icon-width,
        calc(var(--hggs-icon-size-default) + var(--hggs-space-vertical-small-default))
      );
    }

    width: auto;
    height: auto;
    background: unset;
    background-color: unset;
    padding: var(--button-icon-padding, var(--hggs-space-vertical-micro-default));
    margin: 0;

    &.hggs-icon {
      display: block;
    }

    &:hover {
      @extend %hggs-button-icon-hover-reset;

      & .hggs-icon {
        @extend %hggs-button-icon-hover;
      }

      & .hggs-icon-label {
        color: var(
          --button-icon-label-color-hover,
          var(--hggs-color-quaternary-default)
        );
      }
    }
  }

  &.hggs-button--outline {
    @extend %hggs-button-outline;

    &:hover {
      @extend %hggs-button-outline-hover;
    }

    & .hggs-icon {
      @extend %hggs-icon-outline-default;
    }

    &:hover .hggs-icon {
      @extend %hggs-icon-outline-default;
    }
  }

  &.hggs-button--primary {
    @extend %hggs-button-primary;

    & .hggs-icon {
      @extend %hggs-icon-primary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-primary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-primary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-primary-hover,
            var(--hggs-color-quaternary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-primary;

      & .hggs-icon {
        @extend %hggs-icon-primary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-primary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-primary;

      & .hggs-icon {
        @extend %hggs-icon-outline-primary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-primary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-primary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-primary;
      }
    }
  }

  &.hggs-button--secondary {
    @extend %hggs-button-secondary;

    & .hggs-icon {
      @extend %hggs-icon-secondary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-secondary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-secondary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-secondary-hover,
            var(--hggs-color-quaternary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-secondary;

      & .hggs-icon {
        @extend %hggs-icon-secondary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-secondary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-secondary;

      & .hggs-icon {
        @extend %hggs-icon-outline-secondary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-secondary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-secondary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-secondary;
      }
    }
  }

  &.hggs-button--tertiary {
    @extend %hggs-button-tertiary;

    & .hggs-icon {
      @extend %hggs-icon-tertiary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-tertiary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-tertiary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-tertiary-hover,
            var(--hggs-color-quaternary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-tertiary;

      & .hggs-icon {
        @extend %hggs-icon-tertiary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-tertiary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-tertiary;

      & .hggs-icon {
        @extend %hggs-icon-outline-tertiary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-tertiary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-tertiary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-tertiary;
      }
    }
  }

  &.hggs-button--quaternary {
    @extend %hggs-button-quaternary;

    & .hggs-icon {
      @extend %hggs-icon-quaternary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-quaternary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-quaternary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-quaternary-hover,
            var(--hggs-color-quaternary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-quaternary;

      & .hggs-icon {
        @extend %hggs-icon-quaternary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-quaternary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-quaternary;

      & .hggs-icon {
        @extend %hggs-icon-outline-quaternary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-quaternary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-quaternary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-quaternary;
      }
    }
  }

  &.hggs-button--quinary {
    @extend %hggs-button-quinary;

    & .hggs-icon {
      @extend %hggs-icon-quinary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-quinary;
      }

      & .hggs-icon-label {
        @extend %hggs-icon-label-quinary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-quinary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-quinary-hover,
            var(--hggs-color-quinary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-quinary;

      & .hggs-icon {
        @extend %hggs-icon-quinary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-quinary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-quinary;

      & .hggs-icon {
        @extend %hggs-icon-outline-quinary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-quinary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-quinary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-quinary;
      }
    }
  }

  &.hggs-button--senary {
    @extend %hggs-button-senary;

    & .hggs-icon {
      @extend %hggs-icon-senary;
    }

    &.hggs-button--icon {
      @extend %hggs-button-icon-reset;

      & .hggs-icon {
        @extend %hggs-icon-senary;
      }

      &:hover {
        @extend %hggs-button-icon-hover-reset;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-senary;
        }

        & .hggs-icon-label {
          color: var(
            --button-icon-label-color-senary-hover,
            var(--hggs-color-quaternary-default)
          );
        }
      }
    }

    &:hover {
      @extend %hggs-button-hover-senary;

      & .hggs-icon {
        @extend %hggs-icon-senary;
      }
    }

    &:focus {
      @extend %hggs-button-focus-senary;
    }

    &.hggs-button--outline {
      @extend %hggs-button-outline-senary;

      & .hggs-icon {
        @extend %hggs-icon-outline-senary;
      }

      &:hover {
        @extend %hggs-button-outline-hover-senary;

        & .hggs-icon {
          @extend %hggs-button-icon-hover-senary;
        }
      }

      &:focus {
        @extend %hggs-button-focus-senary;
      }
    }
  }

  &.hggs-button--full-width {
    width: 100%;

    &:hover {
      transform: var(--button-transform-full-width-hover, --hggs-transform-escale-small-default);
    }
  }

  &.hggs-button--big {
    padding: var(
      --button-padding-big,
      calc(var(--hggs-space-vertical-medium-default))
        var(--hggs-space-horizontal-macro-default)
    );
    font-size: var(
      --button-font-size-extra-medium,
      var(--hggs-font-size-mega-default)
    );
  }

  &.hggs-button--medium {
    padding: var(
      --button-padding-medium,
      calc(var(--hggs-space-vertical-medium-default) / 1.2)
        var(--hggs-space-horizontal-big-default)
    );
    font-size: var(
      --button-font-size-medium,
      var(--hggs-font-size-mega-default)
    );
  }

  &.hggs-button--small:not(.hggs-button--circle):not(.hggs-button--square) {
    padding: var(
      --button-padding-small,
      var(--hggs-space-vertical-micro-default)
        var(--hggs-space-horizontal-small-default)
    );
    font-size: var(
      --button-font-size-small,
      var(--hggs-font-size-small-default)
    );
  }
}
