<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-button</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/styles.js"></script>

    <script type="text/javascript" src="./buttons.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <!-- default buttons -->

      <% _.each(data.default, function(b) { %>

       <%
          const articleButtonStyle = _.reduce(b?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerButtonStyle = _.reduce(b?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleButtonStyle %>">
          <h3 class="hggs-h3" style="<%= headerButtonStyle %>">
            <%= b.title %>
          </h3>

          <%
            const buttonClass = _.reduce(b.classes.button, (acc, c) => {
              if (!acc) {
                return c;
              }

              return acc + ' ' + c;
            }, '');

            const buttonIsDisabled = b?.attributes?.button?.disabled ? b.attributes.button.disabled : false;
            const buttonHasErrors = b?.attributes?.button?.error ? b.attributes.button.error : false;
          %>

          <% if(buttonIsDisabled) { %>
            <button class="<%= buttonClass %>" disabled/>Button</button>
          <% } else if(buttonHasErrors) { %>
            <button class="<%= buttonClass %>" error/>Button</button>
          <% } else { %>
            <button class="<%= buttonClass %>" />Button</button>
          <% } %>
        </article>
      <% }); %>

      <!-- icon buttons -->

      <% _.each(data.icons, (i) => { %>
        <%
          const articleIconButtonStyle = _.reduce(i?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerIconButtonStyle = _.reduce(i?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const IconButtonStyle = _.reduce(i?.styles?.button, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleIconButtonStyle %>">
          <h3 class="hggs-h3" style="<%= headerIconButtonStyle %>">
            <%= i.title %>
          </h3>

          <div class="hggs-flex--top-left-row">
            <%
              const iconButtonClass = _.reduce(i.classes.button, (acc, bc) => {
                if (!acc) {
                  return bc;
                }

                return acc + ' ' + bc;
              }, '');
            %>

            <% _.each(i.classes.span, (spanClasses, index) => { %>
              <%
                const iconSpanClass = _.reduce(spanClasses, (acc, spc) => {
                  if (!acc) {
                    return spc;
                  }

                  return acc + ' ' + spc;
                }, '');
              %>

              <button class="<%= iconButtonClass %>" style="<%= IconButtonStyle %>" />
                <span class="<%= iconSpanClass %>"></span>
              </button>
            <% }); %>

          </div>
        </article>
      <% }); %>


      <!-- icon buttons with labels -->

      <% _.each(data.iconsWithLabel, (iwl) => { %>
        <%
          const articleIconWithLabelButtonStyle = _.reduce(iwl?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerIconWithLabelButtonStyle = _.reduce(iwl?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderIconWithLabelButtonStyle = _.reduce(iwl?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const IconButtonWithLabelStyle = _.reduce(iwl?.styles?.button, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleIconWithLabelButtonStyle %>">
          <h3 class="hggs-h3" style="<%= headerIconWithLabelButtonStyle %>">
            <%= iwl.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderIconWithLabelButtonStyle %>">
            <%= iwl.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-row">
            <%
              const iconButtonClass = _.reduce(iwl.classes.button, (acc, bc) => {
                if (!acc) {
                  return bc;
                }

                return acc + ' ' + bc;
              }, '');
            %>

            <% _.each(iwl.classes.span, (spanClasses, index) => { %>
              <%
                const iconSpanClass = _.reduce(spanClasses, (acc, spc) => {
                  if (!acc) {
                    return spc;
                  }

                  return acc + ' ' + spc;
                }, '');
              %>

              <button class="<%= iconButtonClass %>" style="<%= IconButtonWithLabelStyle %>" />
                <div class="hggs-icon-wrapper">
                  <span class="<%= iconSpanClass %>"></span>
                  <span class="hggs-icon-label">This is a button labeled</span>
                </div>
              </button>
            <% }); %>

          </div>
        </article>
      <% }); %>

      <!-- square buttons -->

      <% _.each(data.squareIcons, (s) => { %>
        <%
          const articleSquareButtonsStyle = _.reduce(s?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerSquareButtonsStyle = _.reduce(s?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderSquareButtonsStyle = _.reduce(s?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const buttonSquareStyle = _.reduce(s?.styles?.button, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleSquareButtonsStyle %>">
          <h3 class="hggs-h3" style="<%= headerSquareButtonsStyle %>">
            <%= s.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderSquareButtonsStyle %>">
            <%= s.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-column">
            <div class="hggs-flex--top-left-row">
              <%
                const squareButtonClass = _.reduce(s.classes.button, (acc, bc) => {
                  if (!acc) {
                    return bc;
                  }

                  return acc + ' ' + bc;
                }, '');
              %>

              <% _.each(s.classes.span, (spanClasses, index) => { %>
                <%
                  const squareSpanClass = _.reduce(spanClasses, (acc, spc) => {
                    if (!acc) {
                      return spc;
                    }

                    return acc + ' ' + spc;
                  }, '');
                %>

                <button class="<%= squareButtonClass %>" style="<%= buttonSquareStyle %>" />
                  <span class="<%= squareSpanClass %>"></span>
                </button>
              <% }); %>
            </div>

            <% _.each(s.extraClasses.button, (buttonExtraClasses, index) => { %>
              <div class="hggs-flex--top-left-row">
                <%
                  const squareButtonExtraClass = squareButtonClass + ' ' + buttonExtraClasses
                %>

                <% _.each(s.classes.span, (spanClasses, index) => { %>
                  <%
                    const squareSpanClass = _.reduce(spanClasses, (acc, spc) => {
                      if (!acc) {
                        return spc;
                      }

                      return acc + ' ' + spc;
                    }, '');
                  %>

                  <button class="<%= squareButtonExtraClass %>" style="<%= buttonSquareStyle %>" />
                    <span class="<%= squareSpanClass %>"></span>
                  </button>
                <% }); %>
              </div>
            <% }); %>
          </div>
        </article>
      <% }); %>


      <!-- circle buttons -->

      <% _.each(data.circleIcons, (c) => { %>
        <%
          const articleCircleButtonsStyle = _.reduce(c?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerCircleButtonsStyle = _.reduce(c?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderCircleButtonsStyle = _.reduce(c?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const circleButtonsStyle = _.reduce(c?.styles?.button, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleCircleButtonsStyle %>">
          <h3 class="hggs-h3" style="<%= headerCircleButtonsStyle %>">
            <%= c.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderCircleButtonsStyle %>">
            <%= c.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-column">
            <div class="hggs-flex--top-left-row">
              <%
                const circleButtonClass = _.reduce(c.classes.button, (acc, bc) => {
                  if (!acc) {
                    return bc;
                  }

                  return acc + ' ' + bc;
                }, '');
              %>

              <% _.each(c.classes.span, (spanClasses, index) => { %>
                <%
                  const circleSpanClass = _.reduce(spanClasses, (acc, spc) => {
                    if (!acc) {
                      return spc;
                    }

                    return acc + ' ' + spc;
                  }, '');
                %>

                <button class="<%= circleButtonClass %>" style="<%= circleButtonsStyle %>" />
                  <span class="<%= circleSpanClass %>"></span>
                </button>
              <% }); %>
            </div>

            <% _.each(c.extraClasses.button, (buttonExtraClasses, index) => { %>
              <div class="hggs-flex--top-left-row">
                <%
                  const circleButtonExtraClass = circleButtonClass + ' ' + buttonExtraClasses
                %>

                <% _.each(c.classes.span, (spanClasses, index) => { %>
                  <%
                    const circleSpanClass = _.reduce(spanClasses, (acc, cpc) => {
                      if (!acc) {
                        return cpc;
                      }

                      return acc + ' ' + cpc;
                    }, '');
                  %>

                  <button class="<%= circleButtonExtraClass %>" style="<%= circleButtonsStyle %>" />
                    <span class="<%= circleSpanClass %>"></span>
                  </button>
                <% }); %>
              </div>
            <% }); %>
          </div>
        </article>
      <% }); %>
    </script>
  </head>

  <body
    id="body"
    class="hggs-flex--top-left-column"
    style="width: 100%; height: 100%; padding: 30px"
  ></body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
