<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vzr-button</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button</h3>
      <button class="hggs-button"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--big</h3>
      <button class="hggs-button vzr-button--big"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--medium</h3>
      <button class="hggs-button vzr-button--medium"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--small</h3>
      <button class="hggs-button vzr-button--small"/>Button</button>
    </article>


    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--primary</h3>
      <button class="hggs-button vzr-button--primary"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--primary.hggs-button--big</h3>
      <button class="hggs-button vzr-button--primary vzr-button--big"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--primary.hggs-button--medium</h3>
      <button class="hggs-button vzr-button--primary vzr-button--medium"/>Button</button>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--primary.hggs-button--small</h3>
      <button class="hggs-button vzr-button--primary vzr-button--small"/>Button</button>
    </article>

    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--icon-labeled</h3>
      <div class="hggs-flex--top-left-row">
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--edit"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--hamburger-menu"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--log-out"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--question"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--user"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--close"></span>
        </button>
      </div>
    </article>

    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-button.hggs-button--icon-labeled .hggs-button--circle</h3>
      <div class="hggs-flex--top-left-row">
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--edit"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--hamburger-menu"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--log-out"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--question"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--user"></span>
        </button>
        <button class="hggs-button vzr-button--icon-labeled vzr-button--circle" style="margin-right: 10px"/>
          <span class="hggs-icon vzr-icon--close"></span>
        </button>
      </div>
    </article>
  </body>
</html>
