.hggs-app {
  @extend .hggs-flex--top-center-column;

  width: 100%;
  height: 100%;
  background: var(--hggs-app-background, --hggs-color-quinary-default);
  color: var(--hggs-app-color, --hggs-color-auxiliar-gray-008-default);
}
