.hggs-app {
  @extend .hggs-flex--top-center-column;

  width: 100%;
  height: 100%;
  background: var(--app-background, --hggs-color-quinary-default);
  color: var(--app-color, --hggs-color-auxiliar-gray-008-default);
  padding: var(--app-padding, 0);

  & > header {
    & > .hggs-h1:first-child {
      margin-top: 0px;
    }
  }

  & > footer {
    padding-top: var(--app-footer-padding-top, 0);
  }
}
