.hggs-logo {
  width: var(--logo-width, 600px);
  height: var(--logo-height, 600px);
  background: var(--logo-url, url("./assets/svg/logo.svg")) no-repeat;
  background-size: cover;

  &.hggs-logo--white {
    background: var(--logo-url-white, url("./assets/svg/logo-white.svg"))
      no-repeat;
  }

  &.hggs-logo--black {
    background: var(--logo-url-black, url("./assets/svg/logo-black.svg"))
      no-repeat;
  }

  &.hggs-logo--hggs-color-primary {
    fill: var(--icon-color-primary, --icon-color-primary-default);
  }

  &.hggs-logo--small {
    width: var(--logo-width-small, 100px);
    height: var(--logo-height-small, 100px);
  }
}

