<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vzr-logo</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/captain-america.css" />
  </head>

  <body>
    <div class="hggs-flex--top-left-column" style="height: 100vh; padding: 30px;">
      <article style="margin-bottom: 30px;">
        <h3 class="hggs-h3">.hggs-logo</h3>
        <div class="hggs-logo"></div>
      </article>
      <article style="margin-bottom: 30px;">
        <h3 class="hggs-h3">.hggs-logo.hggs-logo--black</h3>
        <div class="hggs-logo hggs-logo--black"></div>
      </article>
      <article>
        <h3 class="hggs-h3">.hggs-logo.hggs-logo--white</h3>
        <div class="hggs-logo hgss-logo--white" style="background-color: black;"></div>
      </article>
    </div>
  </body>
</html>
