<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vzr-label</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body class="hggs-flex--top-left-column" style="width: 100vw; height: 100vh; padding: 30px;">
      <article style="margin-bottom: 30px; width: 100%;">
        <h3 class="hggs-h3" style="margin-bottom: 20px;">.hggs-label</h3>
        <label for="id-test" class="hggs-label">Label</label>
      </article>
      <article style="margin-bottom: 30px; width: 100%;">
        <h3 class="hggs-h3" style="margin-bottom: 20px;">.hggs-label [focus]</h3>
        <label for="id-test" class="hggs-label vzr-label--focus">Label</label>
      </article>
       <article style="margin-bottom: 30px; width: 100%;">
        <h3 class="hggs-h3" style="margin-bottom: 20px;">.hggs-label [disabled]</h3>
        <label for="id-test" class="hggs-label vzr-label--disabled" disabled>Label</label>
      </article>
  </body>
</html>
