<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-select</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/captain-america.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/styles.js"></script>
    <script type="text/javascript" src="../../helpers/dom.js"></script>

    <script type="text/javascript" src="./select.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(slt) { %>
        <%
          const articleSelectStyle = getStyles(slt?.styles?.article);
          const headerSelectStyle = getStyles(slt?.styles?.header);
          const headerSelectSubtitleStyle = getStyles(slt?.styles?.subHeaderH4);
          const selectWrapperClass = getClasses(slt?.classes?.wrapper);
          const selectClass = getClasses(slt?.classes?.select);
        %>

        <article style="<%= articleSelectStyle %>">
          <h3 class="hggs-h3" style="<%= headerSelectStyle %>">
            <%= slt.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= headerSelectSubtitleStyle %>">
            <%= slt.subtitle %>
          </h4>

          <div class="<%= selectWrapperClass %>">
            <select class="<%= selectClass %>" name="pets">
              <option class="hggs-option" value="">Please choose an option</option>
              <option class="hggs-option" value="dog">Dog</option>
              <option class="hggs-option" value="cat">Cat</option>
              <option class="hggs-option" value="hamster">Hamster</option>
              <option class="hggs-option" value="parrot">Parrot</option>
              <option class="hggs-option" value="spider">Spider</option>
              <option class="hggs-option" value="goldfish">Goldfish</option>
            </select>
            <span class="hggs-icon hggs-icon--chevron-down"></span>
          </div>
        </article>
      <% }); %>
    </script>
  </head>

  <body
    id="body"
    class="hggs-flex--top-left-column"
    style="width: 100%; height: 100%; padding: 30px"
  ></body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
