%hggs-select-reset-styles {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.hggs-select-wrapper {
  position: relative;
  width: 100%;
  cursor: pointer;

  & .hggs-icon--chevron-down {
    position: absolute;
    top: var(--select-open-icon-top, 25%);
    right: var(
      --select-open-icon-right,
      var(--hggs-space-horizontal-small-default)
    );
  }
}

.hggs-select {
  @extend %hggs-select-reset-styles;

  cursor: pointer;
  font-family: var(--select-font-family, var(--hggs-font-family-default));
  font-size: var(--select-font-size, var(--hggs-font-size-big-default));
  color: var(--select-color, var(--hggs-color-default));
  border: var(--select-border, var(--hggs-border-default));
  border-radius: var(--select-border-radius, var(--hggs-border-radius-default));
  height: var(--select-height, var(--hggs-space-vertical-big-default));
  padding: var(
    --select-padding-left,
    var(--hggs-space-vertical-small-default)
      var(--hggs-space-horizontal-small-default)
  );

  &:focus {
    outline: var(--select-outline-focus, none);
    border: var(--select-border-focus, var(--hggs-border-focus-default));
    box-shadow: var(--select-box-shadow-focus, var(--hggs-shadow-default));
  }
}
