.hggs-logo {
  --logo-url: url("./assets/svg/logo.svg");
  --logo-width: calc(var(--hggs-space-horizontal) * 10);
  --logo-height: var(--logo-width);
  --logo-width-small: calc(var(--hggs-space-horizontal-xs) * 15);
  --logo-height-small: var(--logo-width-small);
  --logo-url-light: url("./assets/svg/logo-light.svg");
  --logo-url-dark: url("./assets/svg/logo-dark.svg");
}
