.hggs-link {
  text-decoration: none;
  font-family: var(--link-font-family);
  font-weight: var(--link-font-weight);
  font-size: var(--hggs-font-size);
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
    color: var(--link-color-hover);
  }
}
