.hggs-link {
  text-decoration: var(--link-text-decoration, underline);
  font-family: var(--link-font-family, var(--hggs-font-family-primary-default));
  font-weight: var(--link-font-weight, var(--hggs-font-weight-default));
  font-size: var(--hggs-font-size, var(--hggs-font-size-default));
  font-style: var(--hggs-font-weight-medium, italic);
  color: var(--link-color, var(--hggs-color-default));

  &:hover,
  &.hggs-link--hover {
    text-decoration: var(--link-text-decoration-hover, underline);
    color: var(--link-color-hover), var(--hggs-color-default);
    cursor: pointer;
  }
}
