.hggs-option {
  font-family: var(
    --option-font-family,
    var(--hggs-font-family-primary-default)
  );
  font-size: var(--option-font-size, var(--hggs-font-size-default));
  color: var(--option-color, var(--hggs-color-default));
}
