<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-option</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/higgsboson.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
    <script type="text/javascript" src="../../helpers/dom.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>
    <script type="text/javascript" src="./option.metadata.js"></script>
    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <% _.each(data.default, function(o) { %>
        <%
          const articleStyles = getStyles(o?.styles?.article);
          const headerStyles = getStyles(o?.styles?.header);
          const optionTitleStyles = getStyles(o?.styles?.titles?.option);
          const optionTitle = o?.titles?.option;
          const optionClasses = getClasses(o?.classes?.option);
        %>

        <article style="<%= articleStyles %>">
          <header style="<%= headerStyles %>">
            <h3 class="hggs-h3" style="<%= optionTitleStyles %>">
              <%= optionTitle %>
            </h3>
          </header>
          <optgroup>
            <% _.each(o.labels.options, function(i) { %>
              <option class="<%= optionClasses %>" value="<%= i %>">
                <%= i %>
              </option>
            <% }); %>
          <optgroup>
        </article>
      <% }); %>
    </script>
  </head>

  <body>
    <div id="body" class="hggs-app hggs-app--left" style="width: 100%; height: 100%; padding: 30px"></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
