<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-step</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/higgsboson.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"></script>
    <script type="text/javascript" src="../../helpers/dom.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>
    <script type="text/javascript" src="./step.metadata.js"></script>
    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <!-- default -->
      <% _.each(data.default, function(d) { %>
        <%
          const articleStyles = getStyles(d?.styles?.article);
          const headerStyles = getStyles(d?.styles?.header);
          const stepClasses = getClasses(d?.classes?.step);
          const stepTitle = d?.titles?.step;
          const stepTitleStyles = getStyles(d?.styles?.titles?.step);
          const sideClasses = getClasses(d?.classes?.side);
          const sideTitle = d?.titles?.side;
          const sideTitleStyles = getStyles(d?.styles?.titles?.side);
          const mainClasses = getClasses(d?.classes?.main);
          const mainTitle = d?.titles?.main;
          const mainTitleStyles = getStyles(d?.styles?.titles?.main);
          const titleClasses = getClasses(d?.classes?.title);
          const titleTitle = d?.titles?.title;
          const titleTitleStyles = getStyles(d?.styles?.titles?.title);
          const dividerClasses = getClasses(d?.classes?.divider);
          const dividerTitle = d?.titles?.divider;
          const dividerTitleStyles = getStyles(d?.styles?.titles?.divider);
          const descriptionClasses = getClasses(d?.classes?.description);
          const descriptionTitle = d?.titles?.description;
          const descriptionTitleStyles = getStyles(d?.styles?.titles?.description);
        %>

        <article style="<%= articleStyles %>">
          <header style="<%= headerStyles %>">
            <h3 class="hggs-h3" style="<%= stepTitleStyles %>">
              <%= stepTitle %>
            </h3>
            <h4 class="hggs-h4" style="<%= sideTitleStyles %>">
              <%= sideTitle %>
            </h4>
            <h4 class="hggs-h4" style="<%= mainTitleStyles %>">
              <%= mainTitle %>
            </h4>
            <h5 class="hggs-h5" style="<%= titleTitleStyles %>">
              <%= titleTitle %>
            </h5>
            <% if (dividerTitle) { %>
              <h5 class="hggs-h5" style="<%= dividerTitleStyles %>">
                <%= dividerTitle %>
              </h5>
            <% } %>
            <h5 class="hggs-h5" style="<%= descriptionTitleStyles %>">
              <%= descriptionTitle %>
            </h5>
          </header>

          <article class="<%= stepClasses %>">
            <span class="<%= sideClasses %>"><span>2</span></span>
            <section class="<%= mainClasses %>">
              <span class="<%= titleClasses %>">In Progress</span>
              <span class="<%= dividerClasses %>"></span>
              <span class="<%= descriptionClasses %>">This is a description</span>
            </section>
          </article>
        </article>
      <% }); %>

      <!-- small -->
      <% _.each(data.small, function(d) { %>
        <%
          const articleStyles = getStyles(d?.styles?.article);
          const headerStyles = getStyles(d?.styles?.header);
          const stepClasses = getClasses(d?.classes?.step);
          const stepTitle = d?.titles?.step;
          const stepTitleStyles = getStyles(d?.styles?.titles?.step);
          const sideClasses = getClasses(d?.classes?.side);
          const sideTitle = d?.titles?.side;
          const sideTitleStyles = getStyles(d?.styles?.titles?.side);
          const mainClasses = getClasses(d?.classes?.main);
          const mainTitle = d?.titles?.main;
          const mainTitleStyles = getStyles(d?.styles?.titles?.main);
          const titleClasses = getClasses(d?.classes?.title);
          const titleTitle = d?.titles?.title;
          const titleTitleStyles = getStyles(d?.styles?.titles?.title);
          const dividerClasses = getClasses(d?.classes?.divider);
          const dividerTitle = d?.titles?.divider;
          const dividerTitleStyles = getStyles(d?.styles?.titles?.divider);
          const descriptionClasses = getClasses(d?.classes?.description);
          const descriptionTitle = d?.titles?.description;
          const descriptionTitleStyles = getStyles(d?.styles?.titles?.description);
        %>

        <article style="<%= articleStyles %>">
          <header style="<%= headerStyles %>">
            <h3 class="hggs-h3" style="<%= stepTitleStyles %>">
              <%= stepTitle %>
            </h3>
            <h4 class="hggs-h4" style="<%= sideTitleStyles %>">
              <%= sideTitle %>
            </h4>
            <h4 class="hggs-h4" style="<%= mainTitleStyles %>">
              <%= mainTitle %>
            </h4>
            <h5 class="hggs-h5" style="<%= titleTitleStyles %>">
              <%= titleTitle %>
            </h5>
            <% if (dividerTitle) { %>
              <h5 class="hggs-h5" style="<%= dividerTitleStyles %>">
                <%= dividerTitle %>
              </h5>
            <% } %>
            <h5 class="hggs-h5" style="<%= descriptionTitleStyles %>">
              <%= descriptionTitle %>
            </h5>
          </header>

          <article class="<%= stepClasses %>">
            <span class="<%= sideClasses %>"><span>2</span></span>
            <section class="<%= mainClasses %>">
              <span class="<%= titleClasses %>">In Progress</span>
              <span class="<%= dividerClasses %>"></span>
              <span class="<%= descriptionClasses %>">This is a description</span>
            </section>
          </article>
        </article>
      <% }); %>

      <!-- dot -->
      <% _.each(data.dot, function(d) { %>
        <%
          const articleStyles = getStyles(d?.styles?.article);
          const headerStyles = getStyles(d?.styles?.header);
          const stepClasses = getClasses(d?.classes?.step);
          const stepTitle = d?.titles?.step;
          const stepTitleStyles = getStyles(d?.styles?.titles?.step);
          const sideClasses = getClasses(d?.classes?.side);
          const sideTitle = d?.titles?.side;
          const sideTitleStyles = getStyles(d?.styles?.titles?.side);
          const mainClasses = getClasses(d?.classes?.main);
          const mainTitle = d?.titles?.main;
          const mainTitleStyles = getStyles(d?.styles?.titles?.main);
          const titleClasses = getClasses(d?.classes?.title);
          const titleTitle = d?.titles?.title;
          const titleTitleStyles = getStyles(d?.styles?.titles?.title);
          const dividerClasses = getClasses(d?.classes?.divider);
          const dividerTitle = d?.titles?.divider;
          const dividerTitleStyles = getStyles(d?.styles?.titles?.divider);
          const descriptionClasses = getClasses(d?.classes?.description);
          const descriptionTitle = d?.titles?.description;
          const descriptionTitleStyles = getStyles(d?.styles?.titles?.description);
        %>

        <article style="<%= articleStyles %>">
          <header style="<%= headerStyles %>">
            <h3 class="hggs-h3" style="<%= stepTitleStyles %>">
              <%= stepTitle %>
            </h3>
            <h4 class="hggs-h4" style="<%= sideTitleStyles %>">
              <%= sideTitle %>
            </h4>
            <h4 class="hggs-h4" style="<%= mainTitleStyles %>">
              <%= mainTitle %>
            </h4>
            <h5 class="hggs-h5" style="<%= titleTitleStyles %>">
              <%= titleTitle %>
            </h5>
            <% if (dividerTitle) { %>
              <h5 class="hggs-h5" style="<%= dividerTitleStyles %>">
                <%= dividerTitle %>
              </h5>
            <% } %>
            <h5 class="hggs-h5" style="<%= descriptionTitleStyles %>">
              <%= descriptionTitle %>
            </h5>
          </header>

          <article class="<%= stepClasses %>">
            <span class="<%= sideClasses %>"></span>
            <section class="<%= mainClasses %>">
              <span class="<%= titleClasses %>">In Progress</span>
              <span class="<%= dividerClasses %>"></span>
              <span class="<%= descriptionClasses %>">This is a description</span>
            </section>
          </article>
        </article>
      <% }); %>

      <!-- states -->

      <%
        const states = _.keys(data?.states);

        _.each(states, function(s) {
          _.each(data?.states[s], function(s) {
      %>
            <%
              const articleStyles = getStyles(s?.styles?.article);
              const headerStyles = getStyles(s?.styles?.header);
              const stepClasses = getClasses(s?.classes?.step);
              const stepTitle = s?.titles?.step;
              const stepTitleStyles = getStyles(s?.styles?.titles?.step);
              const sideClasses = getClasses(s?.classes?.side);
              const sideTitle = s?.titles?.side;
              const sideTitleStyles = getStyles(s?.styles?.titles?.side);
              const iconClasses = getClasses(s?.classes?.icon);
              const iconTitle = s?.titles?.icon;
              const iconTitleStyles = getStyles(s?.styles?.titles?.icon);
              const mainClasses = getClasses(s?.classes?.main);
              const mainTitle = s?.titles?.main;
              const mainTitleStyles = getStyles(s?.styles?.titles?.main);
              const titleClasses = getClasses(s?.classes?.title);
              const titleTitle = s?.titles?.title;
              const titleTitleStyles = getStyles(s?.styles?.titles?.title);
              const dividerClasses = getClasses(s?.classes?.divider);
              const dividerTitle = s?.titles?.divider;
              const dividerTitleStyles = getStyles(s?.styles?.titles?.divider);
              const descriptionClasses = getClasses(s?.classes?.description);
              const descriptionTitle = s?.titles?.description;
              const descriptionTitleStyles = getStyles(s?.styles?.titles?.description);
              const stateLabel = s?.labels?.title;
            %>

            <article style="<%= articleStyles %>">
              <header style="<%= headerStyles %>">
                <h3 class="hggs-h3" style="<%= stepTitleStyles %>">
                  <%= stepTitle %>
                </h3>
                <h4 class="hggs-h4" style="<%= sideTitleStyles %>">
                  <%= sideTitle %>
                </h4>
                <% if (iconTitle) { %>
                  <h5 class="hggs-h5" style="<%= iconTitleStyles %>">
                    <%= iconTitle %>
                  </h5>
                <% } %>
                <h4 class="hggs-h4" style="<%= mainTitleStyles %>">
                  <%= mainTitle %>
                </h4>
                <h5 class="hggs-h5" style="<%= titleTitleStyles %>">
                  <%= titleTitle %>
                </h5>
                <% if (dividerTitle) { %>
                  <h5 class="hggs-h5" style="<%= dividerTitleStyles %>">
                    <%= dividerTitle %>
                  </h5>
                <% } %>
                <h5 class="hggs-h5" style="<%= descriptionTitleStyles %>">
                  <%= descriptionTitle %>
                </h5>
              </header>
              <article class="<%= stepClasses %>">
                <span class="<%= sideClasses %>">
                  <span class="<%= iconClasses  %>"></span>
                </span>
                <section class="<%= mainClasses %>">
                  <span class="<%= titleClasses %>"><%= stateLabel %></span>
                   <span class="<%= dividerClasses %>"></span>
                  <span class="<%= descriptionClasses %>">This is a description</span>
                </section>
              </article>
            </article>
          <% });
        }); %>
    </script>
  </head>

  <body>
    <div id="body" class="hggs-app hggs-app--left" style="width: 100%; height: 100%; padding: 30px"></div>
  </body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
