.hggs-step {
  @extend .hggs-flex--row-top-left;

  &> .hggs-step-side {
    @extend .hggs-flex--column-center ;

    font-family: var(--step-side-font-family, var(--hggs-font-family-default));
    font-size: var(--step-side-font-size, var(--hggs-font-size-md-default));
    font-weight: var(--step-side-font-weight, var(--hggs-font-weight-default));
    color: var(--step-side-color, var(--hggs-color-quinary-default));
    background: var(--step-side-background, var(--hggs-color-quaternary-default));
    width: var(--step-side-size, calc(var(--hggs-space-md-default) / 1.5));
    height: var(--step-side-size, calc(var(--hggs-space-md-default) / 1.5));
    border-radius: var(--step-side-border-radius, 100px);
    margin-right: var(--step-side-margin-right, var(--hggs-space-sm-default));
  }

  &> .hggs-step-main {
    @extend .hggs-flex--column-top-left;

    &> .hggs-step-title {
      font-family: var(--step-title-font-family, var(--hggs-font-family-default));
      font-size: var(--step-title-font-size, var(--hggs-font-size-default));
      font-weight: var(--step-title-font-weight, var(--hggs-font-weight-default));
      color: var(--step-title-color, var(--hggs-font-color-default));
      margin: var(--step-title-margin, calc(var(--hggs-space-md-default) / 8) 0 var(--hggs-space-xs-default)) 0;
    }

    &> .hggs-step-description {
      font-family: var(--step-description-font-family, var(--hggs-font-family-default));
      font-size: var(--step-description-font-size, var(--hggs-font-size-sm-default));
      font-weight: var(--step-description-font-weight, var(--hggs-font-weight-default));
      color: var(--step-description-color, var(--hggs-font-color-002-default));
    }
  }

  &.hggs-step--small {
    &> .hggs-step-side {
      width: var(--step-side-size-small, calc(var(--hggs-space-md-default) / 2));
      height: var(--step-side-size-small, calc(var(--hggs-space-md-default) / 2));
      font-size: var(--step-title-font-size-small, var(--hggs-font-size-sm-default));
    }

    &> .hggs-step-main {
      &> .hggs-step-title {
        font-size: var(--step-title-font-size-small, var(--hggs-font-size-sm-default));
        margin: var(--step-title-margin-small, calc(calc(var(--hggs-space-md-default) / 12)) 0 var(--hggs-space-2xs-default) 0);
      }

      &> .hggs-step-description {
        font-size: var(--step-description-font-size-small, var(--hggs-font-size-xs-default));
      }
    }

    &.hggs-step--no-description {
      &> .hggs-step-main {
        &> .hggs-step-title {
          margin: var(--step-title-margin-small, calc(calc(var(--hggs-space-md-default) / 16))) 0 0 0;
        }

        &> .hggs-step-description {
          display: none;
        }
      }
    }
  }

  &.hggs-step--dot {
    &> .hggs-step-side {
      width: var(--step-side-size-dot, calc(var(--hggs-space-md-default) / 3));
      height: var(--step-side-size-dot, calc(var(--hggs-space-md-default) / 3));

      & * {
        display: none;
      }
    }

    &> .hggs-step-main {
      &> .hggs-step-description {
        font-size: var(--step-description-font-size-dot, var(--hggs-font-size-xs-default));
      }

      &> .hggs-step-title {
        font-size: var(--step-title-font-size-dot, var(--hggs-font-size-sm-default));
        margin: var(--step-title-margin-dot, 0 0 var(--hggs-space-2xs-default) 0);
      }
    }


    &.hggs-step--no-description {
      &> .hggs-step-main {
        &> .hggs-step-title {
          margin: var(--step-title-margin-dot, 0 0 0 0);
        }

        &> .hggs-step-description {
          display: none;
        }
      }
    }
  }

  &.hggs-step--complete {
    &> .hggs-step-side {
      background: var(--step-side-background-complete, var(--hggs-color-gray-012-default));
    }
  }

  &.hggs-step--error {
    &> .hggs-step-side {
      background: var(--step-side-background-error, var(--hggs-color-error-default));
    }

    &> .hggs-step-main {
      &> .hggs-step-title {
        color: var(--step-title-color-error, var(--hggs-font-color-default));
      }

      &> .hggs-step-description {
        color: var(--step-descrption-color-error, var(--hggs-font-color-002-default));
      }
    }
  }

  &.hggs-step--waiting {
    &> .hggs-step-side {
      background: var(--step-side-background-waiting, var(--hggs-color-gray-004-default));
    }

    &> .hggs-step-main {
      &> .hggs-step-description {
        color: var(--step-title-color-waiting, var(--hggs-font-color-002-default));
      }

      &> .hggs-step-title {
        color: var(--step-title-color-waiting, var(--hggs-font-color-002-default));
      }
    }

  }
}
