:root {
  --color-primary-default: #9c9c9c;
  --color-primary-001-default: #7d7d7d;
  --color-secondary-default: #c9c9c9;
  --color-tertiary-default: #e0e0e0;
  --color-quaternary-default: #000;
  --color-quinary-default: #fff;
  --color-senary-default: #f6f7f9;
  --color-auxiliary-gray-000-default: #f6f7f9;
  --color-auxiliary-gray-001-default: #eee;
  --color-auxiliary-gray-002-default: #e0e0e0;
  --color-auxiliary-gray-003-default: #c9c9c9;
  --color-auxiliary-gray-004-default: #9c9c9c;
  --color-auxiliary-gray-005-default: #7d7d7d;
  --color-auxiliary-gray-007-default: #4e4b4b;
  --color-auxiliar-gray-008-default: #1b1d2a;
  --font-family-primary-default: sans-serif;
  --font-size-colossal-default: 38px;
  --font-size-enormous-default: 32px;
  --font-size-extra-big-default: 28px;
  --font-size-big-small-default: 24px;
  --font-size-medium-small-default: 18px;
  --font-size-text-normal-plus-default: 16px;
  --font-size-text-default: 14px;
  --font-size-text-small-default: 12px;
  --font-weight-normal-default: 400;
  --font-weight-medium-default: 500;
  --font-weight-bold-default: 700;
  --font-weight-extra-bold-default: 900;
  --letter-spacing-default: 1px;
  --boder-radius-default: 8px;
  --border-default: 1px solid var(--color-auxiliary-gray-001-default);
  --space-vertical-medium-default: clamp(0.75rem, 4vw - 1rem, 1.5rem);
  --space-vertical-small-default: calc(var(--space-vertical-medium) / 2);
  --layer-10-default: 11;
  --layer-0-default: 1;
  --app-background-default: var(--color-quinary-default);
  --app-color-default: var(--color-auxiliar-gray-008-default);
}
