.hggs-steps {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: var(--steps-gap, var(--hggs-space-sm-default));

  & .hggs-step {
    align-items: stretch;
    justify-content: space-between;
    flex: 1;

    &:last-child {
      flex: 0;
    }
  }
}
