.hggs-field {
  width: 100%;
}

.hggs-field > .hggs-label {
  display: block;
  margin-bottom: var(--field-margin-bottom, --field-margin-bottom-default);
}

.hggs-field.hggs-field--focus > .hggs-label {
  @extend .hggs-label.hggs-label--focus;
}

.hggs-field.hggs-field--focus > .hggs-input {
  @extend .hggs-input.hggs-input--focus;
}

.hggs-field.hggs-field--disabled > .hggs-label {
  @extend .hggs-label.hggs-label--disabled;
}

.hggs-field.hggs-field--disabled > .hggs-input {
  @extend .hggs-input.hggs-input--disabled;
}

.hggs-field.hggs-field--error > .hggs-input {
  @extend .hggs-input.hggs-input--error;
}
