<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-field</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-field</h3>
      <div class="hggs-field">
        <label for="id-test" class="hggs-label">Label</label>
        <input type="text" class="hggs-input" />
      </div>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-field [focus]</h3>
      <div class="hggs-field hggs-field--focus">
        <label for="id-test" class="hggs-label">Label</label>
        <input type="text" class="hggs-input" />
      </div>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">
        .hggs-field [disabled]
      </h3>
      <div class="hggs-field hggs-field--disabled">
        <label for="id-test" class="hggs-label" disabled>Label</label>
        <input type="text" class="hggs-input" />
      </div>
    </article>
    <article style="margin-bottom: 30px; width: 100%">
      <h3 class="hggs-h3" style="margin-bottom: 20px">.hggs-field [error]</h3>
      <div class="hggs-field hggs-field--error">
        <label for="id-test" class="hggs-label" error>Label</label>
        <input type="text" class="hggs-input" />
      </div>
    </article>
  </body>
</html>
