.hggs-field {
  width: 100%;

  & > .hggs-label {
    display: block;
    margin-bottom: var(--field-margin-bottom, --field-margin-bottom-default);
  }

  &.hggs-field--required {
    & > .hggs-label:after {
      content: "*";
      color: var(
        --field-label-after-color-required,
        --hggs-color-auxiliary-gray-004
      );
      margin-left: var(
        --field-label-after-margin-left-required,
        --hggs-space-horizontal-small
      );
    }
  }

  &.hggs-field--focus {
    & > .hggs-label {
      @extend .hggs-label.hggs-label--focus;
    }

    & > .hggs-input {
      @extend .hggs-input.hggs-input--focus;
    }
  }

  &.hggs-field--disabled {
    & > .hggs-label {
      @extend .hggs-label.hggs-label--disabled;
    }

    & > .hggs-input {
      @extend .hggs-input.hggs-input--disabled;
    }
  }

  &.hggs-field--error {
    & > .hggs-input {
      @extend .hggs-input.hggs-input--error;
    }
  }
}
