%hggs-flex-column {
  display: flex;
  flex-direction: column;
}

%hggs-flex-row {
  display: flex;
  flex-direction: row;
}

%hggs-flex-center {
  align-items: center;
  justify-content: center;
}

.hggs-flex--column-center {
  @extend %hggs-flex-column;
  @extend %hggs-flex-center;
}

.hggs-flex--column-top-center {
  @extend %hggs-flex-column;
  align-items: center;
  justify-content: flex-start;
}

.hggs-flex--column-top-left {
  @extend %hggs-flex-column;
  align-items: flex-start;
  justify-content: flex-start;
}

.hggs-flex--column-top-right {
  @extend %hggs-flex-column;
  align-items: flex-end;
  justify-content: flex-start;
}

.hggs-flex--row-center {
  @extend %hggs-flex-row;
  @extend %hggs-flex-center;
}

.hggs-flex--row-top-center {
  @extend %hggs-flex-row;
  align-items: flex-start;
  justify-content: center;
}

.hggs-flex--row-left-center {
  @extend %hggs-flex-row;
  align-items: center;
  justify-content: flex-start;
}

.hggs-flex--row-right-center {
  @extend %hggs-flex-row;
  align-items: center;
  justify-content: flex-end;
}

.hggs-flex--row-left-stretch {
  @extend %hggs-flex-row;
  align-items: stretch;
  justify-content: flex-start;
}

.hggs-flex--row-top-left {
  @extend %hggs-flex-row;
  align-items: flex-start;
  justify-content: flex-start;
}

.hggs-flex--row-space-between-center {
  @extend %hggs-flex-row;
  align-items: center;
  justify-content: space-between;
}

.hggs-flex {
  &.hggs-flex--column-center,
  &.hggs-flex--column-top-center,
  &.hggs-flex--column-top-left,
  &.hggs-flex--column-top-right,
  &.hggs-flex--row-center,
  &.hggs-flex--row-top-center,
  &.hggs-flex--row-left-center,
  &.hggs-flex--row-left-stretch,
  &.hggs-flex--row-top-left,
  &.hggs-flex--row-space-between-center {
    &.hggs-flex-item--flex-1 {
      flex: 1;
    }

    &.hggs-flex--row-wrap {
      flex-wrap: wrap;
    }
  }

  &.hggs-flex--column-center,
  &.hggs-flex--column-top-center,
  &.hggs-flex--column-top-left,
  &.hggs-flex--column-top-right {
    &.hggs-flex--gap-small {
      gap: var(--hggs-flex-column-gap-small, --hggs-space-vertical-sm);
    }

    &.hggs-flex--gap-medium {
      gap: var(--hggs-flex-column-gap-medium, --hggs-space-vertical);
    }

    &.hggs-flex--gap-big {
      gap: var(--hggs-flex-column-gap-big, --hggs-space-vertical-md);
    }
  }

  &.hggs-flex--row-center,
  &.hggs-flex--row-top-center,
  &.hggs-flex--row-left-center,
  &.hggs-flex--center-right-row,
  &.hggs-flex--row-left-stretch,
  &.hggs-flex--row-top-left,
  &.hggs-flex--row-space-between-center {
    &.hggs-flex--gap-small {
      gap: var(--hggs-flex-row-gap-small, --hggs-space-horizontal-sm);
    }

    &.hggs-flex--gap-medium {
      gap: var(--hggs-flex-row-gap-medium, --hggs-space-horizontal);
    }

    &.hggs-flex--gap-big {
      gap: var(--hggs-flex-row-gap-big, --hggs-space-horizontal-md);
    }
  }
}
