.hggs-app {
  --app-font-size: var(--hggs-font-size);
  --app-color: var(--hggs-color);
  --app-background: var(--hggs-color-background);
  --app-padding: var(--hggs-space-vertical-md) var(--hggs-space-horizontal-sm);
  --app-footer-padding-top: var(--hggs-space-vertical);
}
