@keyframes hggs-dialog-appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.hggs-dialog {
  --dialog-background-color: var(--hggs-color-background);
  --dialog-color: var(--hggs-color);
  --dialog-text-align: center;
  --dialog-padding: var(--hggs-space-horizontal-md) var(--hggs-space-vertical-md);
  --dialog-border-radius: var(--hggs-border-radius);
  --dialog-max-width: 90vw;
  --dialog-anmimation-open: hggs-dialog-appear 0.15s
    cubic-bezier(0, 1.8, 1, 1.8);
  --dialog-background-box-shadow: 0 0 40px var(--hggs-color-gray-alpha-002),
    0 0 10px var(--hggs-color-gray-alpha-004);
  --dialog-width-big: 80vw;
  --dialog-width-medium: 65vw;
  --dialog-width-small: 40vw;
  --dialog-close-position: absolute;
  --dialog-close-top: 20px;
  --dialog-close-right: 10px;
}
