.hggs-field {
  --field-label-after-color-required: var(--hggs-color-primary);
  --field-label-after-margin-left-required: var(--hggs-space-horizontal-xs);
  --field-label-margin-bottom: var(--hggs-space-vertical-sm);
}
