.hggs-radio  {
  --radio-size: var(--hggs-form-input-height-xs);
  --radio-border: var(--hggs-form-input-border);
  --radio-border-checked: var(--hggs-form-input-border-checked);
  --radio-inside-border-checked: var(--hggs-border-size-xl) var(--hggs-border-type) var(--hggs-color-primary);
  --radio-inside-border-checked-hover: var(--hggs-border-size-xl) var(--hggs-border-type) var(--hggs-color-primary-hover);
  --radio-inside-border-hover: var(--hggs-border-size-md) var(--hggs-border-type) var(--hggs-color-primary-hover);
  --radio-inside-outline-focus: var(--hggs-form-outline-focus);
  --radio-indise-box-shadow-focus: var(--hggs-form-input-box-shadow-focus);
  --radio-label-margin-left: var(--hggs-space-horizontal-sm);
  --radio-inside-background-color: var(--hggs-color-background);
  --radio-inside-border-bold: var(--hggs-border-size-md) var(--hggs-border-type) var(--hggs-color-border-primary);
  --radio-inside-transition: box-shadow var(--hggs-transition-ease);
  --radio-label-font-family: var(--hggs-font-family);
  --radio-label-font-size: var(--hggs-font-size);
  --radio-label-font-weight: var(--hggs-font-weight);
  --radio-label-font-style: normal;
  --radio-label-color: var(--hggs-color);
}
