.hggs-tag {
  --tag-font-family: var(--hggs-font-family);
  --tag-font-size: var(--hggs-font-size-sm);
  --tag-font-size-small: var(--hggs-font-size-xs);
  --tag-font-weight: var(--hggs-font-weight-xl);
  --tag-text-transform: uppercase;
  --tag-letter-spacing: var(--hggs-font-letter-spacing-sm);
  --tag-text-align: center;
  --tag-background: var(--hggs-color-gray);
  --tag-color: var(--hggs-color-background);
  --tag-padding: var(--hggs-space-horizontal-sm) var(--hggs-space-vertical);
  --tag-padding-small: var(--hggs-space-horizontal-xs) var(--hggs-space-vertical-sm);
  --tag-border-radius: var(--hggs-border-radius-md);
  --tag-border-outline: var(--hggs-border);
  --tag-color-outline: var(--hggs-color-gray);
  --tag-background-subtle: var(--hggs-color-background-subtle);
  --tag-color-subtle: var(--hggs-color-subtle);
  --tag-border-outline-subtle: var(--hggs-border-subtle);
  --tag-color-outline-subtle: var(--hggs-color-subtle);
  --tag-background-primary: var(--hggs-color-primary);
  --tag-color-primary: var(--hggs-color-primary-000);
  --tag-border-outline-primary: var(--hggs-border-primary);
  --tag-color-outline-primary: var(--hggs-color-primary);
  --tag-background-subtle-primary: var(--hggs-color-background-primary-subtle);
  --tag-color-subtle-primary: var(--hggs-color-primary-subtle);
  --tag-border-outline-primary-subtle: var(--hggs-border-primary-subtle);
  --tag-color-outline-primary-subtle: var(--hggs-color-primary-subtle);
  --tag-background-secondary: var(--hggs-color-secondary);
  --tag-color-secondary: var(--hggs-color-secondary-000);
  --tag-border-outline-secondary: var(--hggs-border-secondary);
  --tag-color-outline-secondary: var(--hggs-color-secondary);
  --tag-background-subtle-secondary: var(--hggs-color-background-secondary-subtle);
  --tag-color-subtle-secondary: var(--hggs-color-secondary-subtle);
  --tag-border-outline-secondary-subtle: var(--hggs-border-secondary-subtle);
  --tag-color-outline-secondary-subtle: var(--hggs-color-secondary-subtle);
  --tag-background-tertiary: var(--hggs-color-tertiary);
  --tag-color-tertiary: var(--hggs-color-septenary);
  --tag-border-outline-tertiary: var(--hggs-border-tertiary);
  --tag-color-outline-tertiary: var(--hggs-color-tertiary);
  --tag-background-subtle-tertiary: var(--hggs-color-background-tertiary-subtle);
  --tag-color-subtle-tertiary: var(--hggs-color-tertiary-subtle);
  --tag-border-outline-tertiary-subtle: var(--hggs-border-tertiary-subtle);
  --tag-color-outline-tertiary-subtle: var(--hggs-color-tertiary-subtle);
  --tag-background-quaternary: var(--hggs-color-quaternary);
  --tag-color-quaternary: var(--hggs-color-quinary);
  --tag-border-outline-quaternary: var(--hggs-border-quaternary);
  --tag-color-outline-quaternary: var(--hggs-color-quaternary);
  --tag-background-subtle-quaternary: var(--hggs-color-background-quaternary-subtle);
  --tag-color-subtle-quaternary: var(--hggs-color-quaternary-subtle);
  --tag-border-outline-quaternary-subtle: var(--hggs-border-quaternary-subtle);
  --tag-color-outline-quaternary-subtle: var(--hggs-color-quaternary-subtle);
  --tag-background-quinary: var(--hggs-color-quinary);
  --tag-color-quinary: var(--hggs-color-quaternary);
  --tag-border-outline-quinary: var(--hggs-border-quinary);
  --tag-color-outline-quinary: var(--hggs-color-quinary);
  --tag-background-subtle-quinary: var(--hggs-color-background-quinary-subtle);
  --tag-color-subtle-quinary: var(--hggs-color-quinary-subtle);
  --tag-border-outline-quinary-subtle: var(--hggs-border-quinary-subtle);
  --tag-color-outline-quinary-subtle: var(--hggs-color-quinary-subtle-001);
  --tag-background-senary: var(--hggs-color-senary);
  --tag-color-senary: var(--hggs-color-senary-000);
  --tag-border-outline-senary: var(--hggs-border-senary);
  --tag-color-outline-senary: var(--hggs-color-senary);
  --tag-background-subtle-senary: var(--hggs-color-background-senary-subtle);
  --tag-color-subtle-senary: var(--hggs-color-senary-subtle);
  --tag-border-outline-senary-subtle: var(--hggs-border-senary-subtle);
  --tag-color-outline-senary-subtle: var(--hggs-color-senary-subtle);
}
