.hggs-h1,
.hggs-h2,
.hggs-h3,
.hggs-h4,
.hggs-h5,
.hggs-h6 {
  --title-font-family: var(--hggs-font-family);
  --title-color: var(--hggs-color-gray-008);
  --title-h1-font-family: var(--title-font-family);
  --title-h1-font-size: var(--hggs-font-size-colossal);
  --title-h1-font-weight: var(--hggs-font-weight-md);
  --title-h1-margin: var(--hggs-space-vertical-md) 0 var(--hggs-space-vertical)
    0;
  --title-h2-font-family: var(--title-font-family);
  --title-h2-font-size: var(--hggs-font-size-enormous);
  --title-h2-font-weight: var(--hggs-font-weight-md);
  --title-h2-margin: var(--hggs-space-vertical-md) 0 var(--hggs-space-vertical)
    0;
  --title-h3-font-family: var(--title-font-family);
  --title-h3-font-size: var(--hggs-font-size-tera);
  --title-h3-font-weight: var(--hggs-font-weight-xl);
  --title-h3-margin: var(--hggs-space-vertical) 0 var(--hggs-space-vertical-sm)
    0;
  --title-h4-font-family: var(--title-font-family);
  --title-h4-font-size: var(--hggs-font-size-mega);
  --title-h4-font-weight: var(--hggs-font-weight-xl);
  --title-h4-margin: var(--hggs-space-vertical) 0 var(--hggs-space-vertical-sm)
    0;
  --title-h5-font-family: var(--title-font-family);
  --title-h5-font-size: var(--hggs-font-size-pico);
  --title-h5-font-weight: var(--hggs-font-weight-xl);
  --title-h5-margin: var(--hggs-space-vertical-sm) 0
    var(--hggs-space-vertical-sm) 0;
  --title-h6-font-family: var(--title-font-family);
  --title-h6-font-size: var(--hggs-font-size-big);
  --title-h6-font-weight: var(--hggs-font-weight-xl);
  --title-h6-margin: var(--hggs-space-vertical-sm) 0
    var(--hggs-space-vertical-sm) 0;
}
