%hggs-table-cell {
  display: table-cell;
  padding: var(--table-cell-padding, var(--hggs-space-vertical-small-default));
  text-align: var(--table-cell-text-align, left);
  font-family: var(
    --table-cell-font-family,
    var(--hggs-font-family-primary-default)
  );
  font-weight: var(--table-cell-font-weight, var(--hggs-font-weight-default));
  font-size: var(--table-cell-font-size, var(--hggs-font-size-default));
  color: var(--table-cell-font-color, var(--hggs-color-primary-default));
  border-bottom: var(
    --table-cell-border-bottom,
    var(--hggs-border-senary-default)
  );
  vertical-align: inherit;
}

.hggs-table-wrapper {
  width: 100%;
  overflow-x: auto;
  border-radius: var(
    --table-wrapper-border-radius,
    calc(var(--hggs-border-radius-default) / 2)
  );
  box-shadow: var(--table-wrapper-box-shadow, var(--hggs-shadow-default));

  & .hggs-table {
    width: 100%;
    min-width: var(--table-min-width, 650px);
    display: table;
    border-spacing: 0;
    border-collapse: collapse;

    & .hggs-table-head {
      display: table-header-group;
    }

    & .hggs-table-cell {
      @extend %hggs-table-cell;

      &.hggs-table-cell--capitalize {
        text-transform: capitalize;
      }

      &.hggs-table-cell--bold {
        font-weight: var(
          --table-cell-font-weight-bold,
          var(--hggs-font-weight-bold-default)
        );
      }
    }

    & .hggs-table-cell--head {
      @extend %hggs-table-cell;

      padding: var(
        --table-cell-head-padding,
        var(--hggs-space-vertical-medium-default)
          var(--hggs-space-vertical-medium-default)
      );
      color: var(--table-cell-head-color, var(--hggs-app-color-default));
      font-size: var(
        --table-cell-head-font-size,
        var(--hggs-font-size-default)
      );
      font-weight: var(
        --table-cell-head-font-weight,
        var(--hggs-font-weight-bold-default)
      );
      background: var(
        --table-cell-head-background,
        --hggs-color-auxiliary-gray-000-default
      );
      border-bottom: var(
        --table-cell-head-border-bottom,
        var(--hggs-border-secondary-default)
      );

      &.hggs-table-cell--capitalize {
        text-transform: capitalize;
      }
    }

    & tbody tr {
      &:first-child .hggs-table-cell {
        padding-top: var(
          --table-tbody-first-row-padding-top,
          var(--hggs-space-vertical-small-default)
        );
      }

      &:last-child .hggs-table-cell {
        border-bottom: var(--table-cell-border-bottom-last-child, unset);
      }

      & .hggs-table-cell:first-child {
        padding-left: var(
          --table-tbody-first-column-padding-left,
          var(--hggs-space-vertical-medium-default)
        );
      }
    }
  }
}
