<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js" type="text/javascript"></script>
  <script
    type="text/javascript">WebFont.load({ google: { families: ["DM Sans:regular,italic,500,500italic,700,700italic"] } });</script>
  <title>vzr-table</title>
  <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
</head>

<body>
  <div class="vzr-flex--top-left-column" style="height: 100vh; padding: 30px;">
    <h3 class="vzr-h3">.vzr-table-wrapper .vzr-table</h3>
    <div class="vzr-table-wrapper">
      <table class="vzr-table">
        <thead class="vzr-table-head">
          <tr>
            <th class="vzr-table-cell--head">Name</th>
            <th class="vzr-table-cell--head vzr-table-cell--capitalize">ID</th>
            <th class="vzr-table-cell--head">Country</th>
            <th class="vzr-table-cell--head">Phase</th>
            <th class="vzr-table-cell--head">Days Left</th>
            <th class="vzr-table-cell--head">Progress</th>
            <th class="vzr-table-cell--head">Due Date</th>
            <th class="vzr-table-cell--head">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="vzr-table-cell">GRIF_114_3 VAL CS11721</td>
            <td class="vzr-table-cell">124536845136</td>
            <td class="vzr-table-cell vzr-table-cell--bold">USA</td>
            <td class="vzr-table-cell">Preparation</td>
            <td class="vzr-table-cell">10</td>
            <td class="vzr-table-cell">20%</td>
            <td class="vzr-table-cell">31.12.2021</td>
            <td class="vzr-table-cell">...</td>
          </tr>
          <tr>
            <td class="vzr-table-cell">GRIF_114_3 VAL CS11721</td>
            <td class="vzr-table-cell">124536845136</td>
            <td class="vzr-table-cell vzr-table-cell--bold">Germany</td>
            <td class="vzr-table-cell">Pending</td>
            <td class="vzr-table-cell">2</td>
            <td class="vzr-table-cell">20%</td>
            <td class="vzr-table-cell">31.12.2021</td>
            <td class="vzr-table-cell">...</td>
          </tr>
          <tr>
            <td class="vzr-table-cell">GRIF_114_3 VAL CS11721</td>
            <td class="vzr-table-cell">124536845136</td>
            <td class="vzr-table-cell vzr-table-cell--bold">Spain</td>
            <td class="vzr-table-cell">Complete</td>
            <td class="vzr-table-cell">0</td>
            <td class="vzr-table-cell">100%</td>
            <td class="vzr-table-cell">31.12.2021</td>
            <td class="vzr-table-cell">...</td>
          </tr>
          <tr>
            <td class="vzr-table-cell">GRIF_114_3 VAL CS11721</td>
            <td class="vzr-table-cell">124536845136</td>
            <td class="vzr-table-cell vzr-table-cell--bold">USA</td>
            <td class="vzr-table-cell">Complete</td>
            <td class="vzr-table-cell">0</td>
            <td class="vzr-table-cell">100%</td>
            <td class="vzr-table-cell">31.12.2021</td>
            <td class="vzr-table-cell">...</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
