.hggs-box {
  width: 100%;
  height: auto;
  min-height: var(--box-min-height, --box-min-height-default);
  background: var(--box-background, --box-background-default);
  box-shadow: var(--box-box-shadow, --box-box-shadow-default);
  padding: var(--box-padding, --box-padding-default);

  & .hggs-box-header {
    border-bottom: var(
      --box-header-border-bottom,
      --box-header-border-bottom-default
    );
    padding: var(--box-header-padding, --box-header-padding-default);
  }

  & .hggs-box-title {
    @extend .hggs-h4;

    font-size: var(--box-title-font-size, --box-title-font-size-default);
    margin-top: var(--box-title-margin-top, --box-title-margin-top-default);
  }

  & .hggs-box-body {
    padding: var(--box-body-padding, --box-body-padding-default);

    & > *:first-child {
      margin-top: unset;
    }
  }

  /************************************/
  /*                                  */
  /*   hggs-box--rounded              */
  /*                                  */
  /************************************/

  &.hggs-box--rounded{
    border-radius: var(
      --box-border-radius-with-radius,
      --box-border-radius-with-radius-default
    );
  }

  /************************************/
  /*                                  */
  /*   hggs-box--{variant}            */
  /*                                  */
  /************************************/

  &.hggs-box--primary {
    background: var(--box-background-primary, --hggs-color-auxiliary-gray-000);
    border: var(--box-border-primary, --hggs-color-auxiliary-gray-005);

    & .hggs-box-header {
      border-bottom: var(
        --box-header-border-bottom-primary,
        --hggs-color-auxiliary-gray-003
      );

      & .hggs-box-title {
        color: var(--box-title-color-primary, --hggs-color-auxiliary-gray-005);
      }
    }
  }
}
