<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>vzr-box</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body
    class="hggs-flex--top-left-column"
    style="width: 100vw; height: 100vh; padding: 30px"
  >
    <div
      class="hggs-flex--top-left-column"
      style="width: 100%; padding: 30px; background: #f6f7f9"
    >
      <!-- .vzr-box-->
      <h3 class="hggs-h3" style="margin-bottom: 20px">.vzr-box</h3>
      <div class="hggs-box"></div>

      <!-- box with header and body -->
      <h6 class="hggs-h6" style="margin-top: 15px">box with header and body</h6>
      <div class="hggs-box" style="margin-top: 30px">
        <header class="hggs-box-header">
          <h3 class="hggs-box-title">Title</h3>
        </header>
      </div>
    </div>

    <div
      class="hggs-flex--top-left-column"
      style="width: 100%; padding: 30px; background: #f6f7f9"
    >
      <!-- .vzr-box.vzr-box--primary -->
      <h3 class="hggs-h3" style="margin-bottom: 20px">
        .vzr-box.vzr-box--primary
      </h3>
      <div class="hggs-box vzr-box--primary"></div>

      <!-- box primary with header and body -->
      <h6 class="hggs-h6" style="margin-top: 15px">
        box primary with header and body
      </h6>
      <div class="hggs-box vzr-box--primary" style="margin-top: 30px">
        <header class="hggs-box-header">
          <h3 class="hggs-box-title vzr-box-title--primary">Title</h3>
        </header>
      </div>
    </div>

    <div
      class="hggs-flex--top-left-column"
      style="width: 100%; padding: 30px; background: #f6f7f9"
    >
      <!-- .vzr-box.vzr-box--border-radius -->
      <h3 class="hggs-h3" style="margin-bottom: 20px">
        .vzr-box.vzr-box--border-radius
      </h3>
      <div class="hggs-box vzr-box--with-radius"></div>

      <!-- box with header and body -->
      <h6 class="hggs-h6" style="margin-top: 15px">box with header and body</h6>
      <div class="hggs-box vzr-box--with-radius" style="margin-top: 30px">
        <header class="hggs-box-header">
          <h3 class="hggs-box-title">Title</h3>
        </header>
        <section class="hggs-box-body">
          <p class="hggs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            euismod sapien eget turpis lobortis rutrum. Vivamus aliquet, odio
            accumsan molestie lobortis, dui mi ornare lectus, ac pretium urna
            nisi ut mi. Praesent quis turpis dolor. Curabitur viverra iaculis
            risus, in aliquam orci rutrum sit amet. Maecenas efficitur ex non
            eros vehicula dapibus. Fusce dignissim pretium quam ut venenatis. Ut
            non scelerisque lectus.
          </p>
        </section>
      </div>

      <!-- box primary with round borders-->
      <h6 class="hggs-h6" style="margin-top: 15px">
        box primary with round borders
      </h6>
      <div
        class="hggs-box vzr-box--with-radius vzr-box--primary"
        style="margin-top: 30px"
      ></div>

      <!-- box primary with round borders, header and body-->
      <h6 class="hggs-h6" style="margin-top: 15px">
        box primary with round borders, header and body
      </h6>
      <div
        class="hggs-box vzr-box--with-radius vzr-box--primary"
        style="margin-top: 30px"
      >
        <header class="hggs-box-header">
          <h3 class="hggs-box-title vzr-box-title--primary">Title</h3>
        </header>
        <section class="hggs-box-body">
          <p class="hggs-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum
            euismod sapien eget turpis lobortis rutrum. Vivamus aliquet, odio
            accumsan molestie lobortis, dui mi ornare lectus, ac pretium urna
            nisi ut mi. Praesent quis turpis dolor. Curabitur viverra iaculis
            risus, in aliquam orci rutrum sit amet. Maecenas efficitur ex non
            eros vehicula dapibus. Fusce dignissim pretium quam ut venenatis. Ut
            non scelerisque lectus.
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
