<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>vzr-icon</title>
  <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
</head>

<body>
  <div class="vzr-flex--top-left-column" style="height: 100vh; padding: 30px;">
    <article style="margin-bottom: 30px;">
        <h3 class="vzr-h3">.vzr-icon.vzr-icon--user</h3>
        <div class="vzr-flex--top-left-row">
          <span class="vzr-icon vzr-icon--user"></span>
          <span class="vzr-icon vzr-icon--user vzr-icon--color-secondary" style="margin-left: 10px;"></span>
        </div>
    </article>

    <article style="margin-bottom: 30px;">
      <h3 class="vzr-h3">.vzr-icon.vzr-icon--question</h3>
        <div class="vzr-flex--top-left-row">
          <span class="vzr-icon vzr-icon--question"></span>
          <span class="vzr-icon vzr-icon--question vzr-icon--color-secondary" style="margin-left: 10px;"></span>
        </div>
    </article>

    <article style="margin-bottom: 30px;">
      <h3 class="vzr-h3">.vzr-icon.vzr-icon--log-out</h3>
      <div class="vzr-flex--top-left-row">
        <span class="vzr-icon vzr-icon--log-out"></span>
        <span class="vzr-icon vzr-icon--log-out vzr-icon--color-secondary" style="margin-left: 10px;"></span>
      </div>
    </article>

    <article>
      <h3 class="vzr-h3">.vzr-icon.vzr-icon--hamburger-menu</h3>
      <div class="vzr-flex--top-left-row">
        <span class="vzr-icon vzr-icon--hamburger-menu"></span>
        <span class="vzr-icon vzr-icon--hamburger-menu vzr-icon--color-secondary" style="margin-left: 10px;"></span>
      </div>
    </article>
  </div>
</body>

</html>
