<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-icon</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="../../../dist/higgsboson.css"
    />

    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/underscore@1.13.1/underscore-umd-min.js"
    ></script>

    <script type="text/javascript" src="../../helpers/classes.js"></script>
    <script type="text/javascript" src="../../helpers/styles.js"></script>

    <script type="text/javascript" src="./icons.metadata.js"></script>

    <script id="template" type="text/template">
      <h1 class="hggs-h1" style="margin-top: 0"><%= data.title %></h1>

      <!-- default icon labeled -->

      <% _.each(data.default, function(i) { %>
        <%
          const articleIconStyle = _.reduce(i?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerIconStyle = _.reduce(i?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const iconStyle = _.reduce(i?.styles?.icon, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleIconStyle %>">
          <h3 class="hggs-h3" style="<%= headerIconStyle %>">
            <%= i.title %>
          </h3>

          <div class="hggs-flex--top-left-row">
            <% _.each(i?.classes?.icon?.base, function(ibc) { %>
              <%
                let defaultIconClass = _.reduce(ibc, (acc, c) => {
                  if (!acc) {
                    return c;
                  }

                  return acc + ' ' + c;
                }, '');

                if (i?.classes?.icon?.modifier) {
                  defaultIconClass = defaultIconClass + " " + i.classes.icon.modifier;
                }
              %>

              <span class="<%= defaultIconClass %>" style="<%= iconStyle %>"></span>
            <% }) %>
          </div>

          <% _.each(i?.classes?.icon?.sizes, function(isc) { %>
            <div class="hggs-flex--top-left-row">
              <% _.each(i?.classes?.icon?.base, function(ibc) { %>
                <%
                  let defaultIconClass = _.reduce(ibc, (acc, c) => {
                    if (!acc) {
                      return c;
                    }

                    return acc + ' ' + c;
                  }, '');

                  if (i?.classes?.icon?.modifier) {
                    defaultIconClass = defaultIconClass + " " + i.classes.icon.modifier;
                  }

                  defaultIconClass = defaultIconClass + " " + isc;
                %>

                <span class="<%= defaultIconClass %>" style="<%= iconStyle %>"></span>
              <% }) %>
            </div>
          <% }) %>
        </article>
      <% }) %>

      <!-- icon labeled -->

      <% _.each(data.default, function(i) { %>
        <%
          const articleIconStyle = _.reduce(i?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerIconStyle = _.reduce(i?.styles?.headerWithSubtitle, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderIconWithLabelStyle = _.reduce(i?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const iconLabeledStyle = _.reduce(i?.styles?.iconLabeled, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleIconStyle %>">
          <h3 class="hggs-h3" style="<%= headerIconStyle %>">
            icon-wrapper
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderIconWithLabelStyle %>">
            <%= i.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-row">
            <% _.each(i?.classes?.icon?.base, function(ibc) { %>
              <%
                let defaultIconClass = _.reduce(ibc, (acc, c) => {
                  if (!acc) {
                    return c;
                  }

                  return acc + ' ' + c;
                }, '');

                if (i?.classes?.icon?.modifier) {
                  defaultIconClass = defaultIconClass + " " + i.classes.icon.modifier;
                }
              %>

              <div class="hggs-icon-wrapper" style="<%= iconLabeledStyle %>">
                <span class="<%= defaultIconClass %>"></span>
                <span class="hggs-icon-label">This is a label</span>
              </div>
            <% }) %>
          </div>
        </article>
      <% }) %>

      <!-- icon circle -->

       <% _.each(data.circleIcons, (c) => { %>
        <%
          const articleCircleIconsStyle = _.reduce(c?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerCircleIconsStyle = _.reduce(c?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderCircleIconsStyle = _.reduce(c?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const circleIconStyle = _.reduce(c?.styles?.circleIcon, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleCircleIconsStyle %>">
          <h3 class="hggs-h3" style="<%= headerCircleIconsStyle %>">
            <%= c.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderCircleIconsStyle %>">
            <%= c.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-column">
            <div class="hggs-flex--top-left-row">
              <%
                const circleWrapperClass = _.reduce(c.classes.wrapper, (acc, bc) => {
                  if (!acc) {
                    return bc;
                  }

                  return acc + ' ' + bc;
                }, '');
              %>

              <% _.each(c.classes.span, (spanClasses, index) => { %>
                <%
                  const circleSpanClass = _.reduce(spanClasses, (acc, spc) => {
                    if (!acc) {
                      return spc;
                    }

                    return acc + ' ' + spc;
                  }, '');
                %>

                <div class="<%= circleWrapperClass %>" style="<%= circleIconStyle %>" />
                  <span class="<%= circleSpanClass %>"></span>
                </div>
              <% }); %>
            </div>

            <% _.each(c.extraClasses.sizes, (iconSizesClass, index) => { %>
              <div class="hggs-flex--top-left-row">
                <%
                  const circleWrapperClass = _.reduce(c.classes.wrapper, (acc, bc) => {
                    if (!acc) {
                      return bc;
                    }

                    return acc + ' ' + bc;
                  }, '');

                  const circleWrapperSizeClass = circleWrapperClass + ' ' + iconSizesClass;

                  const circleIconStyle = _.reduce(c?.styles?.circleIcon, (acc, s) => {
                    if (!acc) {
                      return s;
                    }

                    return acc + '; ' + s;
                  }, '');
                %>

                <% _.each(c.classes.span, (spanClasses, index) => { %>
                  <%
                    const circleSpanClass = _.reduce(spanClasses, (acc, cpc) => {
                      if (!acc) {
                        return cpc;
                      }

                      return acc + ' ' + cpc;
                    }, '');
                  %>

                  <div class="<%= circleWrapperSizeClass %>" style="<%= circleIconStyle %>" />
                    <span class="<%= circleSpanClass %>"></span>
                  </div>
                <% }); %>
              </div>
            <% }); %>
          </div>
        </article>
      <% }); %>

      <!-- icon square -->

      <% _.each(data.squareIcons, (c) => { %>
        <%
          const articleSquareIconsStyle = _.reduce(c?.styles?.article, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const headerSquareIconsStyle = _.reduce(c?.styles?.header, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const subHeaderSquareIconsStyle = _.reduce(c?.styles?.subheader, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');

          const squareIconStyle = _.reduce(c?.styles?.squareIcon, (acc, s) => {
            if (!acc) {
              return s;
            }

            return acc + '; ' + s;
          }, '');
        %>

        <article style="<%= articleSquareIconsStyle %>">
          <h3 class="hggs-h3" style="<%= headerSquareIconsStyle %>">
            <%= c.title %>
          </h3>

          <h4 class="hggs-h4" style="<%= subHeaderSquareIconsStyle %>">
            <%= c.subtitle %>
          </h4>

          <div class="hggs-flex--top-left-column">
            <div class="hggs-flex--top-left-row">
              <%
                const squareWrapperClass = _.reduce(c.classes.wrapper, (acc, bc) => {
                  if (!acc) {
                    return bc;
                  }

                  return acc + ' ' + bc;
                }, '');
              %>

              <% _.each(c.classes.span, (spanClasses, index) => { %>
                <%
                  const squareSpanClass = _.reduce(spanClasses, (acc, spc) => {
                    if (!acc) {
                      return spc;
                    }

                    return acc + ' ' + spc;
                  }, '');
                %>

                <div class="<%= squareWrapperClass %>" style="<%= squareIconStyle %>" />
                  <span class="<%= squareSpanClass %>"></span>
                </div>
              <% }); %>
            </div>

            <% _.each(c.extraClasses.sizes, (iconSizesClass, index) => { %>
              <div class="hggs-flex--top-left-row">
                <%
                  const squareWrapperClass = _.reduce(c.classes.wrapper, (acc, bc) => {
                    if (!acc) {
                      return bc;
                    }

                    return acc + ' ' + bc;
                  }, '');

                  const squareWrapperSizeClass = squareWrapperClass + ' ' + iconSizesClass;

                  const squareIconStyle = _.reduce(c?.styles?.squareIcon, (acc, s) => {
                    if (!acc) {
                      return s;
                    }

                    return acc + '; ' + s;
                  }, '');
                %>

                <% _.each(c.classes.span, (spanClasses, index) => { %>
                  <%
                    const squareSpanClass = _.reduce(spanClasses, (acc, cpc) => {
                      if (!acc) {
                        return cpc;
                      }

                      return acc + ' ' + cpc;
                    }, '');
                  %>

                  <div class="<%= squareWrapperSizeClass %>" style="<%= squareIconStyle %>" />
                    <span class="<%= squareSpanClass %>"></span>
                  </div>
                <% }); %>
              </div>
            <% }); %>
          </div>
        </article>
      <% }); %>
    </script>
  </head>

  <body
    id="body"
    class="hggs-app hggs-flex--top-left-column"
    style="width: 100%; height: 100%; padding: 30px"
  ></body>
  <script type="text/javascript" src="../../helpers/render.js"></script>
</html>
