%hggs-icon-default {
  filter: var(--icon-filter, var(--hggs-filter-default));
}

%hggs-icon-primary {
  filter: var(--icon-filter-primary, var(--hggs-filter-primary-default));
}

%hggs-icon-secondary {
  filter: var(--icon-filter-secondary, var(--hggs-filter-secondary-default));
}

%hggs-icon-tertiary {
  filter: var(--icon-filter-tertiary, var(--hggs-filter-tertiary-default));
}

%hggs-icon-quaternary {
  filter: var(--icon-filter-quaternary, var(--hggs-filter-quaternary-default));
}

%hggs-icon-quinary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-senary {
  filter: var(--icon-filter-senary, var(--hggs-filter-senary-default));
}

%hggs-icon-box-default {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-box-primary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-box-secondary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-box-tertiary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-box-quaternary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-box-quinary {
  filter: var(--icon-filter-quaternary, var(--hggs-filter-quaternary-default));
}

%hggs-icon-box-senary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-outline-default {
  filter: var(--icon-filter, var(--hggs-filter-quaternary-default));
}

%hggs-icon-outline-primary {
  filter: var(--icon-filter-primary, var(--hggs-filter-primary-default));
}

%hggs-icon-outline-secondary {
  filter: var(--icon-filter-secondary, var(--hggs-filter-secondary-default));
}

%hggs-icon-outline-tertiary {
  filter: var(--icon-filter-tertiary, var(--hggs-filter-tertiary-default));
}

%hggs-icon-outline-quaternary {
  filter: var(--icon-filter-quaternary, var(--hggs-filter-quaternary-default));
}

%hggs-icon-outline-quinary {
  filter: var(--icon-filter-quinary, var(--hggs-filter-quinary-default));
}

%hggs-icon-outline-senary {
  filter: var(--icon-filter-senary, var(--hggs-filter-senary-default));
}

%hggs-icon-label-quinary {
  color: var(--icon-label-quinary-color, var(--hggs-color-quinary-default));
}

%hggs-icon-small {
  width: var(--icon-size-small, var(--hggs-icon-size-small-default));
  height: var(--icon-size-small, var(--hggs-icon-size-small-default));
}

%hggs-icon-micro {
  width: var(--icon-size-micro, var(--hggs-icon-size-micro-default));
  height: var(--icon-size-micro, var(--hggs-icon-size-micro-default));
}

%hggs-icon-box-small {
  padding: var(
    --icon-box-padding-small,
    calc(var(--hggs-space-vertical-small-default) * 1.25)
  );

  & .hggs-icon {
    @extend %hggs-icon-small;
  }
}

%hggs-icon-box-micro {
  padding: var(
    --icon-box-padding-micro,
    calc(var(--hggs-space-vertical-micro-default) * 1.5)
  );

  & .hggs-icon {
    @extend %hggs-icon-micro;
  }
}

%hggs-icon-box-square {
  border-radius: 0;
}

%hggs-icon-box-circle {
  border-radius: 50%;
}

%hggs-icon-box-outline {
  background: transparent;
  border: var(--icon-outline-border, var(--hggs-border-primary-default));

  & .hggs-icon {
    @extend %hggs-icon-outline-default;
  }

  &.hggs-icon--primary {
    background: transparent;
    border: var(
      --icon-outline-border-primary,
      var(--hggs-border-primary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-primary;
    }
  }

  &.hggs-icon--secondary {
    background: transparent;
    border: var(
      --icon-outline-border-secondary,
      var(--hggs-border-secondary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-secondary;
    }
  }

  &.hggs-icon--tertiary {
    background: transparent;
    border: var(
      --icon-outline-border-tertiary,
      var(--hggs-border-tertiary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-tertiary;
    }
  }

  &.hggs-icon--quaternary {
    background: transparent;
    border: var(
      --icon-outline-border-quaternary,
      var(--hggs-border-quaternary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-quaternary;
    }
  }

  &.hggs-icon--quinary {
    background: transparent;
    border: var(
      --icon-outline-border-quinary,
      var(--hggs-border-quinary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-quinary;
    }
  }

  &.hggs-icon--senary {
    background: transparent;
    border: var(
      --icon-outline-border-senary,
      var(--hggs-border-senary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-outline-senary;
    }
  }
}

%hggs-icon-box {
  width: auto;
  height: auto;
  padding: var(--icon-box-padding, var(--hggs-space-vertical-medium-default));

  & .hggs-icon {
    @extend %hggs-icon-box-default;
  }

  &.hggs-icon--small {
    @extend %hggs-icon-box-small;
  }

  &.hggs-icon--micro {
    @extend %hggs-icon-box-micro;
  }

  &.hggs-icon--primary {
    background: var(
      --icon-box-background-primary,
      var(--hggs-color-primary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-primary;
    }
  }

  &.hggs-icon--secondary {
    background: var(
      --icon-box-background-secondary,
      var(--hggs-color-secondary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-secondary;
    }
  }

  &.hggs-icon--tertiary {
    background: var(
      --icon-box-background-tertiary,
      var(--hggs-color-tertiary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-tertiary;
    }
  }

  &.hggs-icon--quaternary {
    background: var(
      --icon-box-background-quaternary,
      var(--hggs-color-quaternary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-quaternary;
    }
  }

  &.hggs-icon--quinary {
    background: var(
      --icon-box-background-quinary,
      var(--hggs-color-quinary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-quinary;
    }
  }

  &.hggs-icon--senary {
    background: var(
      --icon-box-background-senary,
      var(--hggs-color-senary-default)
    );

    & .hggs-icon {
      @extend %hggs-icon-box-senary;
    }
  }
}

.hggs-icon-wrapper {
  @extend .hggs-flex--center-left-row;

  & .hggs-icon + .hggs-icon-label {
    flex: 1;
    font-family: var(
      --icon-label-font-family,
      var(--hggs-font-family-primary-default)
    );
    font-weight: var(
      --icon-label-font-weigth,
      var(--hggs-font-weight-medium-default)
    );
    font-size: var(--icon-label-font-size, var(--hggs-font-size-default));
    color: var(--icon-label-color, var(--hggs-color-quaternary-default));
    text-align: var(--icon-label-text-align, left);
    margin-left: var(
      --icon-label-margin-left,
      var(--hggs-space-vertical-small-default)
    );
    margin-top: auto;
    margin-bottom: auto;
  }

  & .hggs-icon.hggs-icon--quinary + .hggs-icon-label {
    @extend %hggs-icon-label-quinary;
  }

  &.hggs-icon--circle {
    @extend %hggs-icon-box;
    @extend %hggs-icon-box-circle;

    background: var(
      --icon-box-background,
      var(--hggs-color-quaternary-default)
    );
    border: unset;

    &.hggs-icon--outline {
      @extend %hggs-icon-box-outline;
    }
  }

  &.hggs-icon--square {
    @extend %hggs-icon-box;
    @extend %hggs-icon-box-square;

    background: var(
      --icon-box-background,
      var(--hggs-color-quaternary-default)
    );
    border: unset;

    &.hggs-icon--outline {
      @extend %hggs-icon-box-outline;
    }
  }
}

.hggs-icon {
  @extend %hggs-icon-default;

  display: block;
  width: var(--icon-size, var(--hggs-icon-size-default));
  height: var(--icon-size, var(--hggs-icon-size-default));

  &.hggs-icon--user {
    background: var(--icon-user, var(--hggs-icon-user-default)) no-repeat center;
  }

  &.hggs-icon--question {
    background: var(--icon-question, var(--hggs-icon-question-default))
      no-repeat center;
  }

  &.hggs-icon--log-out {
    background: var(--icon-log-out, var(--hggs-icon-log-out-default)) no-repeat
      center;
  }

  &.hggs-icon--hamburger-menu {
    background: var(
        --icon-hamburger-menu,
        var(--hggs-icon-hamburger-menu-default)
      )
      no-repeat center;
  }

  &.hggs-icon--edit {
    background: var(--icon-edit, var(--hggs-icon-edit-default)) no-repeat center;
  }

  &.hggs-icon--close {
    background: var(--icon-close, var(--hggs-icon-close-default)) no-repeat
      center;
  }

  &.hggs-icon--plus {
    background: var(--icon-plus, var(--hggs-icon-plus-default)) no-repeat center;
  }

  &.hggs-icon--chevron-down {
    background: var(--icon-chevron-down, var(--hggs-icon-chevron-down-default))
      no-repeat center;
  }

  &.hggs-icon--primary {
    @extend %hggs-icon-primary;
  }

  &.hggs-icon--secondary {
    @extend %hggs-icon-secondary;
  }

  &.hggs-icon--tertiary {
    @extend %hggs-icon-tertiary;
  }

  &.hggs-icon--quaternary {
    @extend %hggs-icon-quaternary;
  }

  &.hggs-icon--quinary {
    @extend %hggs-icon-quinary;
  }

  &.hggs-icon--senary {
    @extend %hggs-icon-senary;
  }

  &.hggs-icon--small {
    @extend %hggs-icon-small;
  }

  &.hggs-icon--micro {
    @extend %hggs-icon-micro;
  }
}
