<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>hggs-icon</title>
    <link rel="stylesheet" type="text/css" href="../../../dist/vizor.css" />
  </head>

  <body>
    <div
      class="hggs-flex--top-left-column"
      style="height: 100vh; padding: 30px"
    >
      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--user</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--user"></span>
          <span
            class="hggs-icon hggs-icon--user hggs-icon--hggs-color-secondary"
            style="margin-left: 10px"
          ></span>
        </div>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--question</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--question"></span>
          <span
            class="
              hggs-icon hggs-icon--question hggs-icon--hggs-color-secondary
            "
            style="margin-left: 10px"
          ></span>
        </div>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--log-out</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--log-out"></span>
          <span
            class="hggs-icon hggs-icon--log-out hggs-icon--hggs-color-secondary"
            style="margin-left: 10px"
          ></span>
        </div>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--hamburger-menu</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--hamburger-menu"></span>
          <span
            class="
              hggs-icon
              hggs-icon--hamburger-menu
              hggs-icon--hggs-color-secondary
            "
            style="margin-left: 10px"
          ></span>
        </div>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--edit</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--edit"></span>
          <span
            class="hggs-icon hggs-icon--edit hggs-icon--hggs-color-secondary"
            style="margin-left: 10px"
          ></span>
        </div>
      </article>

      <article style="margin-bottom: 30px">
        <h3 class="hggs-h3">.hggs-icon.hggs-icon--close</h3>
        <div class="hggs-flex--top-left-row">
          <span class="hggs-icon hggs-icon--close"></span>
          <span
            class="hggs-icon hggs-icon--close hggs-icon--hggs-color-secondary"
            style="margin-left: 10px"
          ></span>
        </div>
      </article>
    </div>
  </body>
</html>
