.hggs-tag {
  --tag-font-family: var(--hggs-font-family-secondary);
  --tag-font-size: var(--hggs-font-size-xs);
  --tag-font-size-small: var(--hggs-font-size-2xs);
  --tag-font-weight: var(--hggs-font-weight);
  --tag-text-transform: uppercase;
  --tag-letter-spacing: var(--hggs-font-letter-spacing-sm);
  --tag-text-align: center;
  --tag-background: var(--hggs-color-background-gray);
  --tag-color: var(--hggs-color-gray);
  --tag-padding: var(--hggs-space-2xs) var(--hggs-space-xs);
  --tag-padding-small: var(--hggs-space-3xs) var(--hggs-space-2xs);
  --tag-border-radius: var(--hggs-border-radius-md);
  --tag-border-outline: var(--hggs-border-gray-outline);
  --tag-color-outline: var(--hggs-color-gray-outline);
  --tag-background-subtle: var(--hggs-color-background-gray-subtle);
  --tag-color-subtle: var(--hggs-color-gray-subtle);
  --tag-border-outline-subtle: var(--hggs-border-gray-outline-subtle);
  --tag-color-outline-subtle: var(--hggs-color-gray-outline-subtle);
  --tag-background-primary: var(--hggs-color-background-primary);
  --tag-color-primary: var(--hggs-color-primary);
  --tag-border-outline-primary: var(--hggs-border-primary-outline);
  --tag-color-outline-primary: var(--hggs-color-primary-outline);
  --tag-background-subtle-primary: var(--hggs-color-background-primary-subtle);
  --tag-color-subtle-primary: var(--hggs-color-primary-subtle);
  --tag-border-outline-primary-subtle: var(--hggs-border-primary-outline-subtle);
  --tag-color-outline-primary-subtle: var(--hggs-color-primary-outline-subtle);
  --tag-background-secondary: var(--hggs-color-background-secondary);
  --tag-color-secondary: var(--hggs-color-secondary);
  --tag-border-outline-secondary: var(--hggs-border-secondary-outline);
  --tag-color-outline-secondary: var(--hggs-color-secondary-outline);
  --tag-background-subtle-secondary: var(--hggs-color-background-secondary-subtle);
  --tag-color-subtle-secondary: var(--hggs-color-secondary-subtle);
  --tag-border-outline-secondary-subtle: var(--hggs-border-secondary-outline-subtle);
  --tag-color-outline-secondary-subtle: var(--hggs-color-secondary-outline-subtle);
  --tag-background-tertiary: var(--hggs-color-background-tertiary);
  --tag-color-tertiary: var(--hggs-color-tertiary);
  --tag-border-outline-tertiary: var(--hggs-border-tertiary-outline);
  --tag-color-outline-tertiary: var(--hggs-color-tertiary-outline);
  --tag-background-subtle-tertiary: var(--hggs-color-background-tertiary-subtle);
  --tag-color-subtle-tertiary: var(--hggs-color-tertiary-subtle);
  --tag-border-outline-tertiary-subtle: var(--hggs-border-tertiary-outline-subtle);
  --tag-color-outline-tertiary-subtle: var(--hggs-color-tertiary-outline-subtle);
  --tag-background-quaternary: var(--hggs-color-quaternary);
  --tag-color-quaternary: var(--hggs-color-quinary);
  --tag-border-outline-quaternary: var(--hggs-border-quaternary-outline);
  --tag-color-outline-quaternary: var(--hggs-color-quaternary-outline);
  --tag-background-subtle-quaternary: var(--hggs-color-background-quaternary-subtle);
  --tag-color-subtle-quaternary: var(--hggs-color-quaternary-subtle);
  --tag-border-outline-quaternary-subtle: var(--hggs-border-quaternary-outline-subtle);
  --tag-color-outline-quaternary-subtle: var(--hggs-color-quaternary-outline-subtle);
  --tag-background-quinary: var(--hggs-color-quinary);
  --tag-color-quinary: var(--hggs-color-quaternary);
  --tag-border-outline-quinary: var(--hggs-border-quinary-outline);
  --tag-color-outline-quinary: var(--hggs-color-quinary-outline);
  --tag-background-subtle-quinary: var(--hggs-color-gray-005);
  --tag-color-subtle-quinary: var(--hggs-color-quinary-subtle);
  --tag-border-outline-quinary-subtle: var(--hggs-border-quinary-outline-subtle);
  --tag-color-outline-quinary-subtle: var(--hggs-color-quinary-outline-subtle);
  --tag-background-senary: var(--hggs-color-background-senary);
  --tag-color-senary: var(--hggs-color-senary);
  --tag-border-outline-senary: var(--hggs-border-senary-outline);
  --tag-color-outline-senary: var(--hggs-color-senary-outline);
  --tag-background-subtle-senary: var(--hggs-color-background-senary-subtle);
  --tag-color-subtle-senary: var(--hggs-color-senary-subtle);
  --tag-border-outline-senary-subtle: var(--hggs-border-senary-outline-subtle);
  --tag-color-outline-senary-subtle: var(--hggs-color-senary-outline-subtle);
}
